{{> head ~}}

{{> header ~}}

<section class="documentation section">
    <div class="container">
        <h1>{{page.title}}</h1>
        <div class="row">
            <div class="col-lg-12">

                {{#markdown}}
                    {{> body }}
                {{/markdown ~}}

                <p>
                    <i class="fa fa-home"></i>
                    <a href="/docs/">Back to the documentation overview</a>
                </p>
            </div>
        </div>
    </div>
</section>


<script src="/assets/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

{{> footer ~}}

{{> scripts ~}}