/* ======= Base ======= */
body {
  font-family: 'Lato', arial, sans-serif;
  color: #444444;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f5f5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', arial, sans-serif;
  font-weight: 700;
  color: #26282a;
}
a {
  color: #ed6a36;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a:hover {
  text-decoration: underline;
  color: #dc4d14;
}
.btn,
a.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-family: 'Montserrat', arial, sans-serif;
  padding: 8px 16px;
  font-weight: bold;
}
.btn .fa,
a.btn .fa {
  margin-right: 5px;
}
.btn:focus,
a.btn:focus {
  color: #fff;
}
a.btn-cta-primary,
.btn-cta-primary {
  background: #000000;
  border: 1px solid #000000;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
a.btn-cta-primary:hover,
.btn-cta-primary:hover {
  background: #000000;
  border: 1px solid #000000;
  color: #fff;
}
a.btn-cta-secondary,
.btn-cta-secondary {
  background: #ed6a36;
  border: 1px solid #ed6a36;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
a.btn-cta-secondary:hover,
.btn-cta-secondary:hover {
  background: #eb591f;
  border: 1px solid #eb591f;
  color: #fff;
}
.text-highlight {
  color: #000000;
}
.offset-header {
  padding-top: 90px;
}
pre code {
  font-size: 16px;
}
/**
 * Header
 *
 */
.header {
  padding: 10px 0;
  background: #26282a;
  color: #f5f5f5;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.header.navbar-fixed-top {
  background: #fff;
  z-index: 9999;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.header.navbar-fixed-top .logo a {
  color: #26282a;
}
.header.navbar-fixed-top .main-nav .nav .nav-item a {
  color: #666666;
}
.header .logo {
  margin: 0;
  font-size: 26px;
  padding-top: 10px;
}
.header .logo a {
  color: #fff;
}
.header .logo a:hover {
  text-decoration: none;
}
.header .main-nav {
  margin-top: 10px;
}
.header .main-nav button {
  background: #000000;
  color: #fff !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.header .main-nav button:focus {
  outline: none;
}
.header .main-nav button .icon-bar {
  background-color: #fff;
}
.header .main-nav .navbar-collapse {
  padding: 0;
}
.header .main-nav .nav .nav-item {
  font-weight: normal;
  margin-right: 20px;
  font-family: 'Montserrat', sans-serif;
}
.header .main-nav .nav .nav-item.active a {
  background: #f5f5f5;
  color: #ed6a36;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.header .main-nav .nav .nav-item a {
  font-weight: 200;
  color: #ed6a36;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  font-size: 14px;
  padding: 10px 10px;
}
.header .main-nav .nav .nav-item a:hover {
  background: #f5f5f5;
  color: #26282a;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.header .main-nav .nav .nav-item a:focus {
  outline: none;
  background: none;
}
.header .main-nav .nav .nav-item a:active {
  outline: none;
  background: none;
}
.header .main-nav .nav .nav-item.active {
  color: #71270a;
}
.header .main-nav .nav .nav-item.last {
  margin-right: 0;
}
/**
 * Promo Section on start page
 *
 */
.promo {
  background: url("../images/background.png") repeat;
  color: #fff;
  padding-top: 150px;
}
.promo .title {
  font-size: 98px;
  color: #b3b3b3;
  margin-top: 0;
}
.promo .title .highlight {
  color: #ed6a36;
}
.promo .intro {
  font-size: 28px;
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.promo .btns .btn {
  margin-right: 15px;
  font-size: 18px;
  padding: 8px 30px;
}
.promo .love-phpmyfaq {
  margin-top: 120px;
  margin-bottom: 30px;
}
.promo .meta {
  margin-bottom: 30px;
  color: #c2c2c2;
}
.promo .meta li {
  margin-right: 15px;
  padding: 4px;
  background: #f5f5f5;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.promo .meta a {
  color: #ad3c10;
}
.promo .meta a:hover {
  color: #7f2c0b;
}
.promo .social-media {
  background: #020202;
  padding: 10px 0;
  margin: 0 auto;
}
.promo .social-media li {
  margin-top: 15px;
}
.promo .social-media li.facebook-like {
  margin-top: 0;
  position: relative;
  top: -5px;
}
/**
 * News Section on start page
 *
 */
.news {
  padding: 20px 0;
  background: #f5f5f5;
}
.news .title {
  margin-top: 0;
  color: #000000;
}
.news .news-inner {
  max-width: 800px;
  background: #fff;
  padding: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0 auto;
}
.news .news-container {
  max-width: 540px;
  margin: 0 auto;
  padding-top: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.news .news-container .news-bubble {
  background: #ffffff;
  color: #000000;
  padding: 30px;
  margin-bottom: 30px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.news .news-container .icon-holder .fa {
  font-size: 56px;
}
/**
 * Features Section
 *
 */
.features {
  padding: 80px 0;
}
.features .container {
  background: #ffffff;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.features .core-features {
  margin-bottom: 36px;
}
.features h2 {
  margin-bottom: 24px;
}
.features .title {
  color: #000000;
  margin-top: 20px;
  margin-bottom: 30px;
}
.features .feature-list {
  font-size: 125%;
}
.features .feature-list .fa {
  color: #ed6a36;
}
.features .item {
  position: relative;
  margin-bottom: 30px;
}
.features .item .icon-holder {
  position: absolute;
  left: 30px;
  top: 0;
}
.features .item .icon-holder .fa {
  font-size: 36px;
  color: #ed6a36;
}
.features .item .content {
  padding-left: 60px;
}
.features .item .content .sub-title {
  margin-top: 0;
  color: #000000;
  font-size: 18px;
}
/**
 * Documentation Section
 *
 */
.documentation {
  padding: 80px 0;
}
.documentation .container {
  background: #ffffff;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/**
 * Support Section
 *
 */
.support {
  padding: 80px 0;
}
.support .container {
  background: #ffffff;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/**
 * Download Section
 *
 */
.downloads {
  padding: 80px 0;
}
.downloads .container {
  background: #ffffff;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.downloads .container .btn-download {
  margin-top: 12px;
  border: 2px solid #ed6a36;
}
.downloads .container .small {
  font-size: 80% !important;
}
.downloads .container .label-info {
  background: #ed6a36 !important;
}
/* ======= License Section ======= */
/**
 * Top Footer Section
 *
 */
.top-footer {
  padding: 40px 0;
  background: #26282a;
  color: #fff;
}
.top-footer h4 {
  color: #f5f5f5;
}
.top-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.top-footer a {
  color: #ed6a36;
}
.top-footer a:hover {
  color: #dc4d14;
}
.top-footer .info {
  margin-top: 35px;
}
.top-footer .social-icons {
  list-style: none;
  padding: 10px 0;
  margin-bottom: 0;
  display: inline-block;
  margin: 0 auto;
}
.top-footer .social-icons li {
  float: left;
}
.top-footer .social-icons li.last {
  margin-right: 0;
}
.top-footer .social-icons a {
  display: inline-block;
  background: #020202;
  width: 48px;
  height: 48px;
  text-align: center;
  padding-top: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-right: 8px;
  float: left;
}
.top-footer .social-icons a:hover {
  background: #dc4d14;
}
.top-footer .social-icons a .fa {
  color: #fff;
}
.top-footer .social-icons a .fa:before {
  font-size: 26px;
  text-align: center;
  padding: 0;
}
/**
 * Footer Section
 *
 */
.footer {
  padding: 15px 0;
  background: #000000;
  color: #fff;
}
.footer .copyright {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.footer .fa-heart {
  color: #fb866a;
}
.footer a {
  color: #ed6a36;
}
.footer a:hover {
  color: #dc4d14;
}
/**
 * Retina images
 *
 */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .promo {
    background: url("../images/background_@2X.png") repeat;
  }
}


/* COMMON PRICING STYLES */
.panel.price,
.panel.price > .panel-heading {
  border-radius: 0px;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.panel.price:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.panel.price:hover > .panel-heading {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2) inset;
}
.panel.price > .panel-heading {
  box-shadow: 0px 5px 0px rgba(50, 50, 50, 0.2) inset;
}
.price .list-group-item {
  border-bottom-: 1px solid rgba(250, 250, 250, 0.5);
}
.panel.price .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel.price .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.price .panel-footer {
  color: #fff;
  border-bottom: 0px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
}
.panel.price .btn {
  box-shadow: 0 -1px 0px rgba(50, 50, 50, 0.2) inset;
  border: 0px;
}
/* orange panel */
.price.panel-orange > .panel-heading {
  color: #222222;
  background-color: #ed6a36;
  border-color: #71270a;
  border-bottom: 1px solid #71270a;
}
.price.panel-orange > .panel-body {
  color: #222222;
  background-color: #f18d65;
}
.price.panel-orange .list-group-item {
  color: #333;
  background-color: rgba(50, 50, 50, 0.01);
  font-weight: 600;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .header .main-nav button {
    margin-right: 0;
  }
  .header .main-nav .navbar-collapse {
    padding-left: 15px;
    padding-right: 15px;
  }
  .promo .btns .btn {
    margin-right: 0;
    clear: both;
    display: block;
    margin-bottom: 30px;
  }
  .promo .title {
    font-size: 66px;
  }
  .promo .meta {
    margin-top: 60px;
  }
  .promo .meta li {
    float: none;
    display: block;
    margin-bottom: 5px;
  }
  .top-footer .author-message {
    text-align: center;
  }
  .top-footer .author-message .profile {
    position: static;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .top-footer .author-message .speech-bubble {
    margin-left: 0;
  }
  .top-footer .author-message .speech-bubble:after {
    display: none;
  }
  .top-footer .social-icons a {
    width: 36px;
    height: 36px;
    padding-top: 7px;
    margin-right: 2px;
  }
  .top-footer .social-icons a .fa:before {
    font-size: 18px;
  }
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */

/**
 *
 *
 *
 */
/* ======= Base ======= */
body {
  font-family: 'Lato', arial, sans-serif;
  color: #444444;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f5f5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', arial, sans-serif;
  font-weight: 700;
  color: #26282a;
}
a {
  color: #ed6a36;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a:hover {
  text-decoration: underline;
  color: #dc4d14;
}
.btn,
a.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-family: 'Montserrat', arial, sans-serif;
  padding: 8px 16px;
  font-weight: bold;
}
.btn .fa,
a.btn .fa {
  margin-right: 5px;
}
.btn:focus,
a.btn:focus {
  color: #fff;
}
a.btn-cta-primary,
.btn-cta-primary {
  background: #000000;
  border: 1px solid #000000;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
a.btn-cta-primary:hover,
.btn-cta-primary:hover {
  background: #000000;
  border: 1px solid #000000;
  color: #fff;
}
a.btn-cta-secondary,
.btn-cta-secondary {
  background: #ed6a36;
  border: 1px solid #ed6a36;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
a.btn-cta-secondary:hover,
.btn-cta-secondary:hover {
  background: #eb591f;
  border: 1px solid #eb591f;
  color: #fff;
}
.text-highlight {
  color: #000000;
}
.offset-header {
  padding-top: 90px;
}
pre code {
  font-size: 16px;
}
/**
 * Header
 *
 */
.header {
  padding: 10px 0;
  background: #26282a;
  color: #f5f5f5;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.header.navbar-fixed-top {
  background: #fff;
  z-index: 9999;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.header.navbar-fixed-top .logo a {
  color: #26282a;
}
.header.navbar-fixed-top .main-nav .nav .nav-item a {
  color: #666666;
}
.header .logo {
  margin: 0;
  font-size: 26px;
  padding-top: 10px;
}
.header .logo a {
  color: #fff;
}
.header .logo a:hover {
  text-decoration: none;
}
.header .main-nav {
  margin-top: 10px;
}
.header .main-nav button {
  background: #000000;
  color: #fff !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.header .main-nav button:focus {
  outline: none;
}
.header .main-nav button .icon-bar {
  background-color: #fff;
}
.header .main-nav .navbar-collapse {
  padding: 0;
}
.header .main-nav .nav .nav-item {
  font-weight: normal;
  margin-right: 20px;
  font-family: 'Montserrat', sans-serif;
}
.header .main-nav .nav .nav-item.active a {
  background: #f5f5f5;
  color: #ed6a36;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.header .main-nav .nav .nav-item a {
  font-weight: 200;
  color: #ed6a36;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  font-size: 14px;
  padding: 10px 10px;
}
.header .main-nav .nav .nav-item a:hover {
  background: #f5f5f5;
  color: #26282a;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.header .main-nav .nav .nav-item a:focus {
  outline: none;
  background: none;
}
.header .main-nav .nav .nav-item a:active {
  outline: none;
  background: none;
}
.header .main-nav .nav .nav-item.active {
  color: #71270a;
}
.header .main-nav .nav .nav-item.last {
  margin-right: 0;
}
/**
 * Promo Section on start page
 *
 */
.promo {
  background: url("../images/background.png") repeat;
  color: #fff;
  padding-top: 150px;
}
.promo .title {
  font-size: 98px;
  color: #b3b3b3;
  margin-top: 0;
}
.promo .title .highlight {
  color: #ed6a36;
}
.promo .intro {
  font-size: 28px;
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.promo .btns .btn {
  margin-right: 15px;
  font-size: 18px;
  padding: 8px 30px;
}
.promo .love-phpmyfaq {
  margin-top: 120px;
  margin-bottom: 30px;
}
.promo .meta {
  margin-bottom: 30px;
  color: #c2c2c2;
}
.promo .meta li {
  margin-right: 15px;
  padding: 4px;
  background: #f5f5f5;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.promo .meta a {
  color: #ad3c10;
}
.promo .meta a:hover {
  color: #7f2c0b;
}
.promo .social-media {
  background: #020202;
  padding: 10px 0;
  margin: 0 auto;
}
.promo .social-media li {
  margin-top: 15px;
}
.promo .social-media li.facebook-like {
  margin-top: 0;
  position: relative;
  top: -5px;
}
/**
 * News Section on start page
 *
 */
.news {
  padding: 20px 0;
  background: #f5f5f5;
}
.news .title {
  margin-top: 0;
  color: #000000;
}
.news .news-inner {
  max-width: 800px;
  background: #fff;
  padding: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0 auto;
}
.news .news-container {
  max-width: 540px;
  margin: 0 auto;
  padding-top: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.news .news-container .news-bubble {
  background: #ffffff;
  color: #000000;
  padding: 30px;
  margin-bottom: 30px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.news .news-container .icon-holder .fa {
  font-size: 56px;
}
/**
 * Features Section
 *
 */
.features {
  padding: 80px 0;
}
.features .container {
  background: #ffffff;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.features .core-features {
  margin-bottom: 36px;
}
.features h2 {
  margin-bottom: 24px;
}
.features .title {
  color: #000000;
  margin-top: 20px;
  margin-bottom: 30px;
}
.features .feature-list {
  font-size: 125%;
}
.features .feature-list .fa {
  color: #ed6a36;
}
.features .item {
  position: relative;
  margin-bottom: 30px;
}
.features .item .icon-holder {
  position: absolute;
  left: 30px;
  top: 0;
}
.features .item .icon-holder .fa {
  font-size: 36px;
  color: #ed6a36;
}
.features .item .content {
  padding-left: 60px;
}
.features .item .content .sub-title {
  margin-top: 0;
  color: #000000;
  font-size: 18px;
}
/**
 * Documentation Section
 *
 */
.documentation {
  padding: 80px 0;
}
.documentation .container {
  background: #ffffff;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/**
 * Support Section
 *
 */
.support {
  padding: 80px 0;
}
.support .container {
  background: #ffffff;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/**
 * Download Section
 *
 */
.downloads {
  padding: 80px 0;
}
.downloads .container {
  background: #ffffff;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.downloads .container .btn-download {
  margin-top: 12px;
  border: 2px solid #ed6a36;
}
.downloads .container .small {
  font-size: 80% !important;
}
.downloads .container .label-info {
  background: #ed6a36 !important;
}
/* ======= License Section ======= */
/**
 * Top Footer Section
 *
 */
.top-footer {
  padding: 40px 0;
  background: #26282a;
  color: #fff;
}
.top-footer h4 {
  color: #f5f5f5;
}
.top-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.top-footer a {
  color: #ed6a36;
}
.top-footer a:hover {
  color: #dc4d14;
}
.top-footer .info {
  margin-top: 35px;
}
.top-footer .social-icons {
  list-style: none;
  padding: 10px 0;
  margin-bottom: 0;
  display: inline-block;
  margin: 0 auto;
}
.top-footer .social-icons li {
  float: left;
}
.top-footer .social-icons li.last {
  margin-right: 0;
}
.top-footer .social-icons a {
  display: inline-block;
  background: #020202;
  width: 48px;
  height: 48px;
  text-align: center;
  padding-top: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-right: 8px;
  float: left;
}
.top-footer .social-icons a:hover {
  background: #dc4d14;
}
.top-footer .social-icons a .fa {
  color: #fff;
}
.top-footer .social-icons a .fa:before {
  font-size: 26px;
  text-align: center;
  padding: 0;
}
/**
 * Footer Section
 *
 */
.footer {
  padding: 15px 0;
  background: #000000;
  color: #fff;
}
.footer .copyright {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.footer .fa-heart {
  color: #fb866a;
}
.footer a {
  color: #ed6a36;
}
.footer a:hover {
  color: #dc4d14;
}
/**
 * Retina images
 *
 */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .promo {
    background: url("../images/background_@2X.png") repeat;
  }
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .header .main-nav button {
    margin-right: 0;
  }
  .header .main-nav .navbar-collapse {
    padding-left: 15px;
    padding-right: 15px;
  }
  .promo .btns .btn {
    margin-right: 0;
    clear: both;
    display: block;
    margin-bottom: 30px;
  }
  .promo .title {
    font-size: 66px;
  }
  .promo .meta {
    margin-top: 60px;
  }
  .promo .meta li {
    float: none;
    display: block;
    margin-bottom: 5px;
  }
  .top-footer .author-message {
    text-align: center;
  }
  .top-footer .author-message .profile {
    position: static;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .top-footer .author-message .speech-bubble {
    margin-left: 0;
  }
  .top-footer .author-message .speech-bubble:after {
    display: none;
  }
  .top-footer .social-icons a {
    width: 36px;
    height: 36px;
    padding-top: 7px;
    margin-right: 2px;
  }
  .top-footer .social-icons a .fa:before {
    font-size: 18px;
  }
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* COMMON PRICING STYLES */
.panel.price,
.panel.price > .panel-heading {
  border-radius: 0px;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.panel.price:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.panel.price:hover > .panel-heading {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2) inset;
}
.panel.price > .panel-heading {
  box-shadow: 0px 5px 0px rgba(50, 50, 50, 0.2) inset;
}
.price .list-group-item {
  border-bottom-: 1px solid rgba(250, 250, 250, 0.5);
}
.panel.price .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel.price .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.price .panel-footer {
  color: #fff;
  border-bottom: 0px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
}
.panel.price .btn {
  box-shadow: 0 -1px 0px rgba(50, 50, 50, 0.2) inset;
  border: 0px;
}
/* orange panel */
.price.panel-orange > .panel-heading {
  color: #222222;
  background-color: #ed6a36;
  border-color: #71270a;
  border-bottom: 1px solid #71270a;
}
.price.panel-orange > .panel-body {
  color: #222222;
  background-color: #f18d65;
}
.price.panel-orange .list-group-item {
  color: #333;
  background-color: rgba(50, 50, 50, 0.01);
  font-weight: 600;
}

