---
title: Security Advisory 2014-02-04
canonical: security/advisory-2014-02-04
layout: security.hbs
---
                        <h3>phpMyFAQ vulnerable to XSS and CSRF</h3>

                        <dl class="dl-horizontal">
                            <dt>Issued on:</dt>
                            <dd>2014-02-04</dd>
                            <dt>Software:</dt>
                            <dd>phpMyFAQ &lt;= 2.8.5</dd>
                            <dt>Risk:</dt>
                            <dd>High</dd>
                            <dt>Platforms:</dt>
                            <dd>all</dd>
                        </dl>

                        <p>
                            The phpMyFAQ Team has learned of security issues that have been discovered in phpMyFAQ 2.8.5 and
                            earlier. phpMyFAQ contains cross-site request forgery and cross-site scripting vulnerabilities.
                        </p>

                        <h3>Description</h3>
                        <p>
                            An arbitrary script may be executed on the user's Internet Explorer when using an older version
                            of the browser. If a user views a malicious page while logged in, settings may be changed
                            unintentionally.
                        </p>

                        <h3>Solution</h3>
                        <p>
                            The phpMyFAQ Team has released a new phpMyFAQ version 2.8.6 which fixes thie vulnerability. All
                            users of affected phpMyFAQ versions are encouraged to upgrade as soon as possible to this latest
                            version. Internet Explorer user are save with version 10 or later.
                        </p>

                        <h3>Workaround</h3>
                        <p>
                            There's no workaround except installing phpMyFAQ 2.8.6.
                        </p>

                        <h3>Credits</h3>
                        <ul>
                            <li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-0813">CVE-2014-0813</a></li>
                            <li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-0814">CVE-2014-0814</a></li>
                        </ul>

                        <h3>Thanks</h3>
                        <p>
                            The phpMyFAQ teams would like to thank <a href="https://www.jpcert.or.jp/english/">JPCERT Coordination Center</a>
                            for the responsible disclosure of this vulnerability.
                        </p>