---
title: Security Advisory 2013-11-18
description: Permission vulnerability in phpMyFAQ 2.8.2
canonical: security/advisory-2013-11-18
layout: security.hbs
---
                        <h2>Permission vulnerability</h2>

                        <dl class="dl-horizontal">
                            <dt>Issued on:</dt>
                            <dd>2013-11-18</dd>
                            <dt>Software:</dt>
                            <dd>phpMyFAQ &lt;= 2.8.2</dd>
                            <dt>Risk:</dt>
                            <dd>Medium</dd>
                            <dt>Platforms:</dt>
                            <dd>all</dd>
                        </dl>

                        <p>
                            The phpMyFAQ Team has learned of a security issue that has been discovered in phpMyFAQ
                            2.8.x.
                        </p>

                        <h2>Description</h2>
                        <p>
                            phpMyFAQ 2.8.x allows logged in users without any proper permissions the usage of the
                            bundled Image Manager.
                        </p>

                        <h2>Solution</h2>
                        <p>
                            The phpMyFAQ Team has released a new phpMyFAQ version 2.8.3 which fixes thie vulnerability.
                            All users of affected phpMyFAQ versions are encouraged to upgrade as soon as possible to
                            this latest version.
                        </p>

                        <h2>Workaround</h2>
                        <p>
                            There's no workaround except installing phpMyFAQ 2.8.3.
                        </p>

                        <h2>Credits</h2>
                        <p>
                            Please check <a rel="nofollow" target="_blank" href="http://pastebin.com/tmYXh6XM">
                            http://pastebin.com/tmYXh6XM</a> for further information.
                        </p>
