---
title: Security Advisory 2008-09-11
canonical: security/advisory-2008-09-11
layout: security.hbs
---
                    <h2>phpMyFAQ 2.x input sanitization errors (XSS)</h2>

                    <dl class="dl-horizontal">
                        <dt>Issued on:</dt>
                        <dd>2008-09-11</dd>
                        <dt>Software:</dt>
                        <dd>phpMyFAQ &lt;= 2.0.8</dd>
                        <dt>Risk:</dt>
                        <dd>High</dd>
                        <dt>Platforms:</dt>
                        <dd>all</dd>
                    </dl>

                    <p>The phpMyFAQ Team has learned of a security issue that has been discovered in phpMyFAQ 2.</p>

                    <h2>Description</h2>
                    <p>
                        phpMyFAQ relies on code similar to Popoon's externalinput.php to filter out potential XSS attacks on
                        user-supplied input. This filter, and the original, fail to fully sanitize user data. In particular,
                        this filter fails to protect against '/'s acting as spaces in both Microsoft Internet Explorer and
                        Mozilla Firefox.
                    </p>

                    <h2>Solution</h2>
                    <p>
                        The phpMyFAQ Team has released a new phpMyFAQ version 2.0.8 which fixes these vulnerabilities. All users
                        of affected phpMyFAQ versions are encouraged to upgrade as soon as possible to this latest version.
                    </p>

                    <h2>Workaround</h2>
                    <p>There's no workaround except installing phpMyFAQ 2.0.8.</p>

                    <h2>Credits</h2>
                    <p>
                        Vulnerability report and proof of concepts by Alexios Fakos. Thanks to Will Drewry for contacting the
                        phpMyFAQ Team. The full advisory can be found
                        <a href="http://www.ocert.org/advisories/ocert-2008-012.html">here</a>.
                    </p>
