---
title: Security Advisory 2011-10-25
canonical: security/advisory-2011-10-25
layout: security.hbs
---
                    <h3>Remote PHP Code Injection Vulnerability in phpMyFAQ 2.6.18 and 2.7.0</h3>

                    <dl class="dl-horizontal">
                        <dt>Issued on:</dt>
                        <dd>2011-11-25</dd>
                        <dt>Software:</dt>
                        <dd>phpMyFAQ &lt;= 2.6.18 and phpMyFAQ &lt;= 2.7.0</dd>
                        <dt>Risk:</dt>
                        <dd>Critical</dd>
                        <dt>Platforms:</dt>
                        <dd>all</dd>
                    </dl>

                    <p>
                        The phpMyFAQ Team has learned of a serious security issue that has been discovered in our bundled
                        ImageManager library we use in phpMyFAQ 2.6 and 2.7.
                    </p>

                    <h3>Description</h3>
                    <p>
                        The bundled ImageManager library allows injection of arbitrary PHP code via POST requests.
                    </p>

                    <h3>Solution</h3>
                    <p>
                        The phpMyFAQ Team has released a new phpMyFAQ version 2.6.19 and 2.7.1, which incorporates a fixed
                        bundled ImageManager library. All users of affected phpMyFAQ versions are encouraged to upgrade as soon
                        as possible to this latest version.
                    </p>

                    <h3>Workaround</h3>
                    <p>
                        There's no workaround except installing phpMyFAQ 2.6.19 and phpMyFAQ 2.7.1.
                    </p>

                    <h3>Credits</h3>
                    <p>
                        The phpMyFAQ Team would like to thank <strong>EgiX</strong> for discovering this vulnerability.
                    </p>