---
title: Security Advisory 2004-07-27
description: Vulnerability in phpMyFAQ version 1.4.0
canonical: security/advisory-2004-07-27
layout: security.hbs
---
                    <h2>Vulnerability in phpMyFAQ version 1.4.0</h2>
                    <dl class="dl-horizontal">
                        <dt>Issued on:</dt>
                        <dd>2004-07-27</dd>
                        <dt>Software:</dt>
                        <dd>phpMyFAQ version 1.4.0</dd>
                        <dt>Risk:</dt>
                        <dd>medium</dd>
                        <dt>Platforms:</dt>
                        <dd>all</dd>
                    </dl>

                    <p>
                        The phpMyFAQ Team has learned of a security vulnerability in phpMyFAQ version 1.4.0.
                    </p>

                    <h2>Description</h2>
                    <p>
                        phpMyFAQ includes a third party Image Manager for uploading images. The Image Manager can be
                        accessed by anyone on the web without authorization.
                    </p>

                    <h2>Impact</h2>
                    <p>
                        The Image Manager can be accessed by typing the location of the Image Manager and this person
                        can upload images on your page or delete all images.
                    </p>

                    <h2>Solution</h2>
                    <p>
                        The phpMyFAQ Team has released a new phpMyFAQ version 1.4.0a, which incorporate a fix for the
                        vulnerability. All users of affected phpMyFAQ versions are encouraged to upgrade to this latest
                        version.
                    </p>

                    <h2>Workaround</h2>
                    <p>
                        There is no workaround except installing the patch.
                    </p>
