---
title: Security Advisory 2014-11-30
canonical: security/advisory-2014-11-30
layout: security.hbs
    ---
                        <h2>Clickjacking vulnerability in phpMyFAQ 2.8</h2>

                        <dl class="dl-horizontal">
                            <dt>Issued on:</dt>
                            <dd>2014-11-30</dd>
                            <dt>Software:</dt>
                            <dd>phpMyFAQ &lt;= 2.8.17</dd>
                            <dt>Risk:</dt>
                            <dd>High</dd>
                            <dt>Platforms:</dt>
                            <dd>all</dd>
                        </dl>

                        <p>
                            The phpMyFAQ Team has learned of a clickjacking issue that have been discovered in phpMyFAQ 2.8.17
                            and earlier.
                        </p>

                        <h2>Description</h2>
                        <p>
                            phpMyFAQ 2.8.17 and earlier are vulnerable to clickjacking for all pages as it's possible to
                            load phpMyFAQ in an iFrame which can trick a user into performing undesired actions by clicking
                            on a concealed link.
                        </p>

                        <h2>Solution</h2>
                        <p>
                            The phpMyFAQ Team has released phpMyFAQ version 2.8.18 which fixes the vulnerability. All users
                            of affected phpMyFAQ versions are encouraged to upgrade as soon as possible to this latest
                            version.
                        </p>

                        <h2>Workaround</h2>
                        <p>
                            There's no workaround except installing phpMyFAQ 2.8.18.
                        </p>

                        <h2>Thanks</h2>
                        <p>
                            The phpMyFAQ teams would like to thank <a href="http://hacktivity.websecgeeks.com/">Narendra
                            Bhati</a> for the responsible disclosure of this vulnerability.
                        </p>
