---
title: Security Advisory 2020-12-23
description: XSS in phpMyFAQ
canonical: security/advisory-2020-12-23
layout: security.hbs
---
<h2>XSS in phpMyFAQ</h2>

<dl class="dl-horizontal">
  <dt>Issued on:</dt>
  <dd>2020-12-23</dd>
  <dt>Software:</dt>
  <dd>phpMyFAQ &lt;= 3.0.6</dd>
  <dt>Risk:</dt>
  <dd>Medium</dd>
  <dt>Platforms:</dt>
  <dd>all</dd>
</dl>

<p>
  The phpMyFAQ Team has learned of a security issue that has been discovered in phpMyFAQ 3.0.6 and earlier. phpMyFAQ
  contains a cross-site scripting (XSS) vulnerability.
</p>

<h2>Description</h2>
<p>
  phpMyFAQ does not implement sufficient checks to avoid XSS injection for displaying tags.
</p>

<h2>Solution</h2>
<p>
  The phpMyFAQ Team has released the new phpMyFAQ versions 3.0.7 and 3.1.0-alpha.3 which fix the vulnerability. All
  users of affected phpMyFAQ versions are encouraged to upgrade as soon as possible to this latest version.
</p>

<h2>Workaround</h2>
<p>
  There's no workaround except installing phpMyFAQ 3.0.7 or 3.1.0-alpha.3.
</p>


<h2>Thanks</h2>
<p>
  The phpMyFAQ teams would like to thank <strong>Curtis Robinson</strong> from
  <a target="_blank" rel="nofollow" href="https://www.fit.edu/">Florida Tech</a> for the responsible disclosure of the
  vulnerability and helping to fix it.
</p>
