---
title: Security Advisory 2013-11-18
canonical: security/advisory-2013-11-18
layout: security.hbs
---
                        <h2>Possible arbitrary PHP code execution vulnerability</h2>

                        <dl class="dl-horizontal">
                            <dt>Issued on:</dt>
                            <dd>2013-11-26</dd>
                            <dt>Software:</dt>
                            <dd>phpMyFAQ &lt;= 2.8.3</dd>
                            <dt>Risk:</dt>
                            <dd>Medium</dd>
                            <dt>Platforms:</dt>
                            <dd>all</dd>
                        </dl>

                        <p>
                            The phpMyFAQ Team has learned of a security issue that has been discovered in phpMyFAQ 2.8.x.
                        </p>

                        <h2>Description</h2>
                        <p>
                            Secunia noticed while analysing the advisory that authenticated users with "Right to add
                            attachments" are able to exploit an already publicly known issue in the bundled Ajax File
                            Manager of phpMyFAQ version 2.8.3, which leads to arbitrary PHP code execution for authenticated
                            users with the permission "Right to add attachments".
                        </p>

                        <h2>Solution</h2>
                        <p>
                            The phpMyFAQ Team has released a new phpMyFAQ version 2.8.4 which fixes thie vulnerability. All
                            users of affected phpMyFAQ versions are encouraged to upgrade as soon as possible to this latest
                            version.
                        </p>

                        <h2>Workaround</h2>
                        <p>
                            There's no workaround except installing phpMyFAQ 2.8.3.
                        </p>

                        <h2>Credits</h2>
                        <p>
                            Please check <a href="http://en.securitylab.ru/lab/PT-2013-41">this advisory</a> for further
                            information about the publicly known issue in the bundled Ajax File Manager.
                        </p>

                        <h2>Thanks</h2>
                        <p>
                            The phpMyFAQ teams would like to thank <a href="http://secunia.com/">Secunia</a> for the
                            responsible disclosure of this vulnerability.
                        </p>
