---
title: Security Advisory 2011-09-28
canonical: security/advisory-2011-09-28
layout: security.hbs
---
                    <h3>Information disclosure vulnerability</h3>

                    <dl class="dl-horizontal">
                        <dt>Issued on:</dt>
                        <dd>2011-09-28</dd>
                        <dt>Software:</dt>
                        <dd>phpMyFAQ <= 2.6.17</dd>
                        <dt>Risk:</dt>
                        <dd>Medium</dd>
                        <dt>Platforms:</dt>
                        <dd>all</dd>
                    </dl>

                    <p>
                        The phpMyFAQ Team has learned of a security issue that has been discovered in phpMyFAQ 2.6.
                    </p>

                    <h3>Description</h3>
                    <p>
                        phpMyFAQ 2.6 allows remote attackers to obtain sensitive information via a direct request to a .php
                        file, which reveals the installation path in an error message, e.g. by lang/language_uk.php and certain
                        other files.
                    </p>

                    <h3>Solution</h3>
                    <p>
                        The phpMyFAQ Team has released a new phpMyFAQ version 2.6.18 which fixes these vulnerabilities. All
                        users of affected phpMyFAQ versions are encouraged to upgrade as soon as possible to this latest
                        version.
                    </p>

                    <h3>Workaround</h3>
                    <p>
                        There's no workaround except installing phpMyFAQ 2.6.18.
                    </p>

                    <h3>Credits</h3>
                    <p>
                        Please check <a href="http://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2011-3783">CVE-2011-3783</a>
                        for further informations.
                    </p>