---
title: Security Advisory 2009-12-01
canonical: security/advisory-2009-12-01
layout: security.hbs
---
                    <h3>phpMyFAQ 2.5.x XSS vulnerabilities</h3>

                    <dl class="dl-horizontal">
                        <dt>Issued on:</dt>
                        <dd>2009-12-01</dd>
                        <dt>Software:</dt>
                        <dd>phpMyFAQ &lt;= 2.5.4</dd>
                        <dt>Risk:</dt>
                        <dd>High</dd>
                        <dt>Platforms:</dt>
                        <dd>all</dd>
                    </dl>

                    <p>The phpMyFAQ Team has learned of multiple security issues that have been discovered in phpMyFAQ 2.5.x</p>

                    <h3>Description</h3>
                    <p>
                        When using Microsoft Internet Explorer 6 or 7 phpMyFAQ doesn't sanitize various variables in different
                        pages correctly. With a properly crafted URL it is e.g. possible to inject JavaScript code into the
                        output of a page, which could result in the leakage of domain cookies (f.e. session identifiers).
                    </p>

                    <h3>Solution</h3>
                    <p>
                        The phpMyFAQ Team has released new phpMyFAQ version 2.5.5 which fix the vulnerability. All users of
                        affected phpMyFAQ versions are encouraged to upgrade as soon as possible to this latest version.
                    </p>

                    <h3>Workaround</h3>
                    <p>There's no workaround except installing phpMyFAQ 2.5.5.</p>

                    <h3>Credits</h3>
                    <p>
                        The phpMyFAQ Team would like to thank Amol Naik for reporting the vulnerability.
                    </p>