---
title: phpMyFAQ news from 2001
description: The PHP3 beginnings with phpMyFAQ 0.x and the final phpMyFAQ 1.0 release
canonical: news/2001
layout: news.hbs
---
            <p>
                <strong>Freitag, 23. November 2001</strong><br />
                Aufgrund von akuten Zeitmangels wird die Ver&ouml;ffentlichung der Version 1.1.0 in den Dezember 2001
                verschoben.
            </p>
            <p>
                <strong>Freitag, 9. November 2001</strong><br />
                Inzwischen ist gut die H&auml;lfte der neuen Version (1.1.0 alpha3) der phpMyFAQ fertig, der
                &ouml;ffentliche Bereich ist bereits fertig und lauff&auml;hig. Wir arbeiten derzeit am Adminbereich und dem
                Update-Skript von den Versionen 1.0.x
            </p>
            <p>
                <strong>Dienstag, 16. Oktober 2001</strong><br />
                Seit heute ist die phpMyFAQ 1.0.1a verf&uuml;gbar. Bei dieser Version sind alle Dateien mit der Endung .php
                versehen, falls man die phpMyFAQ auf einem Server betreiben will, der .php3-Dateien nicht parst. Neue
                Features wurden nicht implementiert.<br />Ausserdem haben wir heute unsere eigene FAQ f&uuml;r die phpMyFAQ
                freigeschalten.
            </p>
            <p>
                <strong>Mittwoch, 10. Oktober 2001</strong><br />
                Leider sind im Installationsskript und im Updateskript kleinere Bugs. Diese sind in der Version 1.0.1 nun
                gefixed.
            </p>
            <p>
                <strong>Sonntag, 30. September 2001</strong><br />
                Version 1.0 der phpMyFAQ ist nach fast 8 Monaten Entwicklungszeit fertig!
            </p>
            <p>
                <strong>Freitag, 28. September 2001</strong><br />
                Um den Support f&uuml;r die phpMyFAQ zu verbessern, haben wir nun ein <a href="http://forum.phpmyfaq.de/">Forum</a> eingebunden.
            </p>
            <p>
                <strong>Dienstag, 11. September 2001</strong><br />
                Seit heute ist die neue phpMyFAQ mit der Versionsnummer 0.95 fertig und kann nun von unseren Kunden
                angefordert werden. Diese Version ist unser Release Candidate 1 und beinhaltet den Code f&uuml;r Version 1.0.
                Die &Auml;nderungen k&ouml;nnen im <a href="/changelog">ChangeLog</a> nachgelesen werden.
            </p>
            <p>
                <strong>Sonntag, 9. September 2001</strong><br />
                Die <a href="/documentation">Dokumentation</a> ist fertig und auch der Release Candidate 1 der FAQ ist nun
                soweit fertig. Wir testen diese Version nun ausgiebig und ver&ouml;ffentlichen die Version 0.95 im Laufe der
                n&auml;chsten Woche.
            </p>
            <p>
                <strong>Mittwoch, 5. September 2001</strong><br />
                Der Release Candidate 1 der phpMyFAQ, die Version 0.95, erscheint in der zweiten Septemberwoche. Ein Release
                der Version 1.0 ist damit auch f&uuml;r September 2001 m&ouml;glich.
            </p>
            <p>
                <strong>Samstag, 25. August 2001</strong><br />
                Die <a href="/documentation">Dokumentation</a> w&auml;chst langsam, au&szlig;erdem bieten wir nun das
                englische Languagefile zum <a href="/download">kostenlosen Download</a> an.
            </p>
            <p>
                <strong>Donnerstag, 23. August 2001</strong><br />
                Bereits einen Tag fr&uuml;her als geplant ver&ouml;ffentlichen wir heute die
                <a href="/changelog">phpMyFAQ 0.90</a>. Updater wird sicherlich die neue Update-Funktion freuen.
            </p>
            <p>
                <strong>Sonntag, 19. August 2001</strong><br />
                Die <a href="/changelog">Version 0.90</a> ist fertig und wird nun ausgiebig getestet. Release-Datum
                wird wohl Freitag, der 24. August 2001.
            </p>
            <p>
                <strong>Dienstag, 14. August 2001</strong><br />
                Die Version 0.90 erscheint voraussichtlich in der letzten Augustwoche. Diese Version ist die letzte
                Vorabversion der phpMyFAQ vor dem offiziellen Release der Version 1.0.
            </p>
            <p>
                <strong>Freitag, 20. Juli 2001</strong><br />
                Vor der Version 0.90 schieben wir noch ein kleines Update auf die Version 0.87 vor, diese behebt einige
                kleine Bugs. Ausserdem k&ouml;nnen nun die TopTen und die neuesten Artikel ausgeblendet werden.
            </p>
            <p>
                <strong>Dienstag, 10. Juli 2001</strong><br />
                Der UBB-Parser der phpMyFAQ 0.85 hatte einen schweren Bug. Dieser ist in der neuen Version 0.86 nun gefixt,
                genauso wie einige Darstellungsfehler im Adminbereich.
            </p>
            <p>
                <strong>2001-07-08</strong><br />
                Seit heute ist die neue phpMyFAQ mit der Versionsnummer 0.85 fertig und kann nun von unseren Kunden angefordert
                werden. Die neuen Features k&ouml;nnen <a href="/changelog">hier</a> eingesehen werden.
            </p>
            <p>
                <strong>2001-07-06</strong><br />
                We've added <a href="/changelog">another feature</a> into version 0.85. This version will be released in
                a few days.
            </p>
            <p>
                <strong>2001-06-30</strong><br />
                Version 0.85 is now ready and currently under extensive stress testing.
            </p>
            <p>
                <strong>2001-06-22:</strong><br />
                To help reporting bugs, we added a form on our web site which enables users to send bug reports to the
                phpMyFAQ developer team.
            </p>
            <p>
                <strong>2001-06-07:</strong><br />
                As it turned out that phpMyFAQ 0.8 was rather buggy, we released a small bugfix update to version 0.80a
            </p>
            <p>
                <strong>2001-05-30:</strong><br />
                As of today, version 0.8 is ready and can be downloaded by our customers. It can be tested on
                <strong>http://stratofaq.ig4.de</strong>.
            </p>
            <p>
                <strong>2001-05-26:</strong><br />
                Development of version 0.8 has been completed, we are testing now the new release and hope to publish it soon.
                Due to the bunch of new features we skipped version 0.75.
            </p>
            <p>
                <strong>2001-04-28:</strong><br />
                We released version 0.70 of the phpMyFAQ today. It can be tested on <strong>http://stratofaq.ig4.de</strong>.
            </p>
