---
title: phpMyFAQ news from 2002
canonical: news/2002
layout: news.hbs
---
            <p>
                <strong>Samstag, 21. Dezember 2002</strong><br />
                Das Team von phpMyFAQ wünscht allen Usern unserer Software und Besuchern dieser Seiten ein frohes Fest und
                einen guten Rutsch ins Jahr 2003!<br />Wir arbeiten derzeit am nächsten Bugfix-Release 1.2.4, welches wohl
                Anfang des Jahres erscheint. Auf Basis von dieser Version beginnen wir dann Anfang Februar mit der
                Entwicklung der phpMyFAQ 1.3.0.
            </p>
            <p>
                <strong>Samstag, 30. November 2002</strong><br />
                Die neue Version der phpMyFAQ ist fertig! Das neue
                <a href="/download">Release 1.2.3</a> bringt Verbesserungen in Bezug auf die
                Sprachdateien und Bugfixes im Adminbereich. Desweiteren überprüft diese Version, ob das Installations- oder
                Updateskript gelöscht sind, was zur Sicherheit beiträgt.
            </p>
            <p>
                <strong>Montag, 4. November 2002</strong><br />
                Aufgrund eines Bugs im Parser gibt es seit heute die neue Version 1.2.2 der phpMyFAQ. Diese behebt auch
                weitere Bugs im Adminbereich. Neue Features sind nicht enthalten.
            </p>
            <p>
                <strong>Donnerstag, 24. Oktober 2002</strong><br />
                Das erste Bugfix-Release ist fertig. Die <a href="/download">neue Version 1.2.1
                der phpMyFAQ</a> löst Probleme mit der Konfiguration und der Authentifizierung per Cookie. Desweiteren ist
                die Update-Funktion bedeutend verbessert worden.
            </p>
            <p>
                <strong>Sonntag, 13. Oktober 2002</strong><br />
                Seit heute ist phpmyfaq.de endlich auf einem eigenen Server, die Seiten sollten jetzt schneller angezeigt
                werden. :-)
            </p>
            <p>
                <strong>Mittwoch, 9. Oktober 2002</strong><br />
                Die neue phpMyFAQ 1.2.0 ist fertig und für jeden Anwender frei verfügbar. Die neue Version steht nun unter
                der <a rel="nofollow" target="_blank" href="http://www.mozilla.org/MPL/MPL-1.1.html">Mozilla Public License</a>, bietet ein Templatesystem
                für eigene Layouts und eine volle Unterstützung von PHP 4.1, 4.2 und das kommende PHP 4.3.
            </p>
            <p>
                <strong>Sonntag, 6. Oktober 2002</strong><br />
                Der erste Release Candidate der phpMyFAQ 1.2.0 kann ab sofort auf unseren Seiten heruntergeladen werden.
                Gegenüber der Beta3 wurden nochmals einige Bugs gefixt. Sollten in den nächsten Tagen keine Bugmeldungen
                mehr erscheinen, so wird die endgültige Version 1.2.0 bald veröffentlicht. :-)
            </p>
            <p>
                <strong>Donnerstag, 3. Oktober 2002</strong><br />
                Die Beta3 der neuen phpMyFAQ Version 1.2.0 ist fertig und kann
                <a href="/download">heruntergeladen</a> werden. Die Beta3 ist unsere letzte
                Beta-Version vor den Release Candidates. Desweiteren ist die Dokumentation der neuen Version nun auch online.
            </p>
            <p>
                <strong>Mittwoch, 2. Oktober 2002</strong><br />
                In den nächsten Tagen zieht unsere Domain phpmyfaq.de auf einen neuen Server. Wir hoffen, dass der Umzug
                ohne Ausfall klappt.
            </p>
            <p>
                <strong>Samstag, 28. September 2002</strong><br />
                Seit heute finden Sie die Beta2 der phpMyFAQ 1.2.0 in unserem
                <a href="/download">Download-Bereich</a>. Bei dieser neuen Version sind nun alle
                Features der neuen Version implementiert, bitte testen Sie diese Version, damit wir alle Bugs finden und
                entfernen können.
            </p>
            <p>
                <strong>Freitag, 20. September 2002</strong><br />
                Die Beta1 ist fertig und kann kostenlos heruntergeladen werden, die Features und Module sind zu ca. 75%
                umgesetzt. Wir bitten um Bugmeldungen und Kommentare!
            </p>
            <p>
                <strong>Dienstag, 17. September 2002</strong><br />
                Ab heute bieten wir alle neuen Versionen der phpMyFAQ
                <a href="/download">kostenlos zum Download</a> an. Den Anfang macht die erste
                Alpha-Version der phpMyFAQ 1.2.0. Wir bitten um Bugmeldungen und Kommentare!
            </p>
            <p>
                <strong>Freitag, 23. August 2002</strong><br />
                Wir suchen f&uuml;r unseren Beta-Test Anfang September 2002 ein paar mutige User, die die neue, noch in der
                Entwicklung befindende phpMyFAQ 1.2.0 auf Herz und Nieren testen. Interessierte melden sich bitte per
                <a href="mailto:thorsten@phpmyfaq.de?subject=BETA-TEST+phpMyFAQ+1.2.0">E-Mail</a>.
            </p>
            <p>
                <strong>Sonntag, 23. Juni 2002</strong><br />
                Dank der Hilfe eines Users liefern wir ab heute die neue Version 1.1.5 der phpMyFAQ mit einem russischen
                Sprachmodul aus. Desweiteren sind wieder einige kleine Fehler behoben worden. Die neue Version 1.2.0 ist in
                Arbeit.
            </p>
            <p>
                <strong>Samstag, 8. Juni 2002</strong><br />
                Aufgrund einiger kleinerer Probleme im Zusammenspiel mit PHP 4.1.0 wurde heute die phpMyFAQ Version 1.1.4a
                freigegeben. Nutzer der Version 1.1.4 ben&ouml;tigen keinen Patch, wenn Sie bisher auch keine Probleme
                hatten. Die neue Version 1.2.0 ist bereits in Arbeit.
            </p>
            <p>
                <strong>Freitag, 24. Mai 2002</strong><br />
                Die neue Version der phpMyFAQ ist fertig! Das neue Release 1.1.4 bringt etliche Bugfixes und verbesserten
                PHP- und HTML-Code mit sich. Desweiteren l&auml;sst sich nun die Voting-Funktion abschalten. Updates erhalten
                alle Benutzer der Versionen 1.1.x kostenlos per E-Mail.
            </p>
            <p>
                <strong>Mittwoch, 1. Mai 2002</strong><br />
                Seit heute gibt es die Version 1.1.3 der phpMyFAQ. Neben diversen Bugfixes haben wir auch begonnen, den Code
                aufzur&auml;umen und zu optimieren. Benutzer der phpMyFAQ 1.1.2 finden auf unserer Downloadseite den Patch
                auf die neue Version zum Download. Das n&auml;chste gr&ouml;&szlig;ere Release 1.2.0 ist bereits in Planung.
            </p>
            <p>
                <strong>Freitag, 22. März 2002</strong><br />
                Zusammen mit der neuen Version 1.1.2 gibt's nun ein neues Feature: Send2Friend; damit k&ouml;nnen FAQ-Artikel
                an bis zu f&uuml;nf Freunde versendet werden.
            </p>
            <p>
                <strong>Mittwoch, 6. März 2002</strong><br />
                Aufgrund von zwei kleinen Bugs ver&ouml;ffentlichen wir heute die neue Version 1.1.1 der phpMyFAQ.
            </p>
            <p>
                <strong>Montag, 11. Februar 2002</strong><br />
                Seit heute ist die neue Version 1.1.0 der phpMyFAQ fertig.
            </p>
            <p>
                <strong>Freitag, 1. Februar 2002</strong><br />
                Nachdem in der Beta2 immer noch einige Bugs sind, wird es neben der Beta3, die heute oder morgen erscheint,
                wohl noch eine Beta4 der phpMyFAQ 1.1.0 geben.
            </p>
            <p>
                <strong>Mittwoch, 30. Januar 2002</strong><br />
                Im Laufe des heutigen Abends verschicken wir die Beta2 der phpMyFAQ 1.1.0 an die Betatester.
            </p>
            <p>
                <strong>Samstag, 26. Januar 2002</strong><br />
                Die Beta2 der phpMyFAQ 1.1.0 wird Anfang n&auml;chster Woche an die Beta-Tester verschickt. Offene Bugs
                werden dann in der n&auml;chsten Beta-Version gefixt, das Release der Final-Version ist f&uuml;r Mitte Februar geplant.
            </p>
            <p>
                <strong>Montag, 7. Januar 2002</strong><br />
                Seit heute ist die Beta1 der phpMyFAQ 1.1.0 fertig. Wir checken derzeit noch die Version komplett durch und
                schicken dann im Laufe der Woche das Package an die Betatester.
            </p>
            <p>
                <strong>Donnerstag, 3. Januar 2002</strong><br />
                Wir beginnen in der zweiten Januarwoche mit dem Beta-Test der neuen Version 1.1.0, Interessenten k&ouml;nnen
                sich gerne <a href="mailto:thorsten@phpmyfaq.de?subject=phpMyFAQ Beta-Test">hier</a> melden.
            </p>
            <p>
                <strong>Dienstag, 1. Januar 2002</strong><br />
                Die Ver&ouml;ffentlichung der neuen Version mussten wir leider verschieben. Die aktuelle Version 1.0.1 wird
                weiterhin ausgegeben.
            </p>
