---
title: phpMyFAQ news from 2007
canonical: news/2007
layout: news.hbs
---
            <p>
                <strong>2007-11-18</strong><br />
                The phpMyFAQ team is pleased to announce <a href="/download">phpMyFAQ 2.0.4</a>,
                the "I Am Trying To Believe" release. This release added a Thai translation, some DiggIt! and French
                translation fixes and many minor bugfixes.
            </p>
            <p>
                <strong>2007-10-27</strong><br />
                The phpMyFAQ Team hereby announces that support for phpMyFAQ 1.6 will continue until the end of this year
                only. phpMyFAQ 2.0 will be supported until 2008-08-08 then the extened support for PHP 4 will end.
            </p>
            <p>
                <strong>2007-08-18</strong><br />
                The phpMyFAQ Team would like to announce the availability of <a href="/download">phpMyFAQ 2.0.3</a>,
                the "zucchini" release. This release fixes many minor bugs.
            </p>
            <p>
                <strong>2007-07-08</strong><br />
                The phpMyFAQ team is pleased to announce <a href="/download">phpMyFAQ 2.0.2</a>,
                the "Where Is My Mind?" release. This release added some performance improvements, an updated Danish
                translation and many bugfixes.
            </p>
            <p>
                <strong>2007-06-01</strong><br />
                The phpMyFAQ Team would like to announce the availability of <a href="/download">phpMyFAQ 2.0.1</a>,
                the "right to freedom of assembly and association" release. This release fixes the broken update script,
                some bugs with the basic permission level, PHP segfaults with Zend Optimizer extension, and updates the
                Japanese translation. We also fixed many minor bugs.
            </p>
            <p>
                <strong>2007-05-22</strong><br />
                The phpMyFAQ team is pleased to announce <a href="/download">phpMyFAQ 2.0.0</a>,
                the "Just zeros and ones" release. After almost two years of development this version - codenamed Prometheus -
                introduces these improvements:
            <ul>
                <li>added rewritten and enhanced user management</li>
                <li>added rewritten and enhanced authorization management</li>
                <li>added user and group based permissions for categories and records</li>
                <li>added Ajax support</li>
                <li>added automatic link verification</li>
                <li>added user binding to a category</li>
                <li>added glossary support</li>
                <li>added possibility to delete admin log</li>
                <li>added configurable visibility of new questions</li>
                <li>added dynamic related articles</li>
                <li>added support for Google, Yahoo!, and MSN sitemaps</li>
                <li>added improved WYSIWYG editor and Image Manager</li>
                <li>added improved News module</li>
                <li>added tagging</li>
                <li>added DiggIt! link</li>
                <li>added Microsummaries</li>
                <li>added OpenSearch support</li>
                <li>added "submit translation" link</li>
                <li>added experimental support for Oracle</li>
                <li>added experimental support for Interbase/Firebird</li>
                <li>added sorting by id, title and date for records in admin backend</li>
                <li>added comment administration frontend</li>
                <li>added configurable simple reordering of records</li>
                <li>added questionnaire for statistics in installer</li>
                <li>added Ajax-powered Instant Response</li>
                <li>added editable default values for record configuration</li>
                <li>added blacklist for search bots</li>
                <li>added stylesheets for right-to-left text-direction</li>
                <li>improved export functions</li>
                <li>improved URL rewrite functions</li>
                <li>improved category management</li>
                <li>improved administration backend</li>
                <li>updated Arabic translation</li>
                <li>updated German translation</li>
                <li>updated Hewbrew translation</li>
                <li>updated Italian translation</li>
                <li>updated Japanese translation</li>
                <li>updated Spanish translation</li>
            </ul>
            This release is dedicated to someone special. Thank you very much.
            </p>
            <p>
                <strong>2007-05-13</strong><br />
                The phpMyFAQ Team would like to announce the availability of <a href="/download">phpMyFAQ 1.6.12</a>.
                This release updates the bundled Net_IDNA class to version 0.5.1. We also fixed some minor bugs.
            </p>
            <p>
                <strong>2007-05-08</strong><br />
                The phpMyFAQ team is pleased to announce the second release candidate of our next generation release,
                <a href="/download">phpMyFAQ 2.0.0-RC2</a>. This release fixes hopefully the last
                bugs. Do not use this version in production systems, but please test this version and report bugs!
            </p>
            <p>
                <strong>2007-04-29</strong><br />
                The phpMyFAQ Team would like to announce the availability of the release candidate of our next generation
                release, <a href="/download">phpMyFAQ 2.0.0-RC</a>. This release added stylesheets
                for right-to-left text-direction, an improved administration backend, updated Hebrew and Spanish translations,
                and of course, we fixed many bugs. Do not use this version in production systems, but please test this
                version and report bugs!
            </p>
            <p>
                <strong>2007-04-10</strong><br />
                The phpMyFAQ team is pleased to announce the public beta version of our next generation release,
                <a href="/download">phpMyFAQ 2.0.0-beta2</a>. This release added a configurable
                simple reordering of records, sorting by id, title and date for records in admin backend, a comment
                administration frontend, a questionnaire for statistics in installer, an Ajax-powered Instant Response,
                editable default values for record configuration, a blacklist for search bots, and of course, we fixed
                tons of bugs. Do not use this version in production systems, but please test this version and report bugs!
            </p>
            <p>
                <strong>2007-03-31</strong><br />
                The phpMyFAQ Team would like to announce the availability of
                <a href="/download">phpMyFAQ 1.6.11</a>. This maintainance release updates the
                Finnish translation and fixes problems with unsupported charsets in PHP. We also fixed some minor bugs.
            </p>
            <p>
                <strong>2007-03-03</strong><br />
                The phpMyFAQ team is pleased to announce the second preview of our next generation release,
                <a href="/download">phpMyFAQ 2.0.0-beta</a>. This release added user and group
                based permissions for categories and records, OpenSearch support, a "submit translation" link and form,
                experimental support for Oracle databases, experimental support for Interbase/Firebird databases, an updated
                Arabic translation, and of course, we fixed tons of bugs. Do not use this version in production systems, but
                please test this version and report bugs!
            </p>
            <p>
                <strong>2007-02-18</strong><br />
                The phpMyFAQ Team would like to announce the availability of
                <a href="/download">phpMyFAQ 1.6.10</a>. This release fixes a serious security
                issue. All users of affected phpMyFAQ versions are encouraged to upgrade as soon as possible to this latest
                versions! A detailed <a href="/security/advisory-2007-02-18">security advisory</a> is available. We also fixed
                some minor bugs and improved the performance.
            </p>
            <p>
                <strong>2007-02-11</strong><br />
                The last 18 hours phpmyfaq.de was offline after a DOS attack. My webhoster closed my page yesterday evening
                and re-opened it some minutes ago. Thanks to the attacker from the Czech Republic! :-(
            </p>
            <p>
                <strong>2007-01-28</strong><br />
                The phpMyFAQ team is pleased to announce the release of
                <a href="/download">phpMyFAQ 1.6.9</a>. This first release of 2007 updates the
                bundled PHP XMLRPC to version 2.1. We also fixed some bugs.
            </p>
