---
title: phpMyFAQ news from 2010
canonical: news/2010
layout: news.hbs
---
            <p>
                <strong>2010-12-27</strong><br>
                After almost 3 years with the phpMyFAQ 2.5 based layout we switched our website to a modern HTML5/CSS3
                based layout. We checked the layout with all current browsers and we dropped IE6 support.
            </p>
            <p>
                <strong>2010-12-15</strong><br />
                The main server of the phpMyFAQ Project was compromised in an attack, allowing a rogue version of the
                phpMyfAQ software to be uploaded and distributed since december 4th. We released
                <a href="/download">phpMyFAQ 2.6.13</a> for affected users. A detailed <a href="/security/advisory-2010-12-15">
                security advisory</a> is available.
            </p>
            <p>
                <strong>2010-12-13</strong><br />
                The phpMyFAQ Team is pleased to announce <a href="/download">phpMyFAQ 2.6.12</a>, the
                "Free Julian Assange" release. We added experimental support for MariaDB and an empty LDAP configuration file
                as example. We also updated the Arabic, the Dutch, the French and the Norwegian Bokmal translation. We also fixed
                some minor bugs.
            </p>
            <p>
                <strong>2010-11-03</strong><br />
                The phpMyFAQ Team would like to announce the availability of <a href="/download">phpMyFAQ 2.6.11</a>,
                the "I always thought something was fundamentally wrong with the universe" release. This release fixes some bugs
                introduced with phpMyFAQ 2.6.10.
            </p>
            <p>
                <strong>2010-11-02</strong><br />
                The phpMyFAQ Team is pleased to announce <a href="/download">phpMyFAQ 2.6.10</a>, the
                "Loki Schmidt" release. We added several security enhancements and updated the Chinese (Simplified), German
                and Portuguese translation. We also fixed some minor bugs.
            </p>
            <p>
                <strong>2010-09-28</strong><br />
                The phpMyFAQ Team would like to announce the availability of <a href="/download">phpMyFAQ 2.6.9</a>,
                the "Tia Zoe" release. This release fixes a XSS vulnerability. All users of affected phpMyFAQ versions are
                encouraged to upgrade as soon as possible to this latest versions! A detailed <a href="/security/advisory-2010-09-28">
                security advisory</a> is available. We also added a Slovak translation and a minor usability improvement in the
                administration backend. Additionally we fixed an issue with embedded Google Analytics code.<br />
                This release is also dedicated to Roland Bobinger, Rebecca Waltenberger and Emil Schemel.
            </p>
            <p>
                <strong>2010-08-31</strong><br />
                The phpMyFAQ Team is pleased to announce <a href="/download">phpMyFAQ 2.6.8</a>, the
                "Laurent Fignon" release. We dropped the Oracle database support and added a new TinyMCE plugin for adding internal
                links by a suggest search. We also added a basic HTML5 powered administration backend and improved the setup and
                update functionality. The bundled TCPDF library was updated to version 5.6.000, the bundled TinyMCE editor component
                to version 3.3.8 and the bundled phpseclib to version 0.2.1. We also updated the Russian and the Portuguese
                translation. We fixed a XML rendering issue and many minor bugs.
            </p>
            <p>
                <strong>2010-07-29</strong><br />
                The phpMyFAQ Team would like to announce the availability of <a href="/download">phpMyFAQ 2.6.7</a>,
                the "Theo Albrecht" release. This release includes a complete refactored and unittested search backend, an
                improved pagination functionality and we fixed various problems with Microsoft SQL Server Driver for PHP. We also
                fixed some minor bugs.
            </p>
            <p>
                <strong>2010-06-21</strong><br />
                The phpMyFAQ Team is pleased to announce <a href="/download">phpMyFAQ 2.6.6</a>, the
                "Heidi Kabel" release. This release includes a refactored database abstraction, fixes OpenLDAP authentication,
                fixes duplication of search results, fixes an issue with duplicate sitemap characters and some solution ID
                issues. We improved the glossary deletion workflowand updated the Brazilian Portuguese and Norwegian Bokmal
                translations. We also fixed some minor bugs.
            </p>
            <p>
                <strong>2010-05-24</strong><br />
                The phpMyFAQ Team would like to announce the availability of <a href="/download">phpMyFAQ 2.6.5</a>,
                the "Ronnie James Dio" release. This release updates bundled TCPDF library to version 5.0.009 and TinyMCE editor
                component to version 3.3.5.1. We refactored OpenSearch plugin code base and fixed small update issues in update
                script, a missing language fallback issue in instant response, the user deletion in admin backend and a
                backup/restore bug. We updated the Polish, Russian and Thai translation. We also fixed some minor bugs.
            </p>
            <p>
                <strong>2010-04-18</strong><br />
                The phpMyFAQ Team is pleased to announce <a href="/download">phpMyFAQ 2.6.4</a>, the
                "Eyjafjallaj&ouml;kull" release. This release adds experimental support for Microsoft SQL Server Driver for PHP and
                includes an improved FAQ record administration frontend and Sitemap titles. We updated the German, the Romanian
                and the Swedish translation. We also fixed some minor bugs.
            </p>
            <p>
                <strong>2010-03-03</strong><br />
                The phpMyFAQ Team would like to announce the availability of <a href="/download">phpMyFAQ 2.6.3</a>,
                the "Steve Fossett" release. This release fixes various mail issues and improves links rewriting, sitemap for
                Chinese, Japanese and Korean content and the meta keyword handling. We updated Portuguese and French translation.
                We also fixed a lot of minor bugs.
            </p>
            <p>
                <strong>2010-02-01</strong><br />
                The phpMyFAQ Team is pleased to announce <a href="/download">phpMyFAQ 2.6.2</a>, the
                "Hildegard Knef" release. This release fixes an update script issue, the display of Chinese, Japanese and Korean
                content in PDFs, some issues with RSS feeds and the broken Spanish translation. We also updated the French
                translation and fixed some minor bugs.
            </p>
            <p>
                <strong>2010-01-23</strong><br />
                The phpMyFAQ Team would like to announce the availability of <a href="/download">phpMyFAQ 2.6.1</a>,
                the "Oleg Velyky" release. This release updates the bundled TCPDF library to version 4.8.026 and we improved
                cookie handling. We also fixed a lot of bugs reported by our users the last two weeks.
            </p>
            <p>
                <strong>2010-01-19</strong><br />
                The phpMyFAQ Team is pleased to announce <a href="/download">phpMyFAQ 2.5.7</a>, the
                "Herbert Wehner" release. This release improves the glossary detection and contains updated Dutch, Indonasian,
                Chinese (Simplified), Japanese and Norwegian Bokmal translations. We fixed many minor bugs.
            </p>
            <p>
                <strong>2010-01-11</strong><br />
                The phpMyFAQ Team would like to announce the availability of our new major version,
                <a href="/download">phpMyFAQ 2.6.0</a>, the "Sir Edmund Hillary" release. With this
                release we moved all language files to UTF-8 and added TCPDF as replacement for FPDF library. We also added
                support for TinyMCE translations, support for multi-language news, user adjustable template sets and styles,
                support plurals in translations, share on Facebook link, a rest/json API, secure login if SSL is available, FAQ
                entry dependent meta description, and experimental support for Microsoft Windows Web App Gallery. We improved the
                attachment functionality, the install script, the category view with description, the FAQ entry activation, the
                user administration, and the FAQ entry workflow. We removed Docbook XML export and the Net_IDNA library. Finally,
                we updated the Greek, the Lithuanian, and the Japanese translation.
            </p>
            <p>
                <strong>2010-01-01</strong><br />
                The phpMyFAQ Team wishes everyone a happy new year 2010! Since today, the only supported versions are phpMyFAQ 2.5
                and the upcoming phpMyFAQ 2.6 release. We don't support any PHP 4 based of phpMyFAQ anymore.
            </p>
