---
title: phpMyFAQ news from the past
canonical: news/
layout: news.hbs
---
                <p>Please select a year:</p>
                <ul>
                    <li>
                        <a href="/news/2001">2001</a><br>The PHP3 beginnings with phpMyFAQ 0.x and the final 1.0 release
                    </li>
                    <li>
                        <a href="/news/2002">2002</a><br>New features with phpMyFAQ 1.1 and going open source with 1.2
                    </li>
                    <li>
                        <a href="/news/2003">2003</a><br>Adding simple multi-language and PDF support in phpMyFAQ 1.3
                    </li>
                    <li>
                        <a href="/news/2004">2004</a><br>Now with a WYSIWYG editor and XHTML support with phpMyFAQ 1.4
                    </li>
                    <li>
                        <a href="/news/2005">2005</a><br>Support for PostgreSQL, MS SQL and SEO optimized URLs with 1.5
                    </li>
                    <li>
                        <a href="/news/2006">2006</a><br>Revisions and better spam protection with phpMyFAQ 1.6
                    </li>
                    <li>
                        <a href="/news/2007">2007</a><br>Better user management and permissions with phpMyFAQ 2.0
                    </li>
                    <li>
                        <a href="/news/2008">2008</a><br>Improving the 2.0 version and working on phpMyFAQ 2.5
                    </li>
                    <li>
                        <a href="/news/2009">2009</a><br>Using PHP 5.2 with phpMyFAQ 2.5
                    </li>
                    <li>
                        <a href="/news/2010">2010</a><br>Everything's UTF-8 encoded now with phpMyFAQ 2.6
                    </li>
                    <li>
                        <a href="/news/2011">2011</a><br>Better usability and HTML5 support with phpMyFAQ 2.7
                    </li>
                    <li>
                        <a href="/news/2012">2012</a><br>Improving the 2.7 version and working on phpMyFAQ 2.8
                    </li>
                    <li>
                        <a href="/news/2013">2013</a><br>Using PHP 5.3 and Bootstrap for phpMyFAQ 2.8
                    </li>
                    <li>
                        <a href="/news/2014">2014</a><br>Improving the 2.8 version and working hard on phpMyFAQ 2.9
                    </li>
                </ul>
