---
title: Security Advisories
description: We seriously take care about any security issues found in phpMyFAQ or bundled components. This page provides links to all our security advisories.
canonical: advisories
layout: none
---
{{> head ~}}

{{> header ~}}

    <section class="security section">
        <div class="container">
            <h1>{{page.title}}</h1>
            <div class="row">
                <div class="col-xs-12">
                    <p>
                        We seriously take care about any security issues found in phpMyFAQ or bundled components. If you’ve
                        discovered a security vulnerability in phpMyFAQ, we appreciate your help in disclosing it to us in a
                        responsible manner.
                    </p>
                    <p>
                        Publicly disclosing a vulnerability can put the entire community at risk. If you’ve discovered a
                        security concern, please email us at <a href="mailto:security@phpmyfaq.de">security@phpmyfaq.de</a>.
                        We’ll work with you to make sure that we understand the scope of the issue, and that we fully address
                        your concern. We consider correspondence sent to <a href="mailto:security@phpmyfaq.de">security@phpmyfaq.de</a>
                        our highest priority, and work to address any issues that arise as quickly as possible.
                    </p>
                    <p>
                        Please act in good faith towards our users’ privacy and data during your disclosure. We won’t take
                        legal action against you or administrative action against your account if you act accordingly: White
                        hat researchers are always appreciated.
                    </p>
                    <p>
                        Here you can find our advisories:
                    </p>

                    <h2>2017</h2>
                    <ul>
                        <li><a href="/security/advisory-2017-10-19">Security Advisory 2017-10-19</a></li>
                        <li><a href="/security/advisory-2017-07-12">Security Advisory 2017-07-12</a></li>
                        <li><a href="/security/advisory-2017-04-02">Security Advisory 2017-04-02</a></li>
                        <li><a href="/security/advisory-2017-01-27">Security Advisory 2017-01-27</a></li>
                    </ul>

                    <h2>2016</h2>
                    <ul>
                        <li><a href="/security/advisory-2016-04-11">Security Advisory 2016-04-11</a></li>
                    </ul>

                    <h2>2014</h2>
                    <ul>
                        <li><a href="/security/advisory-2014-11-30">Security Advisory 2014-11-30</a></li>
                        <li><a href="/security/advisory-2014-09-16">Security Advisory 2014-09-16</a></li>
                        <li><a href="/security/advisory-2014-02-04">Security Advisory 2014-02-04</a></li>
                    </ul>

                    <h2>2013</h2>
                    <ul>
                        <li><a href="/security/advisory-2013-11-26">Security Advisory 2013-11-26</a></li>
                        <li><a href="/security/advisory-2013-11-18">Security Advisory 2013-11-18</a></li>
                    </ul>

                    <h2>2012</h2>
                    <ul>
                        <li><a href="/security/advisory-2012-04-14">Security Advisory 2012-04-14</a></li>
                    </ul>

                    <h2>2011</h2>
                    <ul>
                        <li><a href="/security/advisory-2011-10-25">Security Advisory 2011-10-25</a></li>
                        <li><a href="/security/advisory-2011-09-28">Security Advisory 2011-09-28</a></li>
                    </ul>

                    <h2>2010</h2>
                    <ul>
                        <li><a href="/security/advisory-2010-12-15">Security Advisory 2010-12-15</a></li>
                        <li><a href="/security/advisory-2010-09-28">Security Advisory 2010-09-28</a></li>
                    </ul>

                    <h2>2009</h2>
                    <ul>
                        <li><a href="/security/advisory-2009-12-01">Security Advisory 2009-12-01</a></li>
                        <li><a href="/security/advisory-2009-09-01">Security Advisory 2009-09-01</a></li>
                        <li><a href="/security/advisory-2009-06-02">Security Advisory 2009-06-02</a></li>
                    </ul>

                    <h2>2008</h2>
                    <ul>
                        <li><a href="/security/advisory-2008-09-11">Security Advisory 2008-09-11</a></li>
                    </ul>

                    <h2>2007</h2>
                    <ul>
                        <li><a href="/security/advisory-2007-02-18">Security Advisory 2007-02-18</a></li>
                    </ul>

                    <h2>2006</h2>
                    <ul>
                        <li><a href="/security/advisory-2006-12-15">Security Advisory 2006-12-15</a></li>
                        <li><a href="/security/advisory-2006-04-21">Security Advisory 2006-04-21</a></li>
                    </ul>

                    <h2>2005</h2>
                    <ul>
                        <li><a href="/security/advisory-2005-11-18">Security Advisory 2005-11-18</a></li>
                        <li><a href="/security/advisory-2005-09-23">Security Advisory 2005-09-23</a></li>
                        <li><a href="/security/advisory-2005-08-15">Security Advisory 2005-08-15</a></li>
                        <li><a href="/security/advisory-2005-06-29">Security Advisory 2005-06-29</a></li>
                        <li><a href="/security/advisory-2005-03-06">Security Advisory 2005-03-06</a></li>
                    </ul>

                    <h2>2004</h2>
                    <ul>
                        <li><a href="/security/advisory-2004-07-27">Security Advisory 2004-07-27</a></li>
                        <li><a href="/security/advisory-2004-05-18">Security Advisory 2004-05-18</a></li>
                    </ul>

                    <p>
                        We want to say a big thank you to <strong>Stefan Esser</strong> from <a rel="nofollow"
                        href="http://www.sektioneins.de">SektionEins GmbH</a> and <strong>Christopher Kunz</strong>
                        from the <a rel="nofollow" href="http://www.hardened-php.net">Hardened PHP team</a> and to
                        <strong>Johann-Peter Hartmann</strong> from <a rel="nofollow" href="http://www.mayflower.de">
                        Mayflower GmbH</a> and <a rel="nofollow" href="http://www.schlueters.de">Johannes Schlüter</a>
                        from the <a rel="nofollow" href="http://www.net">PHP Development team</a> for auditing
                        phpMyFAQ.
                    </p>
                    <p>
                        For further information and in case of questions, please contact the <a href="/imprint">phpMyFAQ
                        Team</a>.
                    </p>
                </div>
            </div>
        </div>
    </section>

{{> footer ~}}

{{> scripts ~}}