---
title: About phpMyFAQ iOS App
description: Get all your phpMyFAQ information in our iOS App
canonical: app
layout: none
---
{{> head ~}}

{{> header ~}}

<section class="app section">
    <div class="container">
        <h1>{{page.title}}</h1>
        <div class="row information">
            <div class="col-md-6 col-xs-12">
                <p>
                    The free phpMyFAQ App includes the latest news posts, plus the most popular and the recent FAQs for
                    phpMyFAQ 2.8 or later. You can also see the complete structure of the categories, which includes
                    their corresponding FAQs. All FAQs are displayed with syntax highlighting, if it is used in the FAQ.
                    That ensures the same embedded content as in the web application. Setting a default language
                    determines which FAQs are shown for each category.
                </p>
                <div class="text-center">
                    <a rel="nofollow" target="_blank" class="btn btn-primary" href="https://itunes.apple.com/en/app/phpmyfaq/id977896957">
                        <i class="fa fa-apple"></i> Get it now!
                    </a>
                </div>
                <h2>
                    Compatibility
                </h2>
                <h3>
                    phpMyFAQ
                </h3>
                <ul>
                    <li>Version 2.8.x</li>
                    <li>Version 2.9.x</li>
                </ul>
                <h3>
                    Apple
                </h3>
                <ul>
                    <li>Requires iOS 7.1 or later</li>
                    <li>iPhone</li>
                    <li>iPad</li>
                    <li>iPod touch</li>
                </ul>
                <p>
                    The phpMyFAQ iOS App is optimized for iPhone 5, iPhone 6, and iPhone 6 Plus.
                </p>
                <h2>
                    Big thank you!
                </h2>
                <p>
                    The phpMyFAQ iOS is developed by <a rel="nofollow" target="_blank" href="http://www.bis-programmierung.de/">
                    Rolf Warnecke</a>
                </p>
            </div>
            <div class="col-md-6 col-xs-12">
                <img class="img-responsive" src="{{site.domain}}/images/ios-app.jpg" width="570" height="639" alt="phpMyFAQ iOS App">
            </div>
        </div>
    </div>
</section>

{{> footer ~}}

{{> scripts ~}}
