---
title: Development
layout: none
---
{{> head ~}}

{{> header ~}}

    <section class="development section">
        <div class="container">
            <h1>{{page.title}}</h1>
            <div class="row">
                <div class="col-lg-6">

                    <a id="issues"></a>
                    <h2>Issues</h2>
                    <p>
                        If you find a bug in phpMyFAQ, report it at <a rel="nofollow" href="https://github.com/thorsten/phpMyFAQ/issues">
                        our issue tracker at Github</a>. Please make sure to search whether your bug already exists and do
                        not submit support requests.
                    </p>

                </div>
                <div class="col-lg-6">

                    <a id="contribute"></a>
                    <h2>Contribute to phpMyFAQ</h2>
                    <p>
                        Since phpMyFAQ is an Open Source project we encourage developers to <a href="./contribute">contribute
                        patches and code</a> for us to include in the main package of phpMyFAQ. New or updated translations are
                        always welcome, you can submit them easily with the translation center in your phpMyFAQ installation.
                    </p>
                    <p>
                        Here's a <a rel="nofollow" href="https://github.com/thorsten/phpMyFAQ/contributors">list of
                        contributors</a> to phpMyFAQ since we host our repository on Github.
                    </p>

                </div>
                <div class="col-lg-6">

                    <a id="getthecode"></a>
                    <h2>Get the code</h2>
                    <p>
                        If you want to try phpMyFAQ out, provide early feedback on the code, or help us built a better FAQ
                        script, we provide the official phpMyFAQ repository hosted on GitHub at
                        <a rel="nofollow" href="http://github.com/thorsten/phpMyFAQ">http://github.com/thorsten/phpMyFAQ</a>.
                    </p>


                </div>
                <div class="col-lg-6">

                    <a id="vagrantbox"></a>
                    <h2>Vagrant + Puppet development box</h2>
                    <p>
                        We provide a Vagrant based development enviroment for testing and developing phpMyFAQ. The puppet
                        scripts will install a simple LAMP stack and you can clone a copy of the phpMyFAQ Github repository
                        to the virtual machine shared folder. For more information visit our Vagrant/Puppet repository at
                        <a rel="nofollow" href="https://github.com/phpMyFAQ/phpmyfaq-vagrant">Github</a>.
                    </p>

                </div>
            </div>
        </div>
    </section>

{{> footer ~}}

{{> scripts ~}}