---
title: Documentation
description: Documentation for phpMyFAQ administrator, end-users and developers.
canonical: documentation
layout: none
---
{{> head ~}}

{{> header ~}}

<section class="documentation section">
  <div class="container">
    <h1>{{page.title}}</h1>
    <p class="intro">
      It's important for phpMyFAQ to provide documentation to its users, but documentation means different
      things to different people. You can find links to our end-user guide providing everything from the
      installation of phpMyFAQ and how to use it. For developers we provide a bunch of resources about how to
      contribute to phpMyFAQ the right way.
    </p>
    <div class="row">
      <div class="col-lg-6 col-xs-12">
        <h2>Documentation for users</h2>
        <ul class="list-unstyled">
          <li>
            <h3>
              <i class="fa fa-caret-right"></i>
              <a href="/docs/3.0">Documentation for phpMyFAQ 3.0</a>
            </h3>
            This guide contains detailed documentation for those using phpMyFAQ 3.0, whether they be
            administrators or end-users.
          </li>
          <li>
            <h3>
              <i class="fa fa-caret-right"></i>
              <a href="/requirements">Requirements</a>
            </h3>
            All requirements like e.g. the minimum PHP version to install the latest version of phpMyFAQ
          </li>
          <li>
            <h3>
              <i class="fa fa-caret-right"></i>
              <a href="/changelog">Changelog</a>
            </h3>
            The list of user-visible changes of phpMyFAQ releases since 2001.
          </li>
          <li>
            <h3>
              <i class="fa fa-caret-right"></i>
              <a href="/translations">Translations</a>
            </h3>
            The list of supported languages in phpMyFAQ and a guide how to fix existing or add new
            translations.
          </li>
        </ul>
      </div>
      <div class="col-lg-6 col-xs-12">
        <h2>Documentation for developers</h2>
        <ul class="list-unstyled">
          <li>
            <h3>
              <i class="fa fa-caret-right"></i>
              <a href="/docs/standards">Coding standards</a>
            </h3>
            Coding styles for PHP code, HTML, and LESS/CSS. Please take care you follow these coding
            standards.
          </li>
          <li>
            <h3>
              <i class="fa fa-caret-right"></i>
              <a href="/contribute">How to contribute</a>
            </h3>
            If you want to contribute code or fix issues in phpMyFAQ you can find everything on this
            page.
          </li>
          <li>
            <h3>
              <i class="fa fa-caret-right"></i>
              <a rel="nofollow" target="_blank" href="https://github.com/thorsten/phpMyFAQ">
                Source code
              </a>
            </h3>
            Quick link to our repository at <a rel="nofollow" target="_blank" href="https://github.com">
            Github</a>.
          </li>
          <li>
            <h3>
              <i class="fa fa-caret-right"></i>
              <a href="/docs/codenames">Codenames</a>
            </h3>
            phpMyFAQ uses codenames for every major release, if you're curious about them, take a look
            at this page.
          </li>
        </ul>
      </div>
    </div>
    <h2>Outdated documentations</h2>
    <p class="outro">
      Looking for an old version of documentation? We have an overview of <a href="/docs/">old,
      un-maintained versions</a> online.
    </p>
    <p>
      For additional information about cPanel, hosting or developer specific guides please check out our friends at
      <a target="_blank" href="https://hostingcanada.org/guides/">Hosting Canada</a>.
    </p>
  </div>
</section>

{{> footer ~}}

{{> scripts ~}}
