---
title: Donations
description: phpMyFAQ is an Open Source software project. Nobody is paying us for the work on phpMyFAQ so all development and support is done in our sparetime.
canonical: donations
layout: none
---
{{> head ~}}

{{> header ~}}

<section class="security section">
    <div class="container">
        <h1>{{page.title}}</h1>
        <div class="row">
            <div class="col-xs-12">

                <p>
                    <strong>Why should you donate to the phpMyFAQ developers?</strong><br>
                    phpMyFAQ is an Open Source software project. Nobody is paying us for the work on phpMyFAQ so all
                    development and support is done in our sparetime.
                </p>

                <p>
                    <strong>Where will my money go?</strong><br>
                    Your donations are used to cover the cost of maintaining this website and related resources, and
                    services required to provide these resources. We have to pay the managed webhosting of
                    <strong>www.phpmyfaq.de</strong>, <strong>api.phpmyfaq.de</strong> and
                    <strong>download.phpmyfaq.de</strong> and a virtual server for
                    <a target="_blank" href="http://demo.phpmyfaq.de">demo.phpmyfaq.de</a>. The monthly costs are
                    approximately 20€ per month.
                </p>

                <h2>Support the developers with gifts</h2>
                <ul>
                    <li>
                        <a rel="nofollow" href="http://www.amazon.de/exec/obidos/registry/UQQJEX7BCHPZ/">
                            Thorsten's wishlist on amazon.de
                        </a>
                    </li>
                    <li>
                        <a rel="nofollow" href="http://www.amazon.de/registry/wishlist/FGS7DWAJIRLD">
                            Florian's wishlist on amazon.de
                        </a>
                    </li>
                </ul>
                <h2>Donate through PayPal</h2>
                <p>
                    You can donate through PayPal by clicking on the donate button:
                </p>
                <div align="center">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="EGB9LS3ZCP7C8">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG_global.gif"
                               border="0" name="submit" alt="PayPal — The safer, easier way to pay online.">
                        <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
                <p style="font-size: 48px; text-align: center; margin-top: 66px;">THANK YOU!</p>
            </div>
        </div>
    </div>
</section>

{{> footer ~}}

{{> scripts ~}}