---
title: Open Source FAQ software
description: phpMyFAQ is a mobile-friendly, feature-rich, scalable open source FAQ software using PHP or HHVM
layout: none
---
{{> head ~}}

{{> header ~}}

    <section class="promo offset-header">
        <div class="container text-center">
            <h2 class="title">phpMy<span class="highlight">FAQ</span></h2>

            <p class="intro">
                phpMyFAQ is a mobile-friendly, feature-rich, scalable open source FAQ software using PHP or HHVM
            </p>

            <div class="btns">
                <a class="btn btn-cta-secondary" href="http://demo.phpmyfaq.de/">Demo</a>
                <a class="btn btn-cta-primary" href="{{site.domain}}/download">Download</a>
            </div>
            <p class="love-phpmyfaq">
                We really think you will like this knowledge base script. Knowledge is free, and so is phpMyFAQ.
            </p>

            <ul class="meta list-inline">
                <li>
                    <a rel="nofollow" target="_blank" href="https://github.com/thorsten/phpMyFAQ">
                        View on GitHub
                    </a>
                </li>
                <li>
                    <a href="/documentation">
                        Full Documentation
                    </a>
                </li>
                <li>
                    <a rel="nofollow" target="_blank" href="https://github.com/thorsten/phpMyFAQ/issues">
                        Issues on GitHub
                    </a>
                </li>
            </ul>
        </div>
    </section>



    <section id="news" class="news">
        <div class="container">
            <h2>
                <a id="latest-news"></a>
                Latest phpMyFAQ news
            </h2>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <h3>
                        2015-01-02
                    </h3>
                    <hr>
                    <p>
                        The phpMyFAQ Team is pleased to announce the first preview version of the next major version of
                        phpMyFAQ, <a href="/download">phpMyFAQ 2.9.0-alpha2</a>, the "Je suis Charlie" release. This
                        release adds experimental support for the upcoming PHP 7 and for HHVM 3.4.2+. We added the
                        possibility for inactive, hidden categories, to disable registration and we added a tag
                        management frontend. We added a control for meta robots handling, a configuration for
                        auto-activation of new users and finally support for SMTP. We upgraded the bundled libraries to
                        Symfony ClassLoader 2.6.3, jQuery 1.11.2, Bootstrap 3.3.2, FontAwesome 4.3.0, Modernizr 2.8.3,
                        TinyMCE 4.1.7 and SwiftMailer 5.3.1. Please note that some functionality is still missing and
                        don't use this version in production systems, but test this version and please report bugs!
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <h3>2015-01-06</h3>
                    <hr>
                    <p>
                        Today we relaunched our website. In the last couple of weeks we decoupled our almost 14 year old
                        website into variuous side projects to improve the maintainability of our infrastructure. The
                        new page is completely revamped from the ground and was developed with the "mobile first"
                        paradigm in mind.<br>
                        The new page is built using Yeoman, Grunt, Bower, Assemble and Handlebars, more and more content
                        is just stored just as plain Markdown files. It's a static site which will be "assembled" during
                        deployment. We also improved our URL structure. We hope, you like it. If you want to check the
                        code, it's open source, grab it <a rel="nofollow" target="_blank" href="https://github.com/phpMyFAQ/www.phpmyfaq.de">at Github</a>,
                        if you  found a bug, please report it at <a rel="nofollow" target="_blank" href="https://github.com/phpMyFAQ/www.phpmyfaq.de/issues">at Github</a>
                        as well.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <h3>
                        2014-12-31
                    </h3>
                    <hr>
                    <p>
                        The phpMyFAQ Team would like to announce the availability of
                        <a href="/download">phpMyFAQ 2.8.19</a>, the "Udo Jürgens" release. This
                        release fixes some minor issues. Happy New Year!
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Looking for older news? When take a look at our <a href="/news/">news archive</a>.
                    </p>
                    <div class="icon-holder text-center"><i class="fa fa-smile-o"></i></div>
                </div>
            </div>
        </div>
    </section>

{{> footer ~}}

{{> scripts ~}}