---
title: Open Source FAQ software
description: phpMyFAQ is a mobile-friendly, feature-rich, scalable open source FAQ software using PHP 7
layout: none
---
{{> head ~}}

{{> header ~}}

    <section class="promo offset-header">
        <div class="container text-center">
            <h2 class="title">phpMy<span class="highlight">FAQ</span> 2.9</h2>

            <p class="intro">
                phpMyFAQ is a mobile-friendly, feature-rich, scalable open source FAQ software for PHP 7
            </p>

            <div class="btns">
                <a class="btn btn-cta-secondary" href="http://demo.phpmyfaq.de/">Demo</a>
                <a class="btn btn-cta-primary" href="{{site.domain}}/download">Download</a>
            </div>
            <div class="btns">
                <a class="btn btn-cta-app" rel="nofollow" target="_blank" href="https://itunes.apple.com/en/app/phpmyfaq/id977896957">
                    <i class="fa fa-apple"></i> DOWNLOAD iOS APP
                </a>
            </div>
            <p class="love-phpmyfaq">
                We really think you will like this knowledge base script. Knowledge is free, and so is phpMyFAQ.
            </p>

            <ul class="meta list-inline">
                <li>
                    <a href="/app">
                        About phpMyFAQ iOS App
                    </a>
                </li>
                <li>
                    <a rel="nofollow" target="_blank" href="https://github.com/thorsten/phpMyFAQ">
                        View on GitHub
                    </a>
                </li>
                <li>
                    <a href="/documentation">
                        Full Documentation
                    </a>
                </li>
                <li>
                    <a rel="nofollow" target="_blank" href="https://github.com/thorsten/phpMyFAQ/issues">
                        Issues on GitHub
                    </a>
                </li>
            </ul>
        </div>
    </section>



    <section id="news" class="news">
        <div class="container">
            <h2>
                <a id="latest-news"></a>
                Latest phpMyFAQ news
            </h2>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-xs-12">
                    {{#markdown}}
###2019-01-24
* * *
The phpMyFAQ Team would like to announce the availability of [phpMyFAQ 3.0.0-alpha.4](/download), the "Joachim Deckarm"
release. The forth pre-release adds a 404 page template and improves the brute force detection handling. We updated
the Turkish translation and updated all third party dependencies. We fixed a lot of issue found by our test users of the
second alpha release and we updated almost all of our bundled dependencies. Please don't use this version in production
systems, but test this version and please report bugs!
                    {{/markdown}}
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    {{#markdown}}
###2018-12-21
* * *
The phpMyFAQ Team is pleased to announce [phpMyFAQ 3.0.0-alpha.3](/download), the "111th release on Github" release. This
third pre-release marks a big step ahead with the changed PHP requirement to PHP 7.1 or later. We added the experimental
large permissions support with sections you can define in your FAQ installation. We also added support for Elasticsearch
v5 and later. We fixed a lot of issue found by our test users of the second alpha release and we updated almost all of
our bundled dependencies. Please don't use this version in production systems, but test this version and please report
bugs!
                    {{/markdown}}
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    {{#markdown}}
###2018-09-02
* * *
The phpMyFAQ Team would like to announce the availability of [phpMyFAQ 2.9.11](/download), the "Aretha Franklin" release.
This release fixes multiple security vulnerabilities, all users of affected phpMyFAQ versions are encouraged to upgrade
as soon as possible to this latest versions! A detailed [security advisory](/security/advisory-2018-09-02) is available.
The release also updates the bundles packages jQuery and Handlebars. It also fixes some minor issues.
                    {{/markdown ~}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-xs-12">
                    {{#markdown}}
###2018-06-08
* * *
The phpMyFAQ Team is pleased to announce [phpMyFAQ 3.0.0-alpha.2](/download), the "World Oceans Day" release. The
second pre-release marks a big step ahead with the changed PHP requirement to PHP 5.6+ and PHP 7+. We add a multiple
file upload for attachment, an automated hint for updates, an improved workflow for translating FAQs and we improved the
Docker support which is now really awesome. We fixed a lot of issues reported from the first alpha release back and we
updated a lot of our external dependencies. Please don't use this version in production systems, but test this version
and please report bugs!
                    {{/markdown}}
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    {{#markdown}}
###2018-02-17
* * *
The phpMyFAQ Team would like to announce the availability of [phpMyFAQ 2.9.10](/download), the "Deniz Yücel" release.
This release updates the Dutch translation and some bundled dependencies. It also fixes a lot of minor issues.
                    {{/markdown}}
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    {{#markdown}}
###2018-02-12
* * *
The phpMyFAQ Team is pleased to announce [phpMyFAQ 3.0.0-alpha](/download), the "17 years and still living" release. This
new major pre-release marks a big step ahead with the changed PHP requirement to PHP 5.6+ and PHP 7+. We finally added
PHP namespaces, Docker support, a LDAP configuration frontend, a configuration for enable/disable XML sitemaps, support
for category images and categories on homepage, an image slider template, an improved attachment overview, HTML5 export
and we're ready for the EU General Data Protection Regulation. We improved our REST API including login and the sticky
records feature. We switched CSS development from LESS to SCSS and our template variable syntax is now compatible with
Twig/Handlebars. Our new mobile first template is based on Bootstrap v4. We removed the translation admin frontend, the
XHTML export, support for ext/mssql, the bundled Symfony ClassLoader and Bower, we're now using NPM/Yarn only. Please
don't use this version in production systems, but test this version and please report bugs!
                    {{/markdown}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Looking for older news? When take a look at our <a href="/news/">news archive</a>.
                    </p>
                    <div class="icon-holder text-center"><i class="fa fa-smile-o"></i></div>
                    <div class="text-center" style="font-size: 10px; margin-top: 20px;">
                        ADVERTISMENTS
                        <br>
                        <!-- 2019-06-06 -->
                        <a target="_blank" href="https://www.webton.nl/blog/tag/linkbuilden">Webton</a>
                        <br>
                        <!-- 2019-08-15 -->
                        <a target="_blank" href="https://casinopiloten.se/casino-utan-registrering">Casino utan registrering 2018 - Ingen verifiering eller konto - uttag på 5 min!</a>
                        <br>
                        Best mobile casinos for Swedish players are available at <a target="_blank" href="https://nyamobilcasinon.se/">www.NyaMobilCasinon.se</a>
                        <br>
                        <!-- 2019-03-31 -->
                        <a target="_blank" href="http://www.7binaryoptions.com/brokers/" title="binary options trading guide">
                            7 Binary Options - binary options trading guide
                        </a>
                        <br>
                        <!-- 2019-10-03 -->
                        If you like to play mobile casino slots,
                        <a target="_blank" href="http://phonebillcasino.co.uk/mobile-slots-pay-by-phone-bill/">phonebillcasino.co.uk</a>
                        specialise in sites that allow you to play Netent slots and pay by mobile.
                        <br>
                        Play the latest
                        <a target="_blank" href="http://mobilebingobonuses.co.uk">mobilebingobonuses.co.uk</a>
                        at some of best casino sites in the UK
                        <br>
                        <!-- 2019-12-31 -->
                        Finding a safe and secure casino can be tricky, which is why
                        <a target="_blank" href="https://www.bokumobilecasino.com/">Boku Casino</a>
                        sites can be a perfect choice; offering slots and casino games that let you pay by mobile.
                        <br>
                        <!-- 2019-03-31 -->
                        <a target="_blank" href="https://www.voordeelcasino.com/high-roller-bonus/">High Roller Bonus</a>
                        <br>
                        <!-- 2019-04-06 -->
                        Go to the number 1 <a target="_blank" href="https://www.onlinecasino.eu">online casino</a> guide
                        for Europe
                        <br>
                        <!-- 2019-04-15 -->
                        <a target="_blank" href="https://www.casinosvergelijken.nl/oranje-casino/">Oranje Casino</a> is
                        one of the best online casinos for Europe
                        <br>
                        <!-- 2019-06-15 -->
                        <a target="_blank" href="https://www.voetbalgokken.nu/">VoetbalGokken.nu</a>
                        <br>
                        <!-- 2019-08-01 -->
                        <a href="http://wptheme.fr/theme-wordpress-divi/">Divi Wordpress Theme</a>
                        <br>
                        <!-- 2019-08-15 -->
                        Get the latest info on mobile betting and depositing methods from
                        <a target="_blank" href="http://placeabetonline.co.uk/bet-using-mobile-phone-credit/">placeabetonline.co.uk</a>
                        <br>
                        Play the latest and best pay by phone bill slots at a <a target="_blank" href="https://bokuslots.com/">Boku casino</a>
                        sites using safe and secure mobile friendly software.
                        <br>
                        <!-- 2019-12-11 -->
                        For the best in-play and cash out betting sites online, visit <a target="_blank" href="https://cashoutbettingsites.co.uk/best-cash-out-betting-sites/">cashoutbettingsites.co.uk</a>
                        <br>
                        <!-- 2019-12-19 -->
                        Speel voor echt geld in
                        <a target="_blank" href="https://onlinecasinohex.nl/online-casinos/ideal/">Online Casino iDeal</a>
                        - alleen de beste Nederlandse casino's.
                        <br>
                        <!-- 2019-12-31 -->
                        <a target="_blank" href="https://www.kelbet.com/">Kelbet</a>
                        <br>
                        <a target="_blank" href="https://code-promo-be.com">Codes promotionnel Ladbrokes</a>
                        <br>
                        <a target="_blank" href="https://code-promo-first.com">Code promo Betfirst</a>
                        <br>
                        <a target="_blank" href="https://casinocodepromo.be">Codes promo Casino 777 BE</a>
                        <br>
                        <a target="_blank" href="https://kelbet.be/">Kelbet.be</a>
                        <br>
                        <a target="_blank" href="https://cercledujeu.com/">Casino en ligne</a>
                        <br>
                        <a target="_blank" href="https://www.bonuscodegenerator.com/">Get the bet365 bonus code</a>
                        <br>
                        <a target="_blank" href="https://bet-promotiecode.com/">Betfirst bonus code</a>
                        <br>
                        <a target="_blank" href="https://promotiecode-spellen.com/">Promotiecode-Spellen</a>
                        <br>
                        <a target="_blank" href="http://promotiecode-casino.com/">Promotiecode-Casino</a>
                        <br>
                        <a target="_blank" href="https://les-bonus.com/">Bonus paris sportif</a>
                        <br>
                        <a target="_blank" href="https://codigo-promocional-juegos.com/">bet365 codigo bonus</a>
                        <br>
                        <a target="_blank" href="https://www.bemybet.com/best-betting-promo-codes/">Best betting promo codes</a>
                        <br>
                        <a target="_blank" href="https://lingo-bonus.codes/">Lapalingo bonus</a>
                        <br>
                        <a target="_blank" href="https://codigo-registro.com/">Codigo promocional Sportium 2019</a>
                        <br>
                        <!-- 2019-03-28 -->
                        <a target="_blank" href="https://www.traffictoday.nl/">Traffic Today Online Marketing</a>
                        <br>
                        <a target="_blank" href="https://skepp.com/de/">SKEPP Büro Mieten</a>
                        <br>
                        <a target="_blank" href="https://www.inshared.nl/autoverzekering">Autoverzekering</a>
                        <br>
                        <!-- 2019-12-31 -->
                        The best comparison website for online casino bonuses. Coverage of all major online casinos with
                        offering for people in the United Kingdom. Don't start playing before you have checked this
                        <a target="_blank" href="https://freespinsnodepositnowager.com/paypal-casinos/">casino bonus comparison website.</a>
                        <br>
                        <a target="_blank" href="https://ayakacasinos.com/review/vera-john-casino-review/">ベラジョンカジノ</a>
                        <br>
                        <!-- 2019-06-16 -->
                        <a target="_blank" href="https://www.paydayme.com/">payday loan online</a>
                        <br>
                        <!-- 2019-07-22 -->
                        For a selection of over 500 slots from all the best manufactures, try
                        <a target="_blank" href="https://www.slotgames.co.uk/">www.slotgames.co.uk</a>, a fully licensed UK brand.
                        <br>
                        <!-- 2019-08-25 -->
                        <a target="_blank" href="https://www.geld.nl/">Geld.nl</a>
                        <br>
                        <!-- 2019-04-10 -->
                        <a target="_blank" href="https://www.casinorella.com/de/online-casino/">Beste Online Casino</a>
                        <br>
                        <!-- 2019-10-22 -->
                        <a target="_blank" href="https://softwarelicense4u.com/">Softwarelicense4u.com</a>
                        <br>
                        <!-- 2019-10-23 -->
                        <a target="_blank" href="https://casino-gutscheincode.de/">onlinecasino.de</a>
                        <br>
                        <!-- 2019-11-12 -->
                        Casino ohne Anmeldung spielen? Einfach ein <a target="_blank" href="https://neuecasinos24.com/ohne-anmeldung">Casino
                        ohne Spielerkonto bei NeueCasinos24.com</a> auswählen und loslegen.
                        <br>
                        <!-- 2019-11-12 -->
                        <a target="_blank" href="https://www.onlinecasino.amsterdam/">onlinecasino.amsterdam</a>
                        <br>
                        <a target="_blank" href="https://www.krooncasino.cc/">krooncasino.cc</a>
                        <br>
                        <!-- 2019-05-19 -->
                        <a target="_blank" href="https://ompro.nl/">Online marketing bureau Ompro</a>
                        <br>
                        <!-- 2019-12-13 -->
                        <a target="_blank" href="https://onlinecasino-bonus.codes/">OnlineCasino Bonus Code</a>
                        <br>
                        <!-- 2019-12-31 -->
                        <a target="_blank" href="https://deutschecasinobonuses.com/review/casumo-casino/">casumo</a>
                        casino ist dank seiner großen Auswahl an Spielautomaten eines der beliebtesten Online Casinos in Deutschland.
                        <br>
                        Spielen Sie im <a target="_blank" href="https://gluecksspielinformationen.com/review/drueckglueck-casino/">drückglück</a>
                        Online Casino lustige Casino-Spiele wie Roulette und Blackjack.
                        <br>
                        <a target="_blank" href="https://nederlandsegokkasten.com/gratis-fruitautomaten/">gratis fruitautomaten spelen op Nederlandse Gokkasten</a>
                        . Al onze fruitautomaten kunnen gratis worden gespeeld.
                        <br>
                        <a target="_blank" href="https://onlinegokkengids.com/gratis-gokkasten/">speel gratis gokkasten</a>
                        op je smartphone en computer
                        <br>
                        <!-- 2020-01-11 -->
                        <a target="_blank" href="https://hardbonuskod.se/">Bethard bonuskod 2019</a>
                        <br>
                        <!-- 2020-01-31 -->
                        <a target="_blank" href="https://kasino-bonuskod.se/">kasino-bonuskod.se</a>
                        <br>
                        <!-- 2020-02-01 -->
                        Speel gratis of met iDeal op <a target="_blank" href="https://www.gokkastenxl.nl/">Nederlandse Gokkasten Online</a>
                        of gewoon op Roulette.
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>

{{> footer ~}}

{{> scripts ~}}