---
title: Open Source FAQ software
description: phpMyFAQ is a mobile-friendly, feature-rich, scalable open source FAQ web app for PHP 8
layout: none
---
{{> head ~}}

{{> header ~}}

<section class="promo offset-header">
  <div class="container text-center">
    <h2 class="title">phpMy<span class="highlight">FAQ</span> 3.2</h2>

    <p class="intro">
      phpMyFAQ is a mobile-friendly, feature-rich, scalable open source FAQ web app for PHP 8.1+
    </p>

    <div class="btns">
      <a class="btn btn-cta-secondary" href="http://demo.phpmyfaq.de/">Demo</a>
      <a class="btn btn-cta-primary" href="{{site.domain}}/download">Download</a>
    </div>
    <p class="love-phpmyfaq">
      We really think you will like this knowledge base script. Knowledge is free, and so is phpMyFAQ. Since 2001.
    </p>

    <ul class="meta list-inline">
      <li>
        <a rel="nofollow" target="_blank" href="https://github.com/thorsten/phpMyFAQ">
          View on GitHub
        </a>
      </li>
      <li>
        <a href="/documentation">
          Documentation
        </a>
      </li>
      <li>
        <a rel="nofollow" target="_blank" href="https://github.com/thorsten/phpMyFAQ/issues">
          Issues on GitHub
        </a>
      </li>
    </ul>
  </div>
</section>

<section id="news" class="news">
  <div class="container">
    <h2>
      <a id="latest-news"></a>
      Latest phpMyFAQ news
    </h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
### 2024-01-10
* * *
The phpMyFAQ Team is pleased to announce [phpMyFAQ 3.2.4](/download), the "Franz Beckenbauer" release.
We updated all bundled dependencies, and fixed all reported issues.
{{/markdown}}
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
### 2024-01-02
* * *
The phpMyFAQ Team wish you a happy new year 2024. From now on phpMyFAQ 3.1 is without support,
please only use phpMyFAQ 3.2.
We are already working hard on the next version 4.0.
{{/markdown}}
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
### 2023-11-24
* * *
The phpMyFAQ Team would like to announce the availability of [phpMyFAQ 3.2.3](/download),
the "Ken Mattingly" release.
This release supports the latest PHP 8.3 release, we updated all bundled dependencies, and fixed all reported issues.
{{/markdown}}
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
### 2023-10-27
* * *
The phpMyFAQ Team is pleased to announce [phpMyFAQ 3.2.2](/download), the "Sir Bobby Charlton" release.
This release fixes multiple vulnerabilities, we re-added the TinyMCE fullscreen mode and fixed all reported issues.
[Click here to find a detailed security advisory](/security/advisory-2023-10-27).
{{/markdown ~}}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
### 2023-10-05
* * *
After more than 14 years on Twitter/X we deactivated our account today.
You can find us now at [BlueSky](https://bsky.app/profile/phpmyfaq.bsky.social).
{{/markdown}}
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
### 2023-09-21
* * *
The phpMyFAQ Team would like to announce the availability of [phpMyFAQ 3.2.1](/download),
the "Steve Harwell" release.
We also released [phpMyFAQ 3.1.18](/download), the "Roger Whittaker" release.
These releases fix multiple vulnerabilities, and fix all reported issues.
[Click here to find a detailed security advisory](/security/advisory-2023-09-21).
        {{/markdown}}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>
          Looking for older news? When take a look at our <a href="/news/">news archive</a>.
        </p>
        <div class="icon-holder text-center"><i class="fa fa-smile-o"></i></div>
        <div class="text-center" style="font-size: 10px; margin-top: 20px;">
          SPONSORED BY
          <br>
          <!-- 2024-10-04 -->
          <a target="_blank" href="https://www.casinoer.com/">Casinoer</a> - The Home of Online Casino in Norway
          <br>
          <!-- 2020-10-22 -->
          <a target="_blank" href="https://casinoutankonto.net/casino-utan-svensk-licens/">Topplista över casino utan
            svensk licens - bara de bästa</a>
          <br>
          <!-- 2020-11-14 recurring -->
          <a target="_blank" href="https://casinoohnelizenz.info/">Casinoohnelizenz.info</a> bietet eine Liste mit den
          besten Casinos ohne Deutscher Lizenz. Besuchen Sie die Webseite, wenn Sie in Slots ohne ein Einsatzlimit von
          1 Euro spielen möchten.
          <br>
          <!-- 2024-07-16 -->
          Alle <a target="_blank" href="https://www.grenzenloscasino.com/casinos-ohne-limit/casinos-ohne-oasis/">Online Casinos ohne Oasis Sperrdatei</a>
          auf Grenzenlos Casino sind seriös, verifiziert und für Deutsche Spieler geeignet.
          <br>
          <!-- 2024-09-18 -->
          <a target="_blank" href="https://vape.se/">Vape</a>
          <br>
          <!-- 2024-05-16 -->
          <a target="_blank" href="https://www.willkommensbonus.com/">Willkommensbonus.com</a>
          <br>
          <!-- 2024-07-26 -->
          <a target="_blank" href="https://kasinokolikkopelit.com/nettikasinot">suosituimmat kasinot</a>
          <br>
          <!-- 2024-04-22 -->
          <a target="_blank" href="https://inkedin.com/">inkedin.com</a>
          <br>
          <!-- 2024-02-26 -->
          Hitta smidigt ett <a target="_blank" href="https://www.casivo.se/casino-utan-registrering-eller-konto/">casino
          utan konto</a> hos casivo.se
          <br>
          <!-- 2024-10-03 -->
          <a target="_blank" href="http://phonebillcasino.co.uk/">Phonebillcasino.co.uk</a> specialise in all aspects of
          mobile billing, this includes being able to
          <a target="_blank" href="https://phonebillcasino.co.uk/bet-mobile-phone-credit-sites/">bet using phone bill at online bookmakers</a>.
          <br>
          Play the latest
          <a target="_blank" href="http://mobilebingobonuses.co.uk">mobilebingobonuses.co.uk</a>
          at some of the best casino sites in the UK
          <br>
          <!-- 2024-04-21 -->
          Find the best online casinos, <a target="_blank" href="https://www.kasinohai.com/parhaat-nettikasinot">parhaat
          nettikasinot</a> in Finnish, on Kasinohai
          <br>
          <!-- 2024-10-17 -->
          <a target="_blank" href="https://colordrop.de/collections/brillen-fuer-farbenblinde">Brille für Farbenblinde</a>
          <br>
          <a target="_blank" href="https://glas.de/">Glas, Vordächer und Terrassen</a>
          <br>
          <a target="_blank" href="https://zahnzusatzversicherung.org/">Zahnzusatzversicheurng</a>
          <br>
          <!-- 2024-12-31 -->
          <a target="_blank" href="https://maiorapostas.com/">Casas de apostas brasil</a>
          <br>
          <a target="_blank" href="https://www.sportgokken.eu/bookmakers/">Bookmakers</a>
          <br>
          <!-- 2024-12-12 -->
          Die besten <a target="_blank" href="https://casinoohneoasis.net/">Casinos ohne Oasis</a>
          <br>
          <!-- 2024-11-25 -->
          All the Kuwaiti players are wagering only in
          <a target="_blank" href="https://onlinecasino-kuwait.com">onlinecasino-kuwait.com</a>
          <br>
          <a target="_blank" href="https://casinoarbi.com">casinoarbi.com</a> is the place for the Best and most
          profitable Online Arabic Casinos, where players can enjoy Real money prizes.
          <br>
          Players from Kuwait can find good luck and real money at
          <a target="_blank" href="https://topkuwaitcasinos.com">topkuwaitcasinos.com</a>
          <br>
          <!-- 2025-12-31 -->
          Holen Sie sich eine Liste mit dem besten <a target="_blank" href="https://casino-bonus.com/de/">Casino Bonus</a>
          ohne Einzahlung bei Casino Bonus Deutschland.
          <br>
          Looking for an online casino? Then we recommend comparing the best online casinos by visiting
          <a target="_blank" href="https://casinoonline.casino/">Casino Online</a>. They have the most updated list of
          trusted sites.
          <br>
          <!-- 2024-12-11 -->
          For the best in-play and cash out betting sites online, visit
          <a target="_blank" href="https://cashoutbettingsites.co.uk/">cashoutbettingsites.co.uk</a>
          <br>
          <!-- 2024-07-04 -->
          <a target="_blank" href="https://www.casinoohne.com/">Sichere und seriöse Casinos ohne deutsche Lizenz</a> -
          Legal and ohne Limits
          <br>
          <!-- 2024-07-25 -->
          <a target="_blank" href="https://www.oest.no/boliglanskalkulator/">Lånekalkulator</a>
          <br>
          <!-- 2025-01-05 -->
          Get essential insights and expert tips before playing in
          <a href="https://www.bogdancazino.ro/">casino online Romania</a>
          <br>
          <!-- 2024-12-11 -->
          Für ein optimales Spielerlebnis in Casinos
          <a target="_blank" href="https://neuecasinos24.com/casino-ohne-oasis">ohne OASIS Sperrdatei</a>
          sorgt Neuecasinos24 durch die neuesten Casino Vergleiche.
          <br>
          Schnelle und sichere Zahlungen auch in Online Spielotheken mit
          <a target="_blank" href="https://handycasinos24.com/zahlungsmethoden/jeton">Jeton Cash Casino</a>
          Lösungen. Handycasinos24.com für weitere Infos.
          <br>
          <!-- 2024-12-01 -->
          <a target="_blank" href="https://www.topglas.de/">Brillengläser</a> online bestellen bei TOPGLAS
          <br>
          <a target="_blank" href="https://www.mintberg.de/collections/blaulichtfilter-brille">Blaulichtfilter Brillen</a>
          <br>
          <!-- 2024-02-21 -->
          <a target="_blank" href="https://casinofia.se/casino-utan-licens/">Casino utan svensk licens trustly</a>
          <br>
          <a target="_blank" href="https://casinoutanlicens.com/">casino utan svensk licens</a>
          <br>
          <a target="_blank" href="https://utansvensklicenscasino.com/casino-utan-bankid/">utansvensklicenscasino.com</a>
          <br>
          <!-- 2024-03-29 -->
          <a target="_blank" href="https://uudetnettikasinot365.com/">Uudetnettikasinot365</a> vertaa
          nettikasinot ilman rekisteröitymistä puolestas
          <br>
          <a target="_blank" href="https://casinogringos.se/">casinogringos.se</a> är det självklara valet för att
          jämför svenska casino på nätet.
          <br>
          <!-- 2025-01-02 -->
          <a target="_blank" href="https://uusimmatkasinot.com/maksutavat/brite-kasinot/">Brite Kasinot</a>
          <br>
          <!-- 2024-05-07 -->
          Compare the best online casinos in Canada at <a target="_blank" href="https://casinocanada.io/">Casinocanada.io</a>
          <br>
        </div>
      </div>
    </div>
  </div>
</section>

{{> footer ~}}

{{> scripts ~}}