---
title: Open Source FAQ software
description: phpMyFAQ is a mobile-friendly, feature-rich, scalable open source FAQ software using PHP or HHVM
layout: none
---
{{> head ~}}

{{> header ~}}

    <section class="promo offset-header">
        <div class="container text-center">
            <h2 class="title">phpMy<span class="highlight">FAQ</span></h2>

            <p class="intro">
                phpMyFAQ is a mobile-friendly, feature-rich, scalable open source FAQ software using PHP 5.5+, PHP 7 and
                HHVM
            </p>

            <div class="btns">
                <a class="btn btn-cta-secondary" href="http://demo.phpmyfaq.de/">Demo</a>
                <a class="btn btn-cta-primary" href="{{site.domain}}/download">Download</a>
            </div>
            <div class="btns">
                <a class="btn btn-cta-app" rel="nofollow" target="_blank" href="https://itunes.apple.com/en/app/phpmyfaq/id977896957">
                    <i class="fa fa-apple"></i> DOWNLOAD iOS APP
                </a>
            </div>
            <p class="love-phpmyfaq">
                We really think you will like this knowledge base script. Knowledge is free, and so is phpMyFAQ.
            </p>

            <ul class="meta list-inline">
                <li>
                    <a href="/app">
                        About phpMyFAQ iOS App
                    </a>
                </li>
                <li>
                    <a rel="nofollow" target="_blank" href="https://github.com/thorsten/phpMyFAQ">
                        View on GitHub
                    </a>
                </li>
                <li>
                    <a href="/documentation">
                        Full Documentation
                    </a>
                </li>
                <li>
                    <a rel="nofollow" target="_blank" href="https://github.com/thorsten/phpMyFAQ/issues">
                        Issues on GitHub
                    </a>
                </li>
            </ul>
        </div>
    </section>



    <section id="news" class="news">
        <div class="container">
            <h2>
                <a id="latest-news"></a>
                Latest phpMyFAQ news
            </h2>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-xs-12">
                    {{#markdown}}
###2015-09-22
* * *
The phpMyFAQ Team is pleased to announce the forth preview version of the next major version of phpMyFAQ,
[phpMyFAQ 2.9.0-alpha4](/download), the "Adrian Frutiger" release. This release extends our REST/JSON API and introduces
a new configuration user interface. We also fixed a lot of issues reported by our great alpha testers. We dropped the
support for old IIS web servers and for lighttpd. Please note that some functionality is still missing and don't use
this version in production systems, but test this version and please report bugs!
                    {{/markdown}}
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    {{#markdown}}
###2015-08-29
* * *
The phpMyFAQ Team would like to announce the availability of the third preview version of the next major version of phpMyFAQ,
[phpMyFAQ 2.9.0-alpha3](/download), the "Egon Bahr" release. This release changes the supported PHP versions to 5.5 or
later. We also added support for Markdown, LDAP dynamic user binding and the possibilities to allow anonymous downloads,
to override user passwords by admin and to reset votings and visits. We added support for custom headers and footers in
PDF exports, for language specific open questions and moderator groups to categories. We also extended our REST/JSON API
for future iOS App releases. We upgraded the bundled libraries and we dropped support for the Zeus Webserver. Please
note that some functionality is still missing and don't use this version in production systems, but test this version
and please report bugs!
                    {{/markdown}}
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    {{#markdown}}
###2015-07-27
* * *
The phpMyFAQ Team is pleased to announce [phpMyFAQ 2.8.24](/download), the "Satoru Iwata" release. We updated the Farsi
translation and fixed some bugs.
                    {{/markdown ~}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Looking for older news? When take a look at our <a href="/news/">news archive</a>.
                    </p>
                    <div class="icon-holder text-center"><i class="fa fa-smile-o"></i></div>
                    <p class="text-center">
                        <small>
                            <a target="_blank" href="http://www.binaryoptionrobotinfo.com/iq-option-review/">Iq option </a>binary option review<br>
                            Best binary option robots <a target="_blank" href="http://binarysoftware.org/">binarysoftware.org</a><br>
                            Binäärioptiot <a href="http://www.binary24h.com/">www.binary24h.com</a>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </section>

{{> footer ~}}

{{> scripts ~}}