---
title: Open Source FAQ software
description: phpMyFAQ is a mobile-friendly, feature-rich, scalable open source FAQ web app for PHP 7 and PHP 8
layout: none
---
{{> head ~}}

{{> header ~}}

<section class="promo offset-header">
  <div class="container text-center">
    <h2 class="title">phpMy<span class="highlight">FAQ</span> 3.1</h2>

    <p class="intro">
      phpMyFAQ is a mobile-friendly, feature-rich, scalable open source FAQ web app for PHP 7 and PHP 8
    </p>

    <div class="btns">
      <a class="btn btn-cta-secondary" href="http://demo.phpmyfaq.de/">Demo</a>
      <a class="btn btn-cta-primary" href="{{site.domain}}/download">Download</a>
    </div>
    <p class="love-phpmyfaq">
      We really think you will like this knowledge base script. Knowledge is free, and so is phpMyFAQ. Since 2001.
    </p>

    <ul class="meta list-inline">
      <li>
        <a rel="nofollow" target="_blank" href="https://github.com/thorsten/phpMyFAQ">
          View on GitHub
        </a>
      </li>
      <li>
        <a href="/documentation">
          Documentation
        </a>
      </li>
      <li>
        <a rel="nofollow" target="_blank" href="https://github.com/thorsten/phpMyFAQ/issues">
          Issues on GitHub
        </a>
      </li>
    </ul>
  </div>
</section>

<section id="news" class="news">
  <div class="container">
    <h2>
      <a id="latest-news"></a>
      Latest phpMyFAQ news
    </h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
### 2023-01-15
* * *
The phpMyFAQ Team would like to announce the availability of [phpMyFAQ 3.1.10](/download), the "Jeff Beck" release.
This release fixes multiple vulnerabilities, and we fixed all reported issues. We wish everyone a happy new year!
[Click here to find a detailed security advisory](/security/advisory-2023-01-15).
{{/markdown ~}}
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
### 2022-12-11
* * *
The phpMyFAQ Team is pleased to announce [phpMyFAQ 3.1.9](/download), the "Irene Cara" release. This release fixes
multiple vulnerabilities, we updated bundled dependencies, and we fixed all reported issues.
[Click here to find a detailed security advisory](/security/advisory-2022-12-11).
{{/markdown}}
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
### 2022-10-24
* * *
The phpMyFAQ Team would like to announce the availability of [phpMyFAQ 3.1.8](/download), the "Mahsa Amini" release.
This release fixes multiple vulnerabilities, and we fixed all reported issues. [Click here to find a detailed security
advisory](/security/advisory-2022-10-24).
{{/markdown}}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
### 2022-10-02
* * *
The phpMyFAQ Team would like to announce the availability of [phpMyFAQ 3.1.7](/download), the "Elisabeth II." release.
This release fixes a CSRF vulnerability, and we fixed all reported issues. [Click here to find a detailed security
advisory](/security/advisory-2022-10-02).
{{/markdown}}
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
### 2022-07-23
* * *
The phpMyFAQ Team is pleased to announce [phpMyFAQ 3.1.6](/download), the "Uwe Seeler" release. This release fixes a
stored XSS vulnerability, and we fixed all reported issues.
{{/markdown}}
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
### 2022-06-27
* * *
The phpMyFAQ Team would like to announce the availability of [phpMyFAQ 3.1.5](/download), the "Andrew Fletcher" release.
phpMyFAQ 3.1.5 adds compatibility with Elasticsearch v8+, adds trust of self-signed certificates with MS SQL, and we
fixed all reported issues.
{{/markdown}}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>
          Looking for older news? When take a look at our <a href="/news/">news archive</a>.
        </p>
        <div class="icon-holder text-center"><i class="fa fa-smile-o"></i></div>
        <div class="text-center" style="font-size: 10px; margin-top: 20px;">
          SPONSORED BY
          <br>
          <!-- 2023-10-04 -->
          <a target="_blank" href="https://www.casinoer.com/">Casinoer</a> - The Home of Online Casino in Norway
          <br>
          <!-- 2023-11-09 -->
          Die beste Liste der <a target="_blank" href="http://casinoohnelizenzdeutschland.com/">casino ohne deutsche lizenz</a>
          finden Sie hier
          <br>
          <!-- 2023-01-28 - XXX -->
          Liste mit <a target="_blank" href="https://casinosohnelizenz.com/">seriösen Casinos ohne Lizenz in Deutschland</a>,
          die sicher und legal sind.
          <br>
          <!-- 2023-05-21 -->
          Finding a safe and secure casino can be tricky, which is why <a target="_blank" href="https://www.bokumobilecasino.com/">Boku Casino</a>
          sites can be a perfect choice; offering slots and casino games that let you pay by mobile.
          <br>
          <!-- 2023-11-04 -->
          <a target="_blank" href="https://www.rahapelit-netissa.com/kasino-ilman-rekisteroitymista/">pay and play ilman rekisteröitymistä</a>
          <br>
          <!-- 2020-10-22 -->
          <a target="_blank" href="https://casinoutankonto.net/casino-utan-svensk-licens/">Topplista över casino utan
            svensk licens - bara de bästa</a>
          <br>
          <!-- 2020-11-14 recurring -->
          <a target="_blank" href="https://casinoohnelizenz.info/">Casinoohnelizenz.info</a> bietet eine Liste mit den
          besten Casinos ohne Deutscher Lizenz. Besuchen Sie die Webseite, wenn Sie in Slots ohne ein Einsatzlimit von
          1 Euro spielen möchten.
          <br>
          <!-- 2023-07-16 -->
          Spiele
          <a target="_blank" href="https://casinoohnelizenz360.com/casino-ohne-5-sekunden-regel/">Casino ohne 5 Sekunden Regel</a>
          auf <a target="_blank" href="http://casinoohnelizenz360.com/">casinoohnelizenz360.com!</a>
          <br>
          Alle <a target="_blank" href="https://www.grenzenloscasino.com/casinos-ohne-limit/casinos-ohne-oasis/">Online Casinos ohne Oasis Sperrdatei</a>
          auf Grenzenlos Casino sind seriös, verifiziert und für Deutsche Spieler geeignet.
          <br>
          <!-- 2023-11-04 -->
          Nettikasinot360 is the place for want to read about fast withdrawals
          <a target="_blank" href="https://nettikasinot360.com/nopeat-kotiutukset/">nopeat kotiutukset</a> in Finland
          <br>
          <!-- 2023-09-18 -->
          <a target="_blank" href="https://vape.se/">Vape</a>
          <br>
          <!-- 2023-07-26 -->
          Don’t forget to <a target="_blank" href="https://www.nettikasinot24.com/nettikasinot-ilman-rekisteroitymista/">look here</a>
          and find out the best online casinos in Finland.
          <br>
          Make sure to check all the best Finnish <a target="_blank" href="https://www.kasinolinna.com/kasinot-ilman-rekisteroitymista/">nettikasinot ilman rekisteröitymistä</a>
          at the same place, Kasinolinna.com.
          <br>
          <!-- 2023-11-01 -->
          Alla <a target="_blank" href="https://spelpressen.se/casino-reportage/casino-utan-svensk-licens">nya casinon utan svensk spellicens</a>
          kan du jämföra här.
          <br>
          <!-- 2023-07-26 -->
          <a target="_blank" href="https://kasinokolikkopelit.com/nettikasinot">suosituimmat kasinot</a>
          <br>
          <!-- 2023-6-30 -->
          <a target="_blank" href="https://www.bogdancazino.ro/">https://www.bogdancazino.ro/</a>
          <br>
          <a target="_blank" href="https://speelhiercasino.com/pay-n-play/">https://speelhiercasino.com/pay-n-play/</a>
          <br>
          <a target="_blank" href="https://casinocrawlers.com/">https://casinocrawlers.com/</a>
          <br>
          <!-- 2023-11-09 -->
          Kolla in listan hos <a target="_blank" href="https://casinofox.se/">CasinoFox.se</a> om du vill spela på ett
          casino utan Spelpaus. Du hittar casinon med Trustly, Bonusar, freespins och mycket mer!
          <br>
          The best site is <a target="_blank" href="https://casinoutanlicenssverige.com/">casinoutanlicenssverige.com</a>
          if you want casinos without license
          <br>
          <!-- 2020-12-14 recurring -->
          <a target="_blank" href="https://deutschercasinobonus.com/casino-ohne-deutsche-lizenz/">Topliste mit Casinos ohne Lizenz in Deutschland</a>
          <br>
          <!-- 2023-10-01 -->
          Casinofrog.com bewertet <a target="_blank" href="https://casinofrog.com/de/">Online Casinos</a>
          <br>
          <!-- 2023-01-10 - XXX -->
          The best and most lucrative online Casino for <a target="_blank" href="https://arab-casino.org/review/888-casino/">Kuwaiti plyers</a>
          <br>
          <!-- 2023-10-03 -->
          <a target="_blank" href="http://phonebillcasino.co.uk/">Phonebillcasino.co.uk</a> specialise in all aspects of
          mobile billing, this includes being able to
          <a target="_blank" href="https://phonebillcasino.co.uk/bet-mobile-phone-credit-sites/">bet using phone bill at online bookmakers</a>.
          <br>
          Play the latest
          <a target="_blank" href="http://mobilebingobonuses.co.uk">mobilebingobonuses.co.uk</a>
          at some of best casino sites in the UK
          <br>
          Combining a great deposit method with a great site isn't easy, so make sure you're picking the
          best gambling sites that let you <a target="_blank" href="http://phonebillsportsbetting.com/">bet
          using phone bill.</a>
          <br>
          <!-- 2023-04-21 -->
          Find the best online casinos, <a target="_blank" href="https://www.kasinohai.com/parhaat-nettikasinot">parhaat
          nettikasinot</a> in Finnish, on Kasinohai
          <br>
          <!-- 2023-10-17 -->
          <a target="_blank" href="https://colordrop.de/collections/brillen-fuer-farbenblinde">Brille für Farbenblinde</a>
          <br>
          <a target="_blank" href="https://glas.de/">Glas, Vordächer und Terrassen</a>
          <br>
          <a target="_blank" href="https://zahnzusatzversicherung.org/">Zahnzusatzversicheurng</a>
          <br>
          <!-- 2023-12-31 -->
          <a target="_blank" href="https://casinodetective.nl/online-casinos/">Online casinos</a>
          <br>
          <a target="_blank" href="https://www.sportgokken.eu/bookmakers/">Bookmakers</a>
          <br>
          <!-- 2023-11-25 -->
          All the Kuwaiti players are wagering only it this hub for
          <a target="_blank" href="https://onlinecasino-kuwait.com"> Real Money Online Casinos</a>
          <br>
          <a target="_blank" href="https://casinoarbi.com">casinoarbi.com</a> is the place for the Best and most
          profitable Online Arabic Casinos, where players can enjoy Real money prizes.
          <br>
          <a target="_blank" href="https://bitcoincasinoarabic.com/">bitcoincasinoarabic.com</a> have The most reputable
          Arabic Bitcoin Casinos
          <br>
          Argentinian players can find here the best <a target="_blank" href="https://mejorescasinos.com.ar">Online
          Casinos with Real money, No-Deposit Bonuses and more</a>
          <br>
          The best place, out of all the other Online Casinos review sites,
          <a target="_blank" href="https://bestreviews.casino/">to check for reliable places</a>
          <br>
          Players from Kuwait can find <a target="_blank" href="https://topkuwaitcasinos.com">Good Luck and Real money</a>
          in this Online Casinos site
          <br>
          <!-- 2023-04-24 -->
          Täältä löydät nopeasti kaikki suomalaiset kasinot, joissa on
          <a target="_blank" href="https://casino-professor.com/fi/artikkelit/minimitalletus/">minimitalletus 5e</a>.
          <br>
          <!-- 2025-12-31 -->
          Holen Sie sich eine Liste mit dem besten <a target="_blank" href="https://casino-bonus.com/de/">Casino Bonus</a>
          ohne Einzahlung bei Casino Bonus Deutschland.
          <br>
          Looking for an online casino? Then we recommend comparing the best online casinos by visiting
          <a target="_blank" href="https://casinoonline.casino/">Casino Online</a>. They have the most updated list of
          trusted sites.
          <br>
          <!-- 2023-06-09 -->
          <a target="_blank" href="https://www.casinoutansvensklicens.se/">Hitta bra Casinon utan licens i Sverige med Trustly och BankID</a>
          <br>
          <!-- 2023-05-31 -->
          Go to the number 1 <a target="_blank" href="https://www.onlinecasino.eu">online casino</a> guide
          for Europe
          <br>
          Compare the <a target="_blank" href="https://www.bookmakers.eu/">best bookmakers</a> for online betting in
          Europe.
          <br>
          <a target="_blank" href="https://www.voetbalgokken.nl/">VoetbalGokken.nl</a>
          <br>
          You can find here as a Dutch player an <a target="_blank" href="https://www.bookmakers.nl/">official bookmaker</a>
          for the Netherlands with a license from the Dutch Gambling Authority.
          <br>
          <!-- 2023-05-20 -->
          <a target="_blank" href="https://anbefaltcasino.com/">Anbefaltcasino.com</a> is the #1 online casino portal in
          Norway for bonuses and free spins.
          <br>
          For info about online casino utan svensk licens visit
          <a target="_blank" href="https://starwarscasinos.com/">Starwarscasinos.com</a>.
          <br>
          <!-- 2023-02-26 -->
          Hitta smidigt ett <a target="_blank" href="https://www.casivo.se/casino-utan-registrering-eller-konto/">casino
          utan konto</a> hos casivo.se
          <br>
          <!-- 2023-12-11 -->
          <a target="_blank" href="https://svenskaonlinecasinon.se/">Svenskaonlinecasinon.se</a> - Topplista med svenska
          online casino
          <br>
          Nettikasino opas löytää sinulle Suomen
          <a target="_blank" href="https://nettikasinoopas.com/">parhaat nettikasinot</a>
          <br>
          <!-- 2023-12-11 -->
          For the best in-play and cash out betting sites online, visit
          <a target="_blank" href="https://cashoutbettingsites.co.uk/">cashoutbettingsites.co.uk</a>
          <br>
          <!-- 2023-07-04 -->
          <a target="_blank" href="https://www.casinoohne.com/">Sichere und seriöse Casinos ohne deutsche Lizenz</a> -
          Legal and ohne Limits
          <br>
          <!-- 2023-07-23 -->
          <a target="_blank" href="https://neogutachter.de/">Kfz Gutachter</a>
          <br>
          <!-- 2023-07-25 -->
          <a target="_blank" href="https://www.oest.no/boliglanskalkulator/">Lånekalkulator</a>
          <br>
          <!-- 2023-12-11 -->
          Casino ohne Anmeldung spielen? Einfach ein <a target="_blank" href="https://neuecasinos24.com/ohne-anmeldung">Casino
          ohne Spielerkonto bei NeueCasinos24.com</a> auswählen und loslegen.
          <br>
          <!-- 2023-12-01 -->
          <a target="_blank" href="https://www.topglas.de/">Brillengläser</a> online bestellen bei TOPGLAS
          <br>
          <!-- 2023-12-02 -->
          <a target="_blank" href="https://www.veikkaa.com">Veikkaa.com</a>
          <br>
          <a target="_blank" href="https://www.casinot.net">Casinot.net</a>
          <br>
          <a target="_blank" href="https://www.pelit.com">Pelit.com</a>
          <br>
          <a target="_blank" href="https://www.kasinot.fi">Kasinot.fi</a>
          <br>
          <a target="_blank" href="https://www.nettikasinot.org">Nettikasinot.org</a>
          <br>
          <a target="_blank" href="https://www.nettikasino.fi">Nettikasino.fi</a>
          <br>
          <!-- 2023-05-25 -->
          If you are looking for available casinos outside of Sweden, take a look at
          <a target="_blank" href="https://casinoutansvensklicens.sv/">casino utan svensk licens</a>
          <br>
          Get all the information and latest news about
          <a target="_blank" href="https://casinoutanregistrering.se/">casino utan registrering</a> here
          <br>
          For the best tax-free casinos, check us out at
          <a target="_blank" href="https://xn--utlndska-casino-2kb.com/">utländska casino</a>
          <br>
          <!-- 2023-07-13 -->
          <a target="_blank" href="https://www.whitehatcasinos.com">https://www.whitehatcasinos.com</a> lists an a-z of
          every whitehat casino site and provides detailed reviews.
          <br>
          <!-- 2023-03-29 -->
          <a target="_blank" href="https://uudetnettikasinot365.com/">Uudetnettikasinot365</a> vertaa
          nettikasinot ilman rekisteröitymistä puolestas
          <br>
          <a target="_blank" href="https://casinogringos.se/">casinogringos.se</a> är det självklara valet för att
          jämför svenska casino på nätet.
          <br>
          <!-- 2023-12--7 -->
          <a target="_blank" href="https://uusimmatkasinot.com/maksutavat/brite-kasinot/">Brite Kasinot</a>
          <br>
          <!-- 2023-05-07 -->
          Compare the best online casinos in Canada at <a target="_blank" href="https://casinocanada.io/">Casinocanada.io</a>
          <br>
          <!-- 2023-02-01 -->
          Speel gratis of met iDeal op <a target="_blank" href="https://www.gokkastenxl.nl/">Nederlandse Gokkasten
          Online</a> of gewoon op Roulette.
          <br>
          <!-- 2023-01-29 - XXX -->
          Auch mobil kann man im <a target="_blank" href="https://handycasinos24.com/ohne-konto">Casino ohne Anmeldung</a>
          unkompliziert spielen.
          <br>
          Selbst 2022 noch gefragt sind
          <a target="_blank" href="https://casinopilot24.com/">Online Casinos für deutsche Spieler</a> ohne sonstige
          Einschränkungen.
          <br>
          Casino Infoseiten wie MrCasinova vergleichen die besten und sichersten
          <a target="_blank" href="https://mrcasinova.com/de/">Online Casinos</a> die es im Internet zu finden gibt.
          <br>
          <!-- 2023-01-11 - XXX -->
          <a target="_blank" href="https://casinofia.se/casino-utan-licens/">Casino utan svensk licens trustly</a>
          <br>
          <a target="_blank" href="https://casinoutanlicens.com/">casino utan svensk licens</a>
          <br>
        </div>
      </div>
    </div>
  </div>
</section>

{{> footer ~}}

{{> scripts ~}}