---
title: Open Source FAQ software
description: phpMyFAQ is a mobile-friendly, feature-rich, scalable open source FAQ software using PHP or HHVM
layout: none
---
{{> head ~}}

{{> header ~}}

    <section class="promo offset-header">
        <div class="container text-center">
            <h2 class="title">phpMy<span class="highlight">FAQ</span></h2>

            <p class="intro">
                phpMyFAQ is a mobile-friendly, feature-rich, scalable open source FAQ software using PHP or HHVM
            </p>

            <div class="btns">
                <a class="btn btn-cta-secondary" href="http://demo.phpmyfaq.de/">Demo</a>
                <a class="btn btn-cta-primary" href="{{site.domain}}/download">Download</a>
            </div>
            <div class="btns">
                <a class="btn btn-cta-app" rel="nofollow" target="_blank" href="https://itunes.apple.com/en/app/phpmyfaq/id977896957">
                    <i class="fa fa-apple"></i> DOWNLOAD iOS APP
                </a>
            </div>
            <p class="love-phpmyfaq">
                We really think you will like this knowledge base script. Knowledge is free, and so is phpMyFAQ.
            </p>

            <ul class="meta list-inline">
                <li>
                    <a href="/app">
                        About phpMyFAQ iOS App
                    </a>
                </li>
                <li>
                    <a rel="nofollow" target="_blank" href="https://github.com/thorsten/phpMyFAQ">
                        View on GitHub
                    </a>
                </li>
                <li>
                    <a href="/documentation">
                        Full Documentation
                    </a>
                </li>
                <li>
                    <a rel="nofollow" target="_blank" href="https://github.com/thorsten/phpMyFAQ/issues">
                        Issues on GitHub
                    </a>
                </li>
            </ul>
        </div>
    </section>



    <section id="news" class="news">
        <div class="container">
            <h2>
                <a id="latest-news"></a>
                Latest phpMyFAQ news
            </h2>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-xs-12">
                    {{#markdown}}
###2015-05-01
* * *
The phpMyFAQ Team is pleased to announce the phpMyFAQ App for iOS! <a rel="nofollow" target="_blank" href="http://www.bis-programmierung.de/">
Rolf Warnecke</a> created this free app the last months together with some help from Thorsten. The App requires iOS 7.1
or later and for sure, a phpMyFAQ installation.
                    {{/markdown}}
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    {{#markdown}}
###2015-03-31
* * *
The phpMyFAQ Team would like to announce the availability of [phpMyFAQ 2.8.22](/download), the "Helmut Dietl"
release. This release updates the Czech and the Brazilian Portuguese translations and fixes some minor issues.
                    {{/markdown ~}}
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    {{#markdown}}
###2015-02-28
* * *
The phpMyFAQ Team is pleased to announce [phpMyFAQ 2.8.21](/download), the "Leonard Nimoy" release. It adds experimental
rewrite rules for IIS7 and IIS8 and includes improved usability in admin backend and HTML5 support in editor. We also
improved the PHP code coverage and updated the Brazilian Portuguese translation. As always, we fixed some minor bugs
reported by our awesome users.
                    {{/markdown}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Looking for older news? When take a look at our <a href="/news/">news archive</a>.
                    </p>
                    <div class="icon-holder text-center"><i class="fa fa-smile-o"></i></div>
                </div>
            </div>
        </div>
    </section>

{{> footer ~}}

{{> scripts ~}}