---
title: Open Source FAQ software
description: phpMyFAQ is a mobile-friendly, feature-rich, scalable open source FAQ software using PHP.
layout: none
---
{{> head ~}}

<!---//Facebook button code-->
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{{> header ~}}

    <section class="promo offset-header">
        <div class="container text-center">
            <h2 class="title">phpMy<span class="highlight">FAQ</span></h2>

            <p class="intro">
                phpMyFAQ is a mobile-friendly, feature-rich, scalable open source FAQ software using PHP
            </p>

            <div class="btns">
                <a class="btn btn-cta-secondary" href="http://demo.phpmyfaq.de/" target="_blank">Demo</a>
                <a class="btn btn-cta-primary" href="{{site.domain}}/download">Download</a>
            </div>
            <p class="love-phpmyfaq">
                We really think you will like this knowledge base script. Knowledge is free, and so is phpMyFAQ.
            </p>
            <ul class="meta list-inline">
                <li><a rel="nofollow" href="https://github.com/thorsten/phpMyFAQ" target="_blank">View on GitHub</a></li>
                <li><a href="http://www.phpmyfaq.de/documentation.php" target="_blank">Full Documentation</a></li>
                <li><a rel="nofollow" href="https://github.com/thorsten/phpMyFAQ/issues" target="_blank">Issues on GitHub</a></li>
            </ul>
        </div>
        <div class="social-media">
            <div class="social-media-inner container text-center">
                <ul class="list-inline">
                    <li class="twitter-follow"><a rel="nofollow" href="https://twitter.com/phpMyFAQ" class="twitter-follow-button"
                                                  data-show-count="false">Follow @phpMyFAQ</a>
                        <script>!function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = p + '://platform.twitter.com/widgets.js';
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, 'script', 'twitter-wjs');</script>
                    </li>
                    <!--//twitter-follow-->
                    <li class="twitter-tweet">
                        <a rel="nofollow" href="https://twitter.com/share" class="twitter-share-button" data-via="phpMyFAQ"
                           data-hashtags="bootstrap">Tweet</a>
                        <script>!function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = p + '://platform.twitter.com/widgets.js';
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, 'script', 'twitter-wjs');</script>
                    </li>
                    <!--//twitter-tweet-->
                    <li class="facebook-like">
                        <div class="fb-like" data-href="http://www.phpmyfaq.de/" data-layout="button_count"
                             data-action="like" data-show-faces="false" data-share="true">

                        </div>
                    </li>
                    <!--//facebook-like-->
                    <li class="github-star">
                        <iframe src="http://ghbtns.com/github-btn.html?user=thorsten&repo=phpMyFAQ&type=watch&count=true"
                                allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20">

                        </iframe>
                    </li>
                    <li class="github-fork">
                        <iframe src="http://ghbtns.com/github-btn.html?user=thorsten&repo=phpMyFAQ&type=fork"
                                allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20">

                        </iframe>
                    </li>

                </ul>
            </div>
        </div>
    </section>



    <section id="news" class="news">
        <div class="container">
            <h2>Latest news about phpMyFAQ</h2>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <h3>
                        2014-11-30
                    </h3>
                    <hr>
                    <p>
                        The phpMyFAQ Team is pleased to announce <a href="/download">phpMyFAQ 2.8.18</a>, the "Tugce
                        Albayrak" release. It adds a clickjacking preventions and we fixed some minor issues, all users
                        of affected phpMyFAQ versions are encouraged to upgrade as soon as possible to this latest
                        version! A detailed <a href="/security/advisory-2014-11-30">security advisory</a> is available.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <h3>2014-11-05</h3>
                    <hr>
                    <p>
                        The phpMyFAQ Team would like to announce the availability of <a href="/download">phpMyFAQ 2.8.17
                        </a>, the "Beware of bugs in the code" release. This release fixes a typo in the update script.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <h3>2014-11-03</h3>
                    <hr>
                    <p>
                        The phpMyFAQ Team is pleased to announce <a href="/download">phpMyFAQ 2.8.16</a>, the "Jack
                        Bruce" release. It fixes a bug when restoring from backups and we fixed a lot of minor issues.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Looking for older news? When take a look at our <a href="/news/">news archive</a>.
                    </p>
                    <div class="icon-holder text-center"><i class="fa fa-smile-o"></i></div>
                </div>
            </div>
        </div>
    </section>

{{> footer ~}}

{{> scripts ~}}