---
title: Open Source FAQ software
description: phpMyFAQ is a mobile-friendly, feature-rich, scalable open source FAQ software using PHP.
layout: none
---
{{> head ~}}

{{> header ~}}

    <section class="promo offset-header">
        <div class="container text-center">
            <h2 class="title">phpMy<span class="highlight">FAQ</span></h2>

            <p class="intro">
                phpMyFAQ is a mobile-friendly, feature-rich, scalable open source FAQ software using PHP
            </p>

            <div class="btns">
                <a class="btn btn-cta-secondary" href="http://demo.phpmyfaq.de/" target="_blank">Demo</a>
                <a class="btn btn-cta-primary" href="{{site.domain}}/download">Download</a>
            </div>
            <p class="love-phpmyfaq">
                We really think you will like this knowledge base script. Knowledge is free, and so is phpMyFAQ.
            </p>

            <ul class="meta list-inline">
                <li>
                    <a rel="nofollow" href="https://github.com/thorsten/phpMyFAQ" target="_blank">
                        View on GitHub</a>
                </li>
                <li>
                    <a href="/documentation">
                        Full Documentation
                    </a>
                </li>
                <li>
                    <a rel="nofollow" href="https://github.com/thorsten/phpMyFAQ/issues" target="_blank">
                        Issues on GitHub
                    </a>
                </li>
            </ul>
        </div>
    </section>



    <section id="news" class="news">
        <div class="container">
            <h2>Latest news about phpMyFAQ</h2>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <h3>
                        2014-12-31
                    </h3>
                    <hr>
                    <p>
                        The phpMyFAQ Team would like to announce the availability of
                        <a href="/download">phpMyFAQ 2.8.19</a>, the "Udo Jürgens" release. This
                        release fixes some minor issues. Happy New Year!
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <h3>
                        2014-11-30
                    </h3>
                    <hr>
                    <p>
                        The phpMyFAQ Team is pleased to announce <a href="/download">phpMyFAQ 2.8.18</a>, the "Tugce
                        Albayrak" release. It adds a clickjacking preventions and we fixed some minor issues, all users
                        of affected phpMyFAQ versions are encouraged to upgrade as soon as possible to this latest
                        version! A detailed <a href="/security/advisory-2014-11-30">security advisory</a> is available.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <h3>2014-11-05</h3>
                    <hr>
                    <p>
                        The phpMyFAQ Team would like to announce the availability of <a href="/download">phpMyFAQ 2.8.17
                        </a>, the "Beware of bugs in the code" release. This release fixes a typo in the update script.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Looking for older news? When take a look at our <a href="/news/">news archive</a>.
                    </p>
                    <div class="icon-holder text-center"><i class="fa fa-smile-o"></i></div>
                </div>
            </div>
        </div>
    </section>

{{> footer ~}}

{{> scripts ~}}