---
title: Open Source FAQ software
description: phpMyFAQ is a mobile-friendly, feature-rich, scalable open source FAQ software using PHP 7
layout: none
---
{{> head ~}}

{{> header ~}}

<section class="promo offset-header">
  <div class="container text-center">
    <h2 class="title">phpMy<span class="highlight">FAQ</span> 3.0</h2>

    <p class="intro">
      phpMyFAQ is a mobile-friendly, feature-rich, scalable open source FAQ software for PHP 7
    </p>

    <div class="btns">
      <a class="btn btn-cta-secondary" href="http://demo.phpmyfaq.de/">Demo</a>
      <a class="btn btn-cta-primary" href="{{site.domain}}/download">Download</a>
    </div>
    <div class="btns">
      <a class="btn btn-cta-app" rel="nofollow" target="_blank"
         href="https://itunes.apple.com/app/phpmyfaq/id977896957">
        <i class="fa fa-apple"></i> DOWNLOAD iOS APP
      </a>
    </div>
    <p class="love-phpmyfaq">
      We really think you will like this knowledge base script. Knowledge is free, and so is phpMyFAQ.
    </p>

    <ul class="meta list-inline">
      <li>
        <a href="/app">
          About phpMyFAQ iOS App
        </a>
      </li>
      <li>
        <a rel="nofollow" target="_blank" href="https://github.com/thorsten/phpMyFAQ">
          View on GitHub
        </a>
      </li>
      <li>
        <a href="/documentation">
          Full Documentation
        </a>
      </li>
      <li>
        <a rel="nofollow" target="_blank" href="https://github.com/thorsten/phpMyFAQ/issues">
          Issues on GitHub
        </a>
      </li>
    </ul>
  </div>
</section>


<section id="news" class="news">
  <div class="container">
    <h2>
      <a id="latest-news"></a>
      Latest phpMyFAQ news
    </h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
###2019-07-26
* * *
The phpMyFAQ Team is pleased to announce [phpMyFAQ 3.0.4](/download), the "Peter Green" release. We extended the default
session timeout for the administration backend, we updated our dependencies, and we fixed all reported issues. Stay
healthy and take care of yourself and families!
{{/markdown ~}}
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
###2020-05-21
* * *
The phpMyFAQ Team would like to announce the availability of [phpMyFAQ 3.0.3](/download), the "Michel Piccoli" release.
We improved the editing of FAQs in the admin backend and updated to Bootstrap v4.5. We updated our dependencies and
we fixed all reported issues. Stay healthy and take care of yourself and families!
        {{/markdown}}
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
###2020-04-16
* * *
The phpMyFAQ Team is pleased to announce [phpMyFAQ 3.0.2](/download), the "Stirling Moss" release. We improved the
handling of multiple homepage categories and the editing of FAQs in the admin backend. We updated our dependencies and
we fixed all reported issues. Stay healthy and take care of yourself and families!
{{/markdown}}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
###2020-03-17
* * *
The phpMyFAQ Team would like to announce the availability of [phpMyFAQ 3.0.1](/download), the "Max von Sydow" release.
We re-added tag cloud on several pages, we fixed some minor bugs and especially issues for PostgreSQL. We updated all of
our bundled dependencies. Stay save!
{{/markdown}}
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
###2020-02-16
* * *
The phpMyFAQ Team is pleased to announce [phpMyFAQ 3.0.0](/download), the "李文亮 (Li Wenliang)" release. This new major
version after more than 3 years adds several improvements and new features. We changed PHP requirement to PHP 7.2 or
later, we added PHP namespaces, Docker support, support for Elasticsearch v5+, a LDAP configuration frontend, a
configuration for enable/disable XML sitemap, support for category images, support for categories on homepage, a filter
functionality in templates, an improved attachment overview, HTML5 export, support for EU General Data Protection
Regulation, a multiple attachment upload, a 404 page template, a Mongolian translation, support for adding own meta
content in templates and we added new REST API v2 (including login). We improved sticky records and the brute force
protection handling. We switched the CSS development from LESS to SCSS and the template variable syntax is now
compatible with Twig/Handlebars. We updated the Turkish translation and all bundled dependencies. With v3.0 we
deprecated RSS feeds and the old REST API v1. We removed the translation admin frontend, the XHTML export, support for
ext/mssql the bundled Symfony ClassLoader, Bower (now using Yarn only), Grunt (now using Webpack) and Modernizr. We
  removed share on Facebook link and the Facebook Like Button support.
{{/markdown}}
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
###2020-01-24
* * *
The phpMyFAQ Team would like to announce the availability of [phpMyFAQ 3.0.0-RC.2](/download), the "Terry Jones" release.
We fixed a lot of issue found by our test users of the first RC release and we updated all of our bundled
dependencies. Please don't use this version in production systems, but test this version and please report bugs!
{{/markdown}}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>
          Looking for older news? When take a look at our <a href="/news/">news archive</a>.
        </p>
        <div class="icon-holder text-center"><i class="fa fa-smile-o"></i></div>
        <div class="text-center" style="font-size: 10px; margin-top: 20px;">
          SPONSORED BY
          <br>
          <!-- 2020-10-04 -->
          <a target="_blank" href="https://www.casinoer.com/">Casinoer</a> - The Home of Online Casino in Norway
          <br>
          <!-- 2021-04-11 -->
          Entdecken Sie die Liste der 100% sicheren und <a target="_blank" href="https://swisscasinohex.com/online-casinos/">
          seriösen Online Casinos in der Schweiz</a>, die von SwissCasinoHEX-Experten getestet und genehmigt wurden.
          <br>
          Österreichische Spieler haben eine einzigartige Gelegenheit, sich ein brandneues
          <a target="_blank" href="https://casinohex.at/casino-bonus/ohne-einzahlung/">Online Casino mit Bonus ohne Einzahlung</a>
          auszusuchen.
          <br>
          Schauen Sie sich die Liste der besten <a target="_blank" href="https://onlinecasinohex.de/online-casinos/deutschland/">
          Casino Deutschland Online</a> für deutsche Spieler an.
          <br>
          Allt man behöver för att börja <a target="_blank" href="https://casinohex.se/online-casinon/">spela på casino online</a>
          med höga bonusar.
          <br>
          Aici doar <a target="_blank" href="https://casinohex.ro/online-pacanele/">jocuri castigatoare la cazinouri online romanesti</a>
          pe Casinohex.ro.
          <br>
          NettiCasinoHEX.com auttaa sinua löytämään <a target="_blank" href="https://netticasinohex.com/kasinot/">parhaat
          nettikasinot</a> ja herkullisimmat bonukset netissä.
          <br>
          <!-- 2021-07-22 -->
          If you live in Sweden and you are looking to find the best casino bonuses available, see
          <a target="_blank" href="https://bastacasinobonus.se/">bastacasinobonus.se</a>.
          <br>
          In this sentence: You will find the absolute best casino site reviews in Mexico via
          <a target="_blank" href="https://internetcasinos.mx/">internetcasinos.mx</a>
          <br>
          <!-- 2021-05-21 -->
          Finding a safe and secure casino can be tricky, which is why <a target="_blank" href="https://www.bokumobilecasino.com/">Boku Casino</a>
          sites can be a perfect choice; offering slots and casino games that let you pay by mobile.
          <br>
          <!-- 2021-06-20 -->
          <a target="_blank" href="https://www.bestecasinobonussen.nl">Bestecasinobonussen.nl</a>
          <br>
          <!-- 2020-10-22 -->
          <a target="_blank" href="https://casinoutankonto.net/casino-utan-svensk-licens/">Topplista över casino utan
            svensk licens - bara de bästa</a>
          <br>
          <!-- 2021-04-16 -->
          Finde jetzt alle seriöse Online Casinos auf <a target="_blank" href="https://www.casinos-online.com/">casinos-online.com</a>
          <br>
          <!-- 2020-11-19 -->
          <a target=_blank href="https://www.neueonline-casinos.com/">Vergleichen neue Online Casinos 2020</a>
          <br>
          <!-- 2020-11-20 -->
          <a target="_blank" href="https://casinofia.se/casino-utan-licens/">Casino utan svensk licens trustly</a>
          <br>
          <!-- 2021-04-13 -->
          Kolla in listan hos CasinoFox om du vill spela på ett <a target="_blank" href="https://casinofox.se/casino-utan-svensk-licens">
          casino utan Spelpaus</a>. Du hittar casinon med Trustly, Bonusar, freespins och mycket mer!
          <br>
          Hitta ett <a target="_blank" href="https://casinoutanlicenssverige.com">Casino Utan licens i Sverige</a> -
          Stor lista med välvalda alternativ!
          <br>
          <!-- 2020-10-03 -->
          If you like to play mobile casino slots,
          <a target="_blank"
             href="https://phonebillcasino.co.uk/mobile-slots-pay-by-phone-bill/">phonebillcasino.co.uk</a>
          specialise in sites that allow you to play Netent slots and pay by mobile.
          <br>
          Play the latest
          <a target="_blank" href="http://mobilebingobonuses.co.uk">mobilebingobonuses.co.uk</a>
          at some of best casino sites in the UK
          <br>
          Combining a great deposit method with a great site isn't easy, so make sure you're picking the
          best gambling sites that let you <a target="_blank" href="http://phonebillsportsbetting.com/">bet
          using phone bill.</a>
          <br>
          <!-- 2025-12-31 -->
          Holen Sie sich eine Liste mit dem besten <a target="_blank" href="https://casino-bonus.com/de/">Casino Bonus</a>
          ohne Einzahlung bei Casino Bonus Deutschland.
          <br>
          Looking for an online casino? Then we recommend comparing the best online casinos by visiting
          <a target="_blank" href="https://casinoonline.casino/">Casino Online</a>. They have the most updated list of
          trusted sites.
          <br>
          <!-- 2021-05-31 -->
          Go to the number 1 <a target="_blank" href="https://www.onlinecasino.eu">online casino</a> guide
          for Europe
          <br>
          Compare the <a target="_blank" href="https://www.bookmakers.eu/">best bookmakers</a> for online betting in
          Europe.
          <br>
          <a target="_blank" href="https://www.voetbalgokken.nl/">VoetbalGokken.nl</a>
          <br>
          <!-- 2021-06-20 -->
          <a target="_blank" href="https://www.nederlandseonlinecasino.net/">Nederlandseonlinecasino.net</a>
          <br>
          <!-- 2020-08-01 -->
          <a href="http://wptheme.fr/theme-wordpress-divi/">Divi Wordpress Theme</a>
          <br>
          <!-- 2021-08-15 -->
          Get the latest info on mobile betting and depositing methods from
          <a target="_blank"
             href="https://placeabetonline.co.uk/bet-using-mobile-phone-credit/">placeabetonline.co.uk</a>
          <br>
          Play the latest and best pay by phone bill slots at a <a target="_blank" href="https://bokuslots.com/">Boku
          casino</a>
          sites using safe and secure mobile friendly software.
          <br>
          <!-- 2020-12-31 -->
          Reach Digital <a target="_blank" href="https://www.reachdigital.nl/">Magento Specialist</a>
          <br>
          <!-- 2020-12-11 -->
          For the best in-play and cash out betting sites online, visit
          <a target="_blank" href="https://cashoutbettingsites.co.uk/">cashoutbettingsites.co.uk</a>
          <br>
          <!-- 2021-12-07 -->
          Hier erhalten Sie alle wichtigen Informationen über
          <a target="_blank" href="https://www.casinotop.com/de/">seriöse Online Casinos</a>.
          <br>
          <!-- 2020-09-26 -->
          <a target="_blank" href="https://www.nya-casinon.online/alla-casinon/">Alla casinon på nätet</a>
          <br>
          <!-- 2021-01-23 -->
          <a target="_blank" href="https://www.bonus.com.de/casino">BonusFinder Deutschland</a>
          <br>
          <!-- 2020-12-02 -->
          <a target="_blank" href="https://www.veikkaa.com">Veikkaa.com</a>
          <br>
          <a target="_blank" href="https://www.casinot.net">Casinot.net</a>
          <br>
          <a target="_blank" href="https://www.pelit.com">Pelit.com</a>
          <br>
          <a target="_blank" href="https://www.kasinot.fi">Kasinot.fi</a>
          <br>
          <!-- 2021-06-20 -->
          <a target="_blank" href="https://www.onlinecasinoxl.nl/">betrouwbaar Nederlands online casino</a>
          <br>
          <!-- 2020-12-31 -->
          The best comparison website for online casino bonuses. Coverage of all major online casinos with
          offering for people in the United Kingdom. Don't start playing before you have checked this
          <a target="_blank" href="https://freespinsnodepositnowager.com/paypal-casinos/">casino bonus comparison
            website.</a>
          <br>
          <a target="_blank" href="https://ayakacasinos.com/review/vera-john-casino-review/">ベラジョンカジノ</a>
          <br>
          <!-- 2021-06-04 -->
          <a target="_blank" href="https://www.5slotsites.com">www.5slotsites.com</a>
          <br>
          <a target="_blank" href="https://aspirecasinos.com">https://aspirecasinos.com</a> - the leading resource for
          the aspire global network
          <br>
          <!-- 2021-06-04 -->
          <a target="_blank" href="https://www.haardenexpert.nl/houtkachels">Houtkachel</a>
          <br>
          <!-- 2021-05-18 -->
          <a target="_blank" href="https://www.casinoutansvensklicens.com/">Alla Bästa Casinon utan Svensk Licens 2020 - Uppdaterad lista</a>
          <br>
          <a target="_blank" href="https://www.casinoutansvensklicens.se/">Hitta bra Casinon utan licens i Sverige med Trustly och BankID</a>
          <br>
          <!-- 2021-03-24 -->
          ラッキーニッキー（LuckyNiki）へようこそ！日本 <a target="_blank" href="https://www.luckyniki.com/ja/">オンラインカジノ</a>
          業界No.1、ブラックジャック、バカラ、スロットなどゲームも豊富
          <br>
          <a target="_blank" href="https://luckynikicasino.com/">ネットカジノ</a>で大人気のラッキーニッキー、好きなボーナスを
          選んで目指せジャックポット！
          <br>
          ยินดีต้อนรับเข้าสู่ LuckyNiki คาสิโนออนไลน์ <a target="_blank" href="https://luckynikilink.com/baccarat/">บาคาร่า</a>
          สล็อตออนไลน์ ไฮโล ดีลเลอร์สด
          <br>
          <a target="_blank" href="https://www.luckynikigame.com/slot-online/">สล็อต ออนไลน์</a>โดย LuckyNiki
          เองก็เป็นผู้ให้บริการด้านสล็อตออนไลน์อันดับ 1 เช่นเดียวกัน โดยให้บริการสล็อตออนไลน์ในรูปแบบต่าง ๆ
          <br>
          <!-- 2021-05-19 -->
          If you are looking for available online casinos in Germany, just take a look at
          <a target="_blank" href="https://goodluckmate.com/casinos/available-in-germany">Goodluckmate</a> - for best
          Germany casinos list
          <br>
          <!-- 2021-07-13 -->
          <a target="_blank" href="https://www.whitehatcasinos.com">https://www.whitehatcasinos.com</a> lists an a-z of
          every whitehat casino site and provides detailed reviews.
          <br>
          <!-- 2020-11-12 -->
          Casino ohne Anmeldung spielen? Einfach ein <a target="_blank" href="https://neuecasinos24.com/ohne-anmeldung">Casino
          ohne Spielerkonto bei NeueCasinos24.com</a> auswählen und loslegen.
          <br>
          <!-- 2021-04-30 -->
          <a target="_blank" href="https://casinogringos.com/fi/kasino-ilman-rekisteroitymista">Casinogringos</a> vertaa
          nettikasinot ilman rekisteröitymistä puolestas
          <br>
          <!-- 2021-06-20 -->
          <a target="_blank" href="https://gambling.city/">Online Gambling</a>
          <br>
          <!-- 2020-12-31 -->
          <a target="_blank" href="https://deutschecasinobonuses.com/review/casumo-casino/">casumo</a>
          casino ist dank seiner großen Auswahl an Spielautomaten eines der beliebtesten Online Casinos in Deutschland.
          <br>
          Spielen Sie im <a target="_blank" href="https://gluecksspielinformationen.com/review/drueckglueck-casino/">drückglück</a>
          Online Casino lustige Casino-Spiele wie Roulette und Blackjack.
          <br>
          <a target="_blank" href="https://nederlandsegokkasten.com/gratis-fruitautomaten/">gratis fruitautomaten spelen
            op Nederlandse Gokkasten</a>
          . Al onze fruitautomaten kunnen gratis worden gespeeld.
          <br>
          <a target="_blank" href="https://onlinegokkengids.com/gratis-gokkasten/">speel gratis gokkasten</a>
          op je smartphone en computer
          <br>
          <!-- 2020-12-31 -->
          <a target="_blank" href="https://gokkasten.startpagina.nl/">Gokkasten</a>
          <br>
          <!-- 2021-02-01 -->
          Speel gratis of met iDeal op <a target="_blank" href="https://www.gokkastenxl.nl/">Nederlandse Gokkasten
          Online</a> of gewoon op Roulette.
          <br>
          <!-- 2021-03-09 -->
          Find the best online casinos from finnish Kasinohai
          <a href="https://www.kasinohai.com/parhaat-nettikasinot" target="_blank">parhaat nettikasinot</a>
          <br>
          <!-- 2020-12-31 -->
          <a target="_blank" href="https://cryptocurrency.startpagina.nl/">Cryptocurrency kopen</a>
          <br>
          <!-- 2021-06-20 -->
          <a target="_blank" href="https://highrollerscasino.com/casinos-high-limits/">High Limit Casino</a>
          <br>
          <!-- 2020-12-01 -->
          <a target="_blank" href="https://www.topglas.de/">Brillengläser</a> online bestellen bei TOPGLAS
          <br>
          <!-- 2021-07-21 -->
          If you are from Sweden and want to play casino games, you should visit Sweden's biggest
          <a target="_blank" href="https://www.casinotopp.net/sv/">casino online</a> site, Casinotopp.net/sv/
          <br>
          <!-- 2021-06-03 -->
          På casinonutanregistrering.com kan du jämföra både svenska
          <a target="_blank" href="https://casinonutanregistrering.com/casino/utan-licens-och-spelpaus/">casinon med
          licens och casinon online utan svensk licens och spelpaus för 2021</a>. Vi har enbart säkra alternativ i vår
          topplista.
          <br>
          <!-- 2021-06-12 -->
          This is the best <a target="_blank" href="https://allcasinos.in/casino-bonus/">casino bonus</a>
          for India.
          <br>
          <a target="_blank" href="https://juegosdecasino.me/tragaperras/">tragamonedas</a>
          <br>
          Check out the top list of Japan casinos:
          <a target="_blank"
             href="https://allcasinos.jp/#%E3%82%AA%E3%83%B3%E3%83%A9%E3%82%A4%E3%83%B3%E3%82%AB%E3%82%B8%E3%83%8E">オンラインカジノ</a>.
          <br>
          <a target="_blank" href="https://www.casinowired.com/casinos/vera-and-john/">ベラジョン</a>
          <br>
          <!-- 2020-08-31 -->
          <a target="_blank" href="https://coincierge.de/bitcoin-profit/">Bitcoin Profit Erfahrungen</a>
          <br>
          <!-- 2020-09-26 -->
          Visit <a target="_blank" href="https://www.norgescasino.com/">Norges Casino</a> for the best casino deals
          <br>
          Visit <a target="_blank" href="https://www.xn--forbruksln-95a.com/">Forbrukslan</a> to get the best loan
          offers
          <br>
          <!-- 2020-11-05 -->
          Online Sportwetten abschließen auf <a target="_blank" href="https://wetten.com/sportwetten/">Wetten.com</a>
          <br>
          <!-- 2020-11-11 -->
          Find the best available <a target="_blank"
                                     href="https://www.casinoadvisers.com/casino-bonus/no-deposit-bonus/">no deposit
          bonus 2020</a> at CasinoAdvisers.com
          <br>
          CasinoHallen with best <a target="_blank" href="https://casinohallen.se/casino-bonus/">casino bonus</a>
          <br>
          <!-- 2021-02-17 -->
          <a target="_blank" href="https://35.213.132.222/">Sbobet</a>
          <br>
          <!-- 2020-06-28 -->
          Alles over online casino bonussen en online casino informatie vind u op
          <a target="_blank" href="https://onlinecasinoinformatie.com/">onlinecasinoinformatie.com</a>
          <br>
          <a target="_blank" href="https://sakuracasinos.com/%E3%83%AB%E3%83%BC%E3%83%AC%E3%83%83%E3%83%88/">ルーレット</a>
          に関するすべての情報は、<a target="_blank" href="http://sakuracasinos.com/">sakuracasinos.com</a>にあります。
          <br>
        </div>
      </div>
    </div>
  </div>
</section>

{{> footer ~}}

{{> scripts ~}}