---
title: Open Source FAQ software
description: phpMyFAQ is a mobile-friendly, feature-rich, scalable open source FAQ web app for PHP 7 and PHP 8
layout: none
---
{{> head ~}}

{{> header ~}}

<section class="promo offset-header">
  <div class="container text-center">
    <h2 class="title">phpMy<span class="highlight">FAQ</span> 3.0</h2>

    <p class="intro">
      phpMyFAQ is a mobile-friendly, feature-rich, scalable open source FAQ web app for PHP 7 and PHP 8
    </p>

    <div class="btns">
      <a class="btn btn-cta-secondary" href="http://demo.phpmyfaq.de/">Demo</a>
      <a class="btn btn-cta-primary" href="{{site.domain}}/download">Download</a>
    </div>
    <p class="love-phpmyfaq">
      We really think you will like this knowledge base script. Knowledge is free, and so is phpMyFAQ. Since 2001.
    </p>

    <ul class="meta list-inline">
      <li>
        <a rel="nofollow" target="_blank" href="https://github.com/thorsten/phpMyFAQ">
          View on GitHub
        </a>
      </li>
      <li>
        <a href="/documentation">
          Documentation
        </a>
      </li>
      <li>
        <a rel="nofollow" target="_blank" href="https://github.com/thorsten/phpMyFAQ/issues">
          Issues on GitHub
        </a>
      </li>
    </ul>
  </div>
</section>

<section id="news" class="news">
  <div class="container">
    <h2>
      <a id="latest-news"></a>
      Latest phpMyFAQ news
    </h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
### 2021-03-12
* * *
The phpMyFAQ Team would like to announce the availability of [phpMyFAQ 3.1.0-beta](/download), the "Happy 75th Birthday
to Liza Minnelli" release. We're feature complete now with the 3.1 release and we fixed all open issues. Please don't
use this version in production systems, but test this version and please report bugs!
{{/markdown}}
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
### 2021-02-24
* * *
The phpMyFAQ Team is pleased to announce [phpMyFAQ 3.0.8](/download), the "Larry Flynt" release. This release adds
Bootstrap v4.6 and we fixed all reported issues. Stay healthy and take care of yourself and families!
{{/markdown}}
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
### 2021-02-12
* * *
The phpMyFAQ team is quietly celebrating the project's 20th birthday today - in memory of the over 2 million CoVID-19
deaths already worldwide. It's been a wild ride from PHP3 and MySQL 3.22 in the early days to PHP8 and multiple database
support today. Thanks for the great 20 years to all users, contributors and friends of the project.
Thank you!
Thorsten
{{/markdown ~}}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
### 2020-12-23
* * *
The phpMyFAQ Team would like to announce the availability of [phpMyFAQ 3.0.7](/download) and
[phpMyFAQ 3.1.0-alpha.3](/download), the "Valéry Giscard d’Estaing" releases. phpMyFAQ 3.0.7 fixes a XSS vulnerability
and adds the TOC plugin for TinyMCE. We removed support for deprecated data-vocabulary.org schema and the Travis CI
build and we switched to Github Actions. We updated our dependencies and we fixed all reported issues. In
phpMyFAQ 3.1.0-alpha.3 we added the possibility to login via email address and mail notifications for new FAQs in admin
section. We also improved the build of our application. We updated our dependencies and we fixed all reported issues.
Happy holidays, stay healthy and take care of yourself and families!
{{/markdown}}
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
### 2020-11-27
* * *
The phpMyFAQ Team is pleased to announce [phpMyFAQ 3.0.6](/download), the "Diego Armando Maradona" release. This release
supports PHP 8.0 and we fixed all reported issues. Stay healthy and take care of yourself and families!
{{/markdown}}
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
### 2020-11-15
* * *
The phpMyFAQ Team would like to announce the availability of [phpMyFAQ 3.1.0-alpha.2](/download), the "Four Seasons
Total Landscaping" release. We fixed some blocking issues in the install and update scripts. Stay healthy and take care
of yourself and families!
{{/markdown}}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>
          Looking for older news? When take a look at our <a href="/news/">news archive</a>.
        </p>
        <div class="icon-holder text-center"><i class="fa fa-smile-o"></i></div>
        <div class="text-center" style="font-size: 10px; margin-top: 20px;">
          SPONSORED BY
          <br>
          <!-- 2021-10-04 -->
          <a target="_blank" href="https://www.casinoer.com/">Casinoer</a> - The Home of Online Casino in Norway
          <br>
          <!-- 2021-11-10 -->
          Die beste Liste der <a target="_blank" href="http://casinoohnelizenzdeutschland.com/">casino ohne deutsche lizenz</a>
          finden Sie hier
          <br>
          <!-- 2022-01-28 -->
          Liste mit <a target="_blank" href="https://casinosohnelizenz.com/">seriösen Casinos ohne Lizenz in Deutschland</a>,
          die sicher und legal sind.
          <br>
          <!-- 2021-07-28 -->
          <a target="_blank" href="https://casinoutankonto.net/casino-utan-svensk-licens/">Topplista över casino utan
          svensk licens - bara de bästa</a>
          <br>
          <!-- 2021-07-22 -->
          If you live in Sweden and you are looking to find the best casino bonuses available, see
          <a target="_blank" href="https://bastacasinobonus.se/">bastacasinobonus.se</a>.
          <br>
          In this sentence: You will find the absolute best casino site reviews in Mexico via
          <a target="_blank" href="https://internetcasinos.mx/">internetcasinos.mx</a>
          <br>
          <!-- 2021-05-21 -->
          Finding a safe and secure casino can be tricky, which is why <a target="_blank" href="https://www.bokumobilecasino.com/">Boku Casino</a>
          sites can be a perfect choice; offering slots and casino games that let you pay by mobile.
          <br>
          <!-- 2021-06-20 -->
          <a target="_blank" href="https://www.bestecasinobonussen.nl">Bestecasinobonussen.nl</a>
          <br>
          <!-- 2020-10-22 -->
          <a target="_blank" href="https://casinoutankonto.net/casino-utan-svensk-licens/">Topplista över casino utan
            svensk licens - bara de bästa</a>
          <br>
          <!-- 2020-11-14 recurring -->
          <a target="_blank" href="https://casinoohnelizenz.info/">Casinoohnelizenz.info</a> bietet eine Liste mit den
          besten Casinos ohne Deutscher Lizenz. Besuchen Sie die Webseite, wenn Sie in Slots ohne ein Einsatzlimit von
          1 Euro spielen möchten.
          <br>
          <!-- 2022-04-16 -->
          Finde jetzt alle seriöse Online Casinos auf <a target="_blank" href="https://www.casinos-online.com/">casinos-online.com</a>
          <br>
          <!-- 2022-04-29 -->
          <a target="_blank" href="https://nettikasinotkuninkaat.com/nettikasinot-ilman-rekisteroitymista/">Kasinot ilman rekisteröitymistä Finland</a>
          <br>
          <!-- 2022-02-12 -->
          <a target="_blank" href="https://casino-ohne-limit.com/">Alle Casinos ohne Limit</a> in Deutschland - sicher
          und legal.
          <br>
          Trusted and evaluated <a target="_blank" href="https://non-gamstop-casinos.com/">casinos not on Gamstop at
          www.non-gamstop-casinos.com</a> from real casino players.
          <br>
          <!-- 2021-11-19 -->
          <a target=_blank href="https://www.neueonline-casinos.com/">Vergleichen neue Online Casinos 2020</a>
          <br>
          <!-- 2021-11-20 -->
          <a target="_blank" href="https://casinofia.se/casino-utan-licens/">Casino utan svensk licens trustly</a>
          <br>
          <!-- 2022-04-13 -->
          Kolla in listan hos CasinoFox om du vill spela på ett <a target="_blank" href="https://casinofox.se/casino-utan-svensk-licens">
          casino utan Spelpaus</a>. Du hittar casinon med Trustly, Bonusar, freespins och mycket mer!
          <br>
          The best site is <a target="_blank" href="https://casinoutanlicenssverige.com/">casinoutanlicenssverige.com</a>
          if you want casinos without license
          <br>
          <!-- 2020-12-14 recurring -->
          <a target="_blank" href="https://deutschercasinobonus.com/casino-ohne-deutsche-lizenz/">Topliste mit Casinos ohne Lizenz in Deutschland</a>
          <br>
          <!-- 2022-01-10 -->
          The best and most lucrative online Casino for <a target="_blank" href="https://888casinokw.com">Kuwaiti plyers</a>
          <br>
          <!-- 2021-05-16 -->
          Goread.io is the best website to <a target="_blank" href="https://goread.io/buy-instagram-likes">Buy Instagram
          likes</a> and followers
          <br>
          <!-- 2021-10-03 -->
          <a target="_blank" href="http://phonebillcasino.co.uk/">Phonebillcasino.co.uk</a> specialise in all aspects of
          mobile billing, this includes being able to
          <a target="_blank" href="https://phonebillcasino.co.uk/bet-mobile-phone-credit-sites/">bet using phone bill at online bookmakers</a>.
          <br>
          Play the latest
          <a target="_blank" href="http://mobilebingobonuses.co.uk">mobilebingobonuses.co.uk</a>
          at some of best casino sites in the UK
          <br>
          Combining a great deposit method with a great site isn't easy, so make sure you're picking the
          best gambling sites that let you <a target="_blank" href="http://phonebillsportsbetting.com/">bet
          using phone bill.</a>
          <br>
          <!-- 2021-10-08 -->
          <a target="_blank" href="https://777pikakasinot.com/">Pikakasinot</a> ilman rekisteröitymistä eli Pay N Play
          casinot löytyvät sivulta pikakasinot.
          <br>
          <!-- 2021-12-31 -->
          <a target="_blank" href="https://casinodetective.nl/online-casinos/">Online casinos</a>
          <br>
          <a target="_blank" href="https://www.sportgokken.eu/bookmakers/">Bookmakers</a>
          <br>
          <!-- 2021-11-25 -->
          All the Kuwaiti players are wagering only it this hub for
          <a target="_blank" href="https://onlinecasino-kuwait.com"> Real Money Online Casinos</a>
          <br>
          <a target="_blank" href="https://casinoarbi.com">casinoarbi.com</a> is the place for the Best and most
          profitable Online Arabic Casinos, where players can enjoy Real money prizes.
          <br>
          <a target="_blank" href="https://bestonlinecasino.com.ph">bestonlinecasino.com.ph</a> have The most reputable
          Online Casinos in the Philippines
          <br>
          Argentinian players can find here the best <a target="_blank" href="https://mejorescasinos.com.ar">Online
          Casinos with Real money, No-Deposit Bonuses and more</a>
          <br>
          The best place, out of all the other Online Casinos, <a target="_blank" href="https://roulette.ph">to play
          Roulette in the Philippines</a>
          <br>
          Players from Kuwait can find <a target="_blank" href="https://topkuwaitcasinos.com">Good Luck and Real money</a>
          in this Online Casinos site
          <br>
          <a target="_blank" href="https://casinoohnelizenzde.com">casinoohnelizenzde.com</a>
          <br>
          <!-- 2025-12-31 -->
          Holen Sie sich eine Liste mit dem besten <a target="_blank" href="https://casino-bonus.com/de/">Casino Bonus</a>
          ohne Einzahlung bei Casino Bonus Deutschland.
          <br>
          Looking for an online casino? Then we recommend comparing the best online casinos by visiting
          <a target="_blank" href="https://casinoonline.casino/">Casino Online</a>. They have the most updated list of
          trusted sites.
          <br>
          <!-- 2021-05-31 -->
          Go to the number 1 <a target="_blank" href="https://www.onlinecasino.eu">online casino</a> guide
          for Europe
          <br>
          Compare the <a target="_blank" href="https://www.bookmakers.eu/">best bookmakers</a> for online betting in
          Europe.
          <br>
          <a target="_blank" href="https://www.voetbalgokken.nl/">VoetbalGokken.nl</a>
          <br>
          <!-- 2021-06-20 -->
          <a target="_blank" href="https://www.nederlandseonlinecasino.net/">Nederlandseonlinecasino.net</a>
          <br>
          <!-- 2021-08-01 -->
          <a href="http://wptheme.fr/theme-wordpress-divi/">Divi Wordpress Theme</a>
          <br>
          <!-- 2021-08-15 -->
          Get the latest info on mobile betting and depositing methods from
          <a target="_blank"
             href="https://placeabetonline.co.uk/bet-using-mobile-phone-credit/">placeabetonline.co.uk</a>
          <br>
          Play the latest and best pay by phone bill slots at a <a target="_blank" href="https://bokuslots.com/">Boku
          casino</a>
          sites using safe and secure mobile friendly software.
          <br>
          <!-- 2022-02-26 -->
          Hitta smidigt ett <a target="_blank" href="https://www.casivo.se/casino-utan-registrering-eller-konto/">casino
          utan konto</a> hos casivo.se
          <br>
          <!-- 2022-02-26 -->
          For a selection of over 500 slots from all the best manufactures, try
          <a target="_blank" href="https://www.slotgames.co.uk/">www.slotgames.co.uk</a>, a fully licensed UK brand.
          <br>
          <!-- 2021-11-25 -->
          Casino ohne deutsche Lizenz spielen? <a target="_blank" href="https://bonusmeister.com/de/casino-ohne-deutsche-lizenz/">
          Auf Bonusmeister.com gibt alle seriöse Casinos ohne Lizenz</a>.
          <br>
          Liste der seriösen und <a target="_blank" href="https://casinosohnedeutschelizenz.com/">sicheren Casinos ohne
          Deutsche Lizenz</a> von Casinosohnelizenz.com
          <br>
          <!-- 2021-12-11 -->
          Want a place to play? Check out the <a target="_blank" href="https://www.casivo.co.uk/gambling-sites/">best UK
          gambling sites</a> here
          <br>
          <!-- 2021-12-11 -->
          <a target="_blank" href="https://casinonutanlicens.nu/">Casinonutanlicens</a> - Jämför casino utan svensk
          licens och spelpaus
          <br>
          Nettikasino opas löytää sinulle Suomen
          <a target="_blank" href="https://nettikasinoopas.com/">parhaat nettikasinot</a>
          <br>
          <!-- 2021-12-11 -->
          For the best in-play and cash out betting sites online, visit
          <a target="_blank" href="https://cashoutbettingsites.co.uk/">cashoutbettingsites.co.uk</a>
          <br>
          <!-- 2021-12-07 -->
          Hier erhalten Sie alle wichtigen Informationen über
          <a target="_blank" href="https://www.casinotop.com/de/">seriöse Online Casinos</a>.
          <br>
          <!-- 2021-07-31 -->
          <a target="_blank" href="https://casinobonuser.nu/nettcasino">norsk nettcasino</a>
          <br>
          <a target="_blank" href="https://casinodealen.se/svenska-casinon">bästa svenska casino</a>
          <br>
          <!-- 2021-09-26 -->
          <a target="_blank" href="https://www.nya-casinon.online/alla-casinon/">Alla casinon på nätet</a>
          <br>
          <!-- 2021-07-25 -->
          <a target="_blank" href="https://www.oest.no/boliglanskalkulator/">Lånekalkulator / Boliglånskalkulator</a>
          <br>
          <!-- 2021-12-02 -->
          <a target="_blank" href="https://www.veikkaa.com">Veikkaa.com</a>
          <br>
          <a target="_blank" href="https://www.casinot.net">Casinot.net</a>
          <br>
          <a target="_blank" href="https://www.pelit.com">Pelit.com</a>
          <br>
          <a target="_blank" href="https://www.kasinot.fi">Kasinot.fi</a>
          <br>
          <!-- 2021-08-31 -->
          <a target="_blank" href="https://www.toponlinecasinobonus.de/">www.toponlinecasinobonus.de</a>
          <br>
          British citizens should visit <a target="_blank" href="https://www.smartphonecasinos.co.uk/">smartphonecasinos.co.uk</a>
          for the best online casinos in the United Kingdom
          <br>
          <a target="_blank" href="https://www.onlinecasinotest.com.de/">Online Casino Test</a>
          <br>
          <!-- 2021-08-01 -->
          <a target="_blank" href="https://www.reachdigital.nl/">Reach Digital Magento Specialist</a>
          <br>
          <!-- 2021-06-20 -->
          <a target="_blank" href="https://www.onlinecasinoxl.nl/">betrouwbaar Nederlands online casino</a>
          <br>
          <!-- 2021-06-04 -->
          <a target="_blank" href="https://www.5slotsites.com">www.5slotsites.com</a>
          <br>
          <a target="_blank" href="https://aspirecasinos.com">https://aspirecasinos.com</a> - the leading resource for
          the aspire global network
          <br>
          <!-- 2021-12-03 -->
          <a target="_blank" href="https://www.bingoport.co.uk/">https://www.bingoport.co.uk</a> - The UK’s only rewards
          program for playing bingo
          <br>
          <!-- 2021-06-04 -->
          <a target="_blank" href="https://www.haardenexpert.nl/houtkachels">Houtkachel</a>
          <br>
          <!-- 2021-05-18 -->
          <a target="_blank" href="https://www.casinoutansvensklicens.com/">Alla Bästa Casinon utan Svensk Licens 2020 - Uppdaterad lista</a>
          <br>
          <a target="_blank" href="https://www.casinoutansvensklicens.se/">Hitta bra Casinon utan licens i Sverige med Trustly och BankID</a>
          <br>
          <!-- 2021-05-19 -->
          If you are looking for available online casinos in Germany, just take a look at
          <a target="_blank" href="https://goodluckmate.com/casinos/available-in-germany">Goodluckmate</a> - for best
          Germany casinos list
          <br>
          <!-- 2021-08-31 -->
          <a target="_blank" href="https://www.financiering.no/billan/">Billån - Financiering.no</a>
          <br>
          <!-- 2021-07-13 -->
          <a target="_blank" href="https://www.whitehatcasinos.com">https://www.whitehatcasinos.com</a> lists an a-z of
          every whitehat casino site and provides detailed reviews.
          <br>
          <!-- 2021-11-12 -->
          Casino ohne Anmeldung spielen? Einfach ein <a target="_blank" href="https://neuecasinos24.com/ohne-anmeldung">Casino
          ohne Spielerkonto bei NeueCasinos24.com</a> auswählen und loslegen.
          <br>
          <!-- 2022-04-30 -->
          <a target="_blank" href="https://casinogringos.com/fi/kasino-ilman-rekisteroitymista">Casinogringos</a> vertaa
          nettikasinot ilman rekisteröitymistä puolestas
          <br>
          <a target="_blank" href="https://casinogringos.se/">casinogringos.se</a> är det självklara valet för att
          jämför svenska casino på nätet.
          <br>
          <!-- 2021-06-20 -->
          <a target="_blank" href="https://gambling.city/">Online Gambling</a>
          <br>
          <!-- 2021-09-04 -->
          <a target="_blank" href="https://handycasinos24.com/ohne-konto">Casino ohne Anmeldung</a>
          <br>
          <!-- 2022-12-31 -->
          <a target="_blank" href="https://gokkasten.startpagina.nl/">Gokkasten</a>
          <br>
          <!-- 2021-09-07 -->
          <a target="_blank" href="https://www.online-casino-spielautomaten.de/">Online Casino Spielautomaten</a>:
          Deutschlands Beliebteste Online Casino.
          <br>
          <!-- 2022-02-01 -->
          Speel gratis of met iDeal op <a target="_blank" href="https://www.gokkastenxl.nl/">Nederlandse Gokkasten
          Online</a> of gewoon op Roulette.
          <br>
          <!-- 2022-03-09 -->
          Find the best online casinos from finnish Kasinohai
          <a href="https://www.kasinohai.com/parhaat-nettikasinot" target="_blank">parhaat nettikasinot</a>
          <br>
          <!-- 2021-08-31 -->
          <a target="_blank" href="https://www.axofinans.se/samla-lån">https://www.axofinans.se/samla-lån</a>
          <br>
          <!-- 2022-12-31 -->
          <a target="_blank" href="https://www.schipholparkerenvergelijken.nl/">Schiphol Airport Parking</a>
          <br>
          <!-- 2021-06-20 -->
          <a target="_blank" href="https://highrollerscasino.com/casinos-high-limits/">High Limit Casino</a>
          <br>
          <!-- 2021-12-01 -->
          <a target="_blank" href="https://www.topglas.de/">Brillengläser</a> online bestellen bei TOPGLAS
          <br>
          <!-- 2021-07-21 -->
          If you are from Sweden and want to play casino games, you should visit Sweden's biggest
          <a target="_blank" href="https://www.casinotopp.net/sv/">casino online</a> site, Casinotopp.net/sv/
          <br>
          <!-- 2021-06-03 -->
          På casinonutanregistrering.com kan du jämföra både svenska
          <a target="_blank" href="https://casinonutanregistrering.com/casino/utan-licens-och-spelpaus/">casinon med
          licens och casinon online utan svensk licens och spelpaus för 2021</a>. Vi har enbart säkra alternativ i vår
          topplista.
          <br>
          <!-- 2021-06-12 -->
          This is the best <a target="_blank" href="https://allcasinos.in/casino-bonus/">casino bonus</a>
          for India.
          <br>
          <a target="_blank" href="https://juegosdecasino.me/tragaperras/">tragamonedas</a>
          <br>
          Check out the top list of Japan casinos:
          <a target="_blank"
             href="https://allcasinos.jp/#%E3%82%AA%E3%83%B3%E3%83%A9%E3%82%A4%E3%83%B3%E3%82%AB%E3%82%B8%E3%83%8E">オンラインカジノ</a>.
          <br>
          <a target="_blank" href="https://www.casinowired.com/casinos/vera-and-john/">ベラジョン</a>
          <br>
          <!-- 2021-11-11 -->
          Find the best available <a target="_blank"
                                     href="https://www.casinoadvisers.com/casino-bonus/no-deposit-bonus/">no deposit
          bonus 2020</a> at CasinoAdvisers.com
          <br>
          CasinoHallen with best <a target="_blank" href="https://casinohallen.se/casino-bonus/">casino bonus</a>
          <br>
          <!-- 2021-08-31 -->
          <a target="_blank" href="https://mr.bet/at">https://mr.bet/at</a>
          <br>
        </div>
      </div>
    </div>
  </div>
</section>

{{> footer ~}}

{{> scripts ~}}