---
title: Open Source FAQ software
description: phpMyFAQ is a mobile-friendly, feature-rich, scalable open source FAQ web app for PHP 8
layout: none
---
{{> head ~}}

{{> header ~}}

<section class="promo offset-header">
  <div class="container text-center">
    <h2 class="title">phpMy<span class="highlight">FAQ</span> 3.2</h2>

    <p class="intro">
      phpMyFAQ is a mobile-friendly, feature-rich, scalable open source FAQ web app for PHP 8.1+
    </p>

    <div class="btns">
      <a class="btn btn-cta-secondary" href="http://demo.phpmyfaq.de/">Demo</a>
      <a class="btn btn-cta-primary" href="{{site.domain}}/download">Download</a>
    </div>
    <p class="love-phpmyfaq">
      We really think you will like this knowledge base script. Knowledge is free, and so is phpMyFAQ. Since 2001.
    </p>

    <ul class="meta list-inline">
      <li>
        <a rel="nofollow" target="_blank" href="https://github.com/thorsten/phpMyFAQ">
          View on GitHub
        </a>
      </li>
      <li>
        <a href="/documentation">
          Documentation
        </a>
      </li>
      <li>
        <a rel="nofollow" target="_blank" href="https://github.com/thorsten/phpMyFAQ/issues">
          Issues on GitHub
        </a>
      </li>
    </ul>
  </div>
</section>

<section id="news" class="news">
  <div class="container">
    <h2>
      <a id="latest-news"></a>
      Latest phpMyFAQ news
    </h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
### 2023-09-21
* * *
The phpMyFAQ Team would like to announce the availability of [phpMyFAQ 3.2.1](/download),
the "Steve Harwell" release.
We also released [phpMyFAQ 3.1.18](/download), the "Roger Whittaker" release.
These releases fix multiple vulnerabilities, and fix all reported issues.
[Click here to find a detailed security advisory](/security/advisory-2023-09-21).
        {{/markdown}}
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
### 2023-09-04
* * *
The phpMyFAQ Team is pleased to announce [phpMyFAQ 3.2.0](/download), the "Jimmy Buffett" release.
We changed PHP requirement to PHP 8.1.0 or later, HTTPS is the new default, and we added support for PHP 8.2.
If you use MariaDB, MySQL, Percona Server or Galera Cluster, phpMyFAQ now only supports InnoDB.
We added support for 2FA (Two-Factor Authentication) support, an experimental Azure AD login, the option to use Google
ReCaptcha, our own new REST API v2.2 to fetch groups and add categories, a verification of backup files, an option to
disable questions and notifications, a new mobile first, touch-friendly default layout and added Symfony HttpFoundation
to improve stability and maintainability.
We removed the broken link verification, the translation frontend for users and the experimental large permissions
support with sections.
We migrated from SwiftMailer to Symfony Mailer, and we also refactored our codebase to use PHP 8.1 language features.
Additionally, we updated to Bootstrap v5.3 and bundled TinyMCE v6.7.
The Japanese and the Dutch translation were up-to-date as well.
{{/markdown}}
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
### 2023-08-30
* * *
The phpMyFAQ Team would like to announce the availability of [phpMyFAQ 3.2.0-RC.4](/download), the "René Weller" release.
With the forth and hopefully last release candidate, we fixed all reported and known issues.
Please don't use this version in production systems, but test this version and please report bugs!.
{{/markdown}}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
### 2023-08-27
* * *
The phpMyFAQ Team is pleased to announce [phpMyFAQ 3.1.17](/download), the "Sinéad O’Connor" release.
This release fixes multiple vulnerabilities, and fixed all reported issues.
[Click here to find a detailed security advisory](/security/advisory-2023-08-27).
{{/markdown}}
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
### 2023-07-21
* * *
The phpMyFAQ Team would like to announce the availability of [phpMyFAQ 3.2.0-RC.3](/download),
the "Kevin Mitnick" release.
With the third release candidate, we fixed all reported and known issues.
Please don't use this version in production systems, but test this version and please report bugs!.
{{/markdown ~}}
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
### 2023-07-16
* * *
The phpMyFAQ Team would like to announce the availability of [phpMyFAQ 3.1.16](/download),
the "Heide Simonis" release.
This release fixes multiple vulnerabilities, and fixed all reported issues.
[Click here to find a detailed security advisory](/security/advisory-2023-07-16).
{{/markdown}}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>
          Looking for older news? When take a look at our <a href="/news/">news archive</a>.
        </p>
        <div class="icon-holder text-center"><i class="fa fa-smile-o"></i></div>
        <div class="text-center" style="font-size: 10px; margin-top: 20px;">
          SPONSORED BY
          <br>
          <!-- 2023-10-04 -->
          <a target="_blank" href="https://www.casinoer.com/">Casinoer</a> - The Home of Online Casino in Norway
          <br>
          <!-- 2023-11-09 -->
          Die beste Liste der <a target="_blank" href="http://casinoohnelizenzdeutschland.com/">casino ohne deutsche lizenz</a>
          finden Sie hier
          <br>
          <!-- 2024-05-21 -->
          Finding a safe and secure casino can be tricky, which is why <a target="_blank" href="https://www.bokumobilecasino.com/">Boku Casino</a>
          sites can be a perfect choice; offering slots and casino games that let you pay by mobile.
          <br>
          <!-- 2023-11-04 -->
          <a target="_blank" href="https://www.rahapelit-netissa.com/kasino-ilman-rekisteroitymista/">pay and play ilman rekisteröitymistä</a>
          <br>
          <!-- 2020-10-22 -->
          <a target="_blank" href="https://casinoutankonto.net/casino-utan-svensk-licens/">Topplista över casino utan
            svensk licens - bara de bästa</a>
          <br>
          <!-- 2020-11-14 recurring -->
          <a target="_blank" href="https://casinoohnelizenz.info/">Casinoohnelizenz.info</a> bietet eine Liste mit den
          besten Casinos ohne Deutscher Lizenz. Besuchen Sie die Webseite, wenn Sie in Slots ohne ein Einsatzlimit von
          1 Euro spielen möchten.
          <br>
          <!-- 2024-07-16 -->
          Alle <a target="_blank" href="https://www.grenzenloscasino.com/casinos-ohne-limit/casinos-ohne-oasis/">Online Casinos ohne Oasis Sperrdatei</a>
          auf Grenzenlos Casino sind seriös, verifiziert und für Deutsche Spieler geeignet.
          <br>
          <!-- 2023-11-04 -->
          Nettikasinot360 is the place for want to read about fast withdrawals
          <a target="_blank" href="https://nettikasinot360.com/nopeat-kotiutukset/">nopeat kotiutukset</a> in Finland
          <br>
          <!-- 2024-09-18 -->
          <a target="_blank" href="https://vape.se/">Vape</a>
          <br>
          <!-- 2024-05-16 -->
          <a target="_blank" href="https://www.willkommensbonus.com/">Willkommensbonus.com</a>
          <br>
          <!-- 2023-11-01 -->
          Alla <a target="_blank" href="https://spelpressen.se/casino-reportage/casino-utan-svensk-licens">nya casinon utan svensk spellicens</a>
          kan du jämföra här.
          <br>
          <!-- 2024-07-26 -->
          <a target="_blank" href="https://kasinokolikkopelit.com/nettikasinot">suosituimmat kasinot</a>
          <br>
          <!-- 2023-6-30 -->
          <a target="_blank" href="https://www.bogdancazino.ro/">https://www.bogdancazino.ro/</a>
          <br>
          <a target="_blank" href="https://speelhiercasino.com/pay-n-play/">https://speelhiercasino.com/pay-n-play/</a>
          <br>
          <a target="_blank" href="https://casinocrawlers.com/">https://casinocrawlers.com/</a>
          <br>
          <!-- 2023-11-09 -->
          Kolla in listan hos <a target="_blank" href="https://casinofox.se/">CasinoFox.se</a> om du vill spela på ett
          casino utan Spelpaus. Du hittar casinon med Trustly, Bonusar, freespins och mycket mer!
          <br>
          The best site is <a target="_blank" href="https://casinoutanlicenssverige.com/">casinoutanlicenssverige.com</a>
          if you want casinos without license
          <br>
          <!-- 2020-12-14 recurring -->
          <a target="_blank" href="https://deutschercasinobonus.com/casino-ohne-deutsche-lizenz/">Topliste mit Casinos ohne Lizenz in Deutschland</a>
          <br>
          <!-- 2024-04-22 -->
          <a target="_blank" href="https://inkedin.com/">inkedin.com</a>
          <br>
          <!-- 2024-02-26 -->
          Hitta smidigt ett <a target="_blank" href="https://www.casivo.se/casino-utan-registrering-eller-konto/">casino
          utan konto</a> hos casivo.se
          <br>
          <!-- 2023-10-01 -->
          Casinofrog.com bewertet <a target="_blank" href="https://casinofrog.com/de/online-casino/ohne-limit/">Casinofrog.com</a>
          <br>
          <!-- 2023-10-03 -->
          <a target="_blank" href="http://phonebillcasino.co.uk/">Phonebillcasino.co.uk</a> specialise in all aspects of
          mobile billing, this includes being able to
          <a target="_blank" href="https://phonebillcasino.co.uk/bet-mobile-phone-credit-sites/">bet using phone bill at online bookmakers</a>.
          <br>
          Play the latest
          <a target="_blank" href="http://mobilebingobonuses.co.uk">mobilebingobonuses.co.uk</a>
          at some of best casino sites in the UK
          <br>
          Combining a great deposit method with a great site isn't easy, so make sure you're picking the
          best gambling sites that let you <a target="_blank" href="http://phonebillsportsbetting.com/">bet
          using phone bill.</a>
          <br>
          <!-- 2024-04-21 -->
          Find the best online casinos, <a target="_blank" href="https://www.kasinohai.com/parhaat-nettikasinot">parhaat
          nettikasinot</a> in Finnish, on Kasinohai
          <br>
          <!-- 2023-10-17 -->
          <a target="_blank" href="https://colordrop.de/collections/brillen-fuer-farbenblinde">Brille für Farbenblinde</a>
          <br>
          <a target="_blank" href="https://glas.de/">Glas, Vordächer und Terrassen</a>
          <br>
          <a target="_blank" href="https://zahnzusatzversicherung.org/">Zahnzusatzversicheurng</a>
          <br>
          <!-- 2023-12-31 -->
          <a target="_blank" href="https://casinodetective.nl/online-casinos/">Online casinos</a>
          <br>
          <a target="_blank" href="https://www.sportgokken.eu/bookmakers/">Bookmakers</a>
          <br>
          <!-- 2023-11-25 -->
          All the Kuwaiti players are wagering only it this hub for
          <a target="_blank" href="https://onlinecasino-kuwait.com"> Real Money Online Casinos</a>
          <br>
          <a target="_blank" href="https://casinoarbi.com">casinoarbi.com</a> is the place for the Best and most
          profitable Online Arabic Casinos, where players can enjoy Real money prizes.
          <br>
          <a target="_blank" href="https://bitcoincasinoarabic.com/">bitcoincasinoarabic.com</a> have The most reputable
          Arabic Bitcoin Casinos
          <br>
          Argentinian players can find here the best <a target="_blank" href="https://mejorescasinos.com.ar">Online
          Casinos with Real money, No-Deposit Bonuses and more</a>
          <br>
          The best place, out of all the other Online Casinos review sites,
          <a target="_blank" href="https://bestreviews.casino/">to check for reliable places</a>
          <br>
          Players from Kuwait can find <a target="_blank" href="https://topkuwaitcasinos.com">Good Luck and Real money</a>
          in this Online Casinos site
          <br>
          <!-- 2023-10-24 -->
          Täältä löydät nopeasti kaikki suomalaiset kasinot, joissa on
          <a target="_blank" href="https://casino-professor.com/fi/artikkelit/minimitalletus/">minimitalletus 5e</a>.
          <br>
          <!-- 2025-12-31 -->
          Holen Sie sich eine Liste mit dem besten <a target="_blank" href="https://casino-bonus.com/de/">Casino Bonus</a>
          ohne Einzahlung bei Casino Bonus Deutschland.
          <br>
          Looking for an online casino? Then we recommend comparing the best online casinos by visiting
          <a target="_blank" href="https://casinoonline.casino/">Casino Online</a>. They have the most updated list of
          trusted sites.
          <br>
          <!-- 2023-12-11 -->
          <a target="_blank" href="https://svenskaonlinecasinon.se/">Svenskaonlinecasinon.se</a> - Topplista med svenska
          online casino
          <br>
          Nettikasino opas löytää sinulle Suomen
          <a target="_blank" href="https://nettikasinoopas.com/">parhaat nettikasinot</a>
          <br>
          <!-- 2023-12-11 -->
          For the best in-play and cash out betting sites online, visit
          <a target="_blank" href="https://cashoutbettingsites.co.uk/">cashoutbettingsites.co.uk</a>
          <br>
          <!-- 2024-07-04 -->
          <a target="_blank" href="https://www.casinoohne.com/">Sichere und seriöse Casinos ohne deutsche Lizenz</a> -
          Legal and ohne Limits
          <br>
          <!-- 2024-07-25 -->
          <a target="_blank" href="https://www.oest.no/boliglanskalkulator/">Lånekalkulator</a>
          <br>
          <!-- 2023-12-11 -->
          Casino ohne Anmeldung spielen? Einfach ein <a target="_blank" href="https://neuecasinos24.com/ohne-anmeldung">Casino
          ohne Spielerkonto bei NeueCasinos24.com</a> auswählen und loslegen.
          <br>
          <!-- 2023-12-01 -->
          <a target="_blank" href="https://www.topglas.de/">Brillengläser</a> online bestellen bei TOPGLAS
          <br>
          <!-- 2023-12-02 -->
          <a target="_blank" href="https://www.veikkaa.com">Veikkaa.com</a>
          <br>
          <a target="_blank" href="https://www.casinot.net">Casinot.net</a>
          <br>
          <a target="_blank" href="https://www.pelit.com">Pelit.com</a>
          <br>
          <a target="_blank" href="https://www.kasinot.fi">Kasinot.fi</a>
          <br>
          <a target="_blank" href="https://www.nettikasinot.org">Nettikasinot.org</a>
          <br>
          <a target="_blank" href="https://www.nettikasino.fi">Nettikasino.fi</a>
          <br>
          <!-- 2024-02-21 -->
          <a target="_blank" href="https://casinofia.se/casino-utan-licens/">Casino utan svensk licens trustly</a>
          <br>
          <a target="_blank" href="https://casinoutanlicens.com/">casino utan svensk licens</a>
          <br>
          <a target="_blank" href="https://utansvensklicenscasino.com/casino-utan-bankid/">utansvensklicenscasino.com</a>
          <br>
          <!-- 2024-03-29 -->
          <a target="_blank" href="https://uudetnettikasinot365.com/">Uudetnettikasinot365</a> vertaa
          nettikasinot ilman rekisteröitymistä puolestas
          <br>
          <a target="_blank" href="https://casinogringos.se/">casinogringos.se</a> är det självklara valet för att
          jämför svenska casino på nätet.
          <br>
          <!-- 2023-12--7 -->
          <a target="_blank" href="https://uusimmatkasinot.com/maksutavat/brite-kasinot/">Brite Kasinot</a>
          <br>
          <!-- 2024-05-07 -->
          Compare the best online casinos in Canada at <a target="_blank" href="https://casinocanada.io/">Casinocanada.io</a>
          <br>
        </div>
      </div>
    </div>
  </div>
</section>

{{> footer ~}}

{{> scripts ~}}