---
title: Open Source FAQ software
description: phpMyFAQ is a mobile-friendly, feature-rich, scalable open source FAQ software using PHP or HHVM
layout: none
---
{{> head ~}}

{{> header ~}}

    <section class="promo offset-header">
        <div class="container text-center">
            <h2 class="title">phpMy<span class="highlight">FAQ</span></h2>

            <p class="intro">
                phpMyFAQ is a mobile-friendly, feature-rich, scalable open source FAQ software using PHP 5.5+, PHP 7 or
                HHVM
            </p>

            <div class="btns">
                <a class="btn btn-cta-secondary" href="http://demo.phpmyfaq.de/">Demo</a>
                <a class="btn btn-cta-primary" href="{{site.domain}}/download">Download</a>
            </div>
            <div class="btns">
                <a class="btn btn-cta-app" rel="nofollow" target="_blank" href="https://itunes.apple.com/en/app/phpmyfaq/id977896957">
                    <i class="fa fa-apple"></i> DOWNLOAD iOS APP
                </a>
            </div>
            <p class="love-phpmyfaq">
                We really think you will like this knowledge base script. Knowledge is free, and so is phpMyFAQ.
            </p>

            <ul class="meta list-inline">
                <li>
                    <a href="/app">
                        About phpMyFAQ iOS App
                    </a>
                </li>
                <li>
                    <a rel="nofollow" target="_blank" href="https://github.com/thorsten/phpMyFAQ">
                        View on GitHub
                    </a>
                </li>
                <li>
                    <a href="/documentation">
                        Full Documentation
                    </a>
                </li>
                <li>
                    <a rel="nofollow" target="_blank" href="https://github.com/thorsten/phpMyFAQ/issues">
                        Issues on GitHub
                    </a>
                </li>
            </ul>
        </div>
    </section>



    <section id="news" class="news">
        <div class="container">
            <h2>
                <a id="latest-news"></a>
                Latest phpMyFAQ news
            </h2>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
###2016-04-11
* * *
The phpMyFAQ Team is pleased to announce [phpMyFAQ 2.8.27](/download), the "Hans-Dietrich Genscher" release and
[phpMyFAQ 2.9.0-RC3](/download), the "Johan Cruyff" release. Both releases fixes a security vulnerability, all users of
affected phpMyFAQ versions are encouraged to upgrade as soon as possible to this latest versions! A detailed
[security advisory](/security/advisory-2016-04-11) is available. phpMyFAQ 2.8.27 also adds the possibility to use
fullscreen videos and compatibility with MySQL 5.7. We also fixed some minor bugs. phpMyFAQ 2.9.0-RC3 removes Mermaid
and fixes a lot of issues reported from our RC testers. Please note that you shouldn't use this version in production
systems, but test this version and please report bugs!
{{/markdown}}
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
###2016-03-20
* * *
The phpMyFAQ Team is pleased to announce [phpMyFAQ 2.9.0-RC2](/download), the "Guido Westerwelle" release. This
release adds support for Mermaid if Markdown is enabled and fixes a lot of issues reported from our RC testers. Please
note that you shouldn't use this version in production systems, but test this version and please report bugs!
{{/markdown ~}}
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
###2016-03-12
* * *
The phpMyFAQ Team would like to announce the availability of [phpMyFAQ 2.9.0-RC](/download), the "George Martin"
release. This release is our first release candidate and adds as last feature private notes per FAQ for administrators,
updates the Russian translation and fixes a lot of issues reported from our beta testers. Please note that you shouldn't
use this version in production systems, but test this version and please report bugs!
{{/markdown}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Looking for older news? When take a look at our <a href="/news/">news archive</a>.
                    </p>
                    <div class="icon-holder text-center"><i class="fa fa-smile-o"></i></div>
                    <p class="text-center">
                        <small>
                            <!-- 2016-12-31 -->
                            <a target="_blank" href="http://www.binaryoptionrobotinfo.com/iq-option-review/">
                                Iq option
                            </a>
                            binary option review<br>
                            Best binary option robots
                            <a target="_blank" href="http://binarysoftware.org/">
                                binarysoftware.org
                            </a>
                            <br>
                            <a target="_blank" href="http://binaryj.com/">
                                Excellent binary options trading guide BinaryJ
                            </a>
                            <br>
                            <!-- 2017-03-31 -->
                            <a target="_blank" href="http://www.7binaryoptions.com/brokers/" title="binary options trading guide">
                                7 Binary Options - binary options trading guide
                            </a>
                            <!-- 2016-05-31 -->
                            <br>
                            Baltimore <a target=_blank href="http://www.marylandsearch.org/maryland-seo/">Maryland SEO</a> company
                            <br>
                            Order <a target=_blank href="https://www.labtestsportal.com/online-blood-test/">blood tests online</a>
                            <br>
                            Homes for sale at <a target=_blank href="http://www.sdrealestatehub.com">San Diego Real Estate</a> Hub
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </section>

{{> footer ~}}

{{> scripts ~}}