---
title: Open Source FAQ software
description: phpMyFAQ is a mobile-friendly, feature-rich, scalable open source FAQ software using PHP or HHVM
layout: none
---
{{> head ~}}

{{> header ~}}

    <section class="promo offset-header">
        <div class="container text-center">
            <h2 class="title">phpMy<span class="highlight">FAQ</span> 2.9</h2>

            <p class="intro">
                phpMyFAQ is a mobile-friendly, feature-rich, scalable open source FAQ software using PHP 5.6+ and PHP 7+
            </p>

            <div class="btns">
                <a class="btn btn-cta-secondary" href="http://demo.phpmyfaq.de/">Demo</a>
                <a class="btn btn-cta-primary" href="{{site.domain}}/download">Download</a>
            </div>
            <div class="btns">
                <a class="btn btn-cta-app" rel="nofollow" target="_blank" href="https://itunes.apple.com/en/app/phpmyfaq/id977896957">
                    <i class="fa fa-apple"></i> DOWNLOAD iOS APP
                </a>
            </div>
            <p class="love-phpmyfaq">
                We really think you will like this knowledge base script. Knowledge is free, and so is phpMyFAQ.
            </p>

            <ul class="meta list-inline">
                <li>
                    <a href="/app">
                        About phpMyFAQ iOS App
                    </a>
                </li>
                <li>
                    <a rel="nofollow" target="_blank" href="https://github.com/thorsten/phpMyFAQ">
                        View on GitHub
                    </a>
                </li>
                <li>
                    <a href="/documentation">
                        Full Documentation
                    </a>
                </li>
                <li>
                    <a rel="nofollow" target="_blank" href="https://github.com/thorsten/phpMyFAQ/issues">
                        Issues on GitHub
                    </a>
                </li>
            </ul>
        </div>
    </section>



    <section id="news" class="news">
        <div class="container">
            <h2>
                <a id="latest-news"></a>
                Latest phpMyFAQ news
            </h2>
            <div class="row">
              <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
###2018-02-17
* * *
The phpMyFAQ Team would like to announce the availability of [phpMyFAQ 2.9.10](/download), the "Deniz Yücel" release.
This release updates the Dutch translation and some bundled dependencies. It also fixes a lot of minor issues.
{{/markdown ~}}
              </div>
              <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
###2018-02-12
* * *
The phpMyFAQ Team is pleased to announce [phpMyFAQ 3.0.0-alpha](/download), the "17 years and still living" release. This
new major pre-release marks a big step ahead with the changed PHP requirement to PHP 5.6+ and PHP 7+. We finally added
PHP namespaces, Docker support, a LDAP configuration frontend, a configuration for enable/disable XML sitemaps, support
for category images and categories on homepage, an image slider template, an improved attachment overview, HTML5 export
and we're ready for the EU General Data Protection Regulation. We improved our REST API including login and the sticky
records feature. We switched CSS development from LESS to SCSS and our template variable syntax is now compatible with
Twig/Handlebars. Our new mobile first template is based on Bootstrap v4. We removed the translation admin frontend, the
XHTML export, support for ext/mssql, the bundled Symfony ClassLoader and Bower, we're now using NPM/Yarn only. Please
don't use this version in production systems, but test this version and please report bugs!
{{/markdown}}
              </div>
              <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
###2017-10-19
* * *
The phpMyFAQ Team would like to announce the availability of [phpMyFAQ 2.9.9](/download), the "Hugh Hefner" release.
This release fixes multiple security vulnerabilities, all users of affected phpMyFAQ versions are encouraged to upgrade
as soon as possible to this latest versions! A detailed [security advisory](/security/advisory-2017-10-19) is available.
The release also updates the bundles packages Bootstrap, TinyMCE, Font Awesome and HighlightJS. It also fixes a lot of
minor issues.
{{/markdown ~}}
              </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Looking for older news? When take a look at our <a href="/news/">news archive</a>.
                    </p>
                    <div class="icon-holder text-center"><i class="fa fa-smile-o"></i></div>
                    <div class="text-center" style="font-size: 10px; margin-top: 20px;">
                        ADVERTISMENTS
                        <br>
                        <!-- 2018-06-06 -->
                        <a target="_blank" href="https://www.webton.nl/blog/tag/linkbuilden">Webton</a>
                        <br>
                        <!-- 2018-03-31 -->
                        <a target="_blank" href="http://www.7binaryoptions.com/brokers/" title="binary options trading guide">
                            7 Binary Options - binary options trading guide
                        </a>
                        <br>
                        <!-- 2018-10-03 -->
                        If you like to play mobile casino slots,
                        <a target="_blank" href="http://phonebillcasino.co.uk/mobile-slots-pay-by-phone-bill/">phonebillcasino.co.uk</a>
                        specialise in sites that allow you to play Netent slots and pay by mobile.
                        <br>
                        There are lots of places to play bingo online, but
                        <a target="_blank" href="http://mobilebingobonuses.co.uk">mobilebingobonuses.co.uk</a>
                        offer independent bingo site reviews and the latest bingo promotions.
                        <br>
                        <!-- 2018-10-11 -->
                        <a target="_blank" href="http://binaerebroker.com/">Binäre Optionen handeln</a>
                        <br>
                        <!-- 2018-12-31 -->
                        Finding a safe and secure casino can be tricky, at
                        <a target="_blank" href="http://www.bokumobilecasino.com">bokumobilecasino.com</a>
                        you can find the safest slots and casino sites that let you pay by mobile.
                        <br>
                        <!-- 2019-01-31 -->
                        <a target="_blank" href="https://www.anytimecasino.com/">www.anytimecasino.com</a> brings to you
                        the very best new casino site of 2017, play the very best online slots and casino games right
                        here.
                        <br>
                        If your looking for the very best online slot and casino games, then look no further then
                        <a target="_blank" href="https://www.mobileslots.com/">www.mobileslots.com</a>
                        <br>
                        <!-- 2018-03-31 -->
                        <a target="_blank" href="https://www.voordeelcasino.com/high-roller-bonus/">High Roller Bonus</a>
                        <br>
                        <!-- 2018-04-06 -->
                        Erfolgreiche <a target="_blank" href="http://www.fussballwetten.de">Fussballwetten</a>? Entdecken
                        Sie es bei FussballWetten.de.
                        <br>
                        <!-- 2018-04-15 -->
                        <a target="_blank" href="https://www.onlinebeleggen.nl/iforex/">iFOREX</a> review for successful
                        online trading!
                        <br>
                        <!-- 2018-05-27 -->
                        <a target="_blank" href="https://tinki.de/hunde-op-versicherung/">hunde op versicherung</a>
                        <br>
                        <a target="_blank" href="https://tinki.de/tierhalterhaftpflicht/">tierhalterhaftpflicht</a>
                        <br>
                        <a target="_blank" href="https://tinki.de/hundehaftpflichtversicherung/">hundehaftpflicht</a>
                        <br>
                        <a target="_blank" href="https://tinki.nl/hondenverzekering/">Verzekering hond</a>
                        <br>
                        <a target="_blank" href="https://tinki.nl/huisdierenverzekering/">Dierenverzekering</a>
                        <br>
                        <a target="_blank" href="https://tinki.de/">Hundezubehör</a>
                        <br>
                        <a target="_blank" href="https://tinki.de/hundeversicherung/">hundeversicherung vergleich</a>
                        <br>
                        <a target="_blank" href="https://teamnijhuis.com/nl/google-adwords-campagne-laten-opzetten/">Google AdWords campagne</a>
                        <br>
                        <a target="_blank" href="https://teamnijhuis.com/nl/bovenaan-en-hoger-in-google/">Hoger in Google</a>
                        <br>
                        <a target="_blank" href="https://teamnijhuis.com/nl/google-adwords-adverteren-kosten-en-prijzen/">Kosten Google AdWords</a>
                        <br>
                        <!-- 2018-06-15 -->
                        <a target="_blank" href="https://www.voetbalgokken.nu/">VoetbalGokken.nu</a>
                        <br>
                        <!-- 2018-08-01 -->
                        <a href="http://wptheme.fr/theme-wordpress-divi/">Divi Wordpress Theme</a>
                        <br>
                        <!-- 2018-08-08 -->
                        Get the latest info on mobile betting and depositing from <a target="_blank" href="http://placeabetonline.co.uk/">placeabetonline.co.uk</a>
                        <br>
                        <!-- 2018-08-09 -->
                        At <a target="_blank" href="http://bokuslots.com/">bokuslots.com</a> you'll find the best deposit using phone bill casino sites that use the latest mobile friendly software.
                        <br>
                        <!-- 2018-08-23 -->
                        U vindt op op <a target="_blank" href="https://onlinecasinoinformatie.com/">deze website</a> alle informatie over online casinos in het algemeen.
                        <br>
                        <!-- 2018-08-31 -->
                        <a target="_blank" href="https://kroesewevers.nl/">Kroesewevers</a>
                        <br>
                        <!-- 2018-09-07 -->
                        <a target="_blank" href="https://softwarelicense4u.com/">Softwarelicense4u.com</a>
                        <br>
                        <!-- 2018-09-26 -->
                        <a target="_blank" href="https://bynco.com/">Tweedehands auto kopen</a>
                        <br>
                        <!-- 2018-05-15 -->
                        <a target="_blank" href="http://kikonline.tips/hotmail-login-sign/">Hotmail login guide</a>
                        <br>
                        <!-- 2018-12-11 -->
                        For the best in-play and cash out betting sites online, visit <a target="_blank" href="http://cashoutbettingsites.co.uk/best-cash-out-betting-sites/">cashoutbettingsites.co.uk</a>
                        <br>
                        <!-- 2018-12-19 -->
                        <a target="_blank" href="https://www.kelbet.com/">Kelbet</a>
                        <br>
                        <a target="_blank" href="https://code-promo-be.com">Codes promotionnel Ladbrokes</a>
                        <br>
                        <a target="_blank" href="https://code-promo-first.com">Code promo Betfirst</a>
                        <br>
                        <a target="_blank" href="https://casinocodepromo.be">Codes promo Casino 777 BE</a>
                        <br>
                        <a target="_blank" href="https://bonuscodepromo.com">Code Circus Belgium</a>
                        <br>
                        <a target="_blank" href="https://code-bonus-jeux.be/">Code-bonus-jeux.be</a>
                        <br>
                        <a target="_blank" href="https://cercledujeu.com/">Casino en ligne</a>
                        <br>
                        <a target="_blank" href="https://www.etgfc.com/code-promo-betclic-sport/">Code promo Betclic 2018</a>
                        <br>
                        <a target="_blank" href="https://bet-promotiecode.com/">Betfirst bonus code</a>
                        <br>
                        <a target="_blank" href="https://promotiecode-spellen.com/">Promotiecode-Spellen</a>
                        <br>
                        <a target="_blank" href="http://promotiecode-casino.com/">Promotiecode-Casino</a>
                        <br>
                        <a target="_blank" href="https://les-bonus.com/">Bonus paris sportif</a>
                      <br>
                    </div>
                </div>
            </div>
        </div>
    </section>

{{> footer ~}}

{{> scripts ~}}