---
title: Open Source FAQ software
description: phpMyFAQ is a mobile-friendly, feature-rich, scalable open source FAQ software using PHP or HHVM
layout: none
---
{{> head ~}}

{{> header ~}}

    <section class="promo offset-header">
        <div class="container text-center">
            <h2 class="title">phpMy<span class="highlight">FAQ</span> 2.9</h2>

            <p class="intro">
                phpMyFAQ is a mobile-friendly, feature-rich, scalable open source FAQ software using PHP 5.5+, PHP 7 or
                HHVM
            </p>

            <div class="btns">
                <a class="btn btn-cta-secondary" href="http://demo.phpmyfaq.de/">Demo</a>
                <a class="btn btn-cta-primary" href="{{site.domain}}/download">Download</a>
            </div>
            <div class="btns">
                <a class="btn btn-cta-app" rel="nofollow" target="_blank" href="https://itunes.apple.com/en/app/phpmyfaq/id977896957">
                    <i class="fa fa-apple"></i> DOWNLOAD iOS APP
                </a>
            </div>
            <p class="love-phpmyfaq">
                We really think you will like this knowledge base script. Knowledge is free, and so is phpMyFAQ.
            </p>

            <ul class="meta list-inline">
                <li>
                    <a href="/app">
                        About phpMyFAQ iOS App
                    </a>
                </li>
                <li>
                    <a rel="nofollow" target="_blank" href="https://github.com/thorsten/phpMyFAQ">
                        View on GitHub
                    </a>
                </li>
                <li>
                    <a href="/documentation">
                        Full Documentation
                    </a>
                </li>
                <li>
                    <a rel="nofollow" target="_blank" href="https://github.com/thorsten/phpMyFAQ/issues">
                        Issues on GitHub
                    </a>
                </li>
            </ul>
        </div>
    </section>



    <section id="news" class="news">
        <div class="container">
            <h2>
                <a id="latest-news"></a>
                Latest phpMyFAQ news
            </h2>
            <div class="row">
            <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
###2016-08-31
* * *
The phpMyFAQ Team is pleased to announce [phpMyFAQ 2.9.5](/download), the "Nora Sophie" release. We fixed a lot of minor
issues reported since the 2.9.4 release.
{{/markdown}}
            </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
###2016-08-02
* * *
The phpMyFAQ Team would like to announce the availability of [phpMyFAQ 2.9.4](/download), the "Fritz Lang" release.
This release updates the bundled Bootstrap and TinyMCE editor components. We also fixed some minor issues reported
since the 2.9.3 release including the accidentally enabled debug messages.
{{/markdown ~}}

                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
###2016-08-01
* * *
The phpMyFAQ Team is pleased to announce [phpMyFAQ 2.9.3](/download), the "Jana Thiel" release. We fixed a lot of minor
issues reported since the 2.9.2 release.
{{/markdown ~}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Looking for older news? When take a look at our <a href="/news/">news archive</a>.
                    </p>
                    <div class="icon-holder text-center"><i class="fa fa-smile-o"></i></div>
                    <div class="text-center" style="font-size: 10px; margin-top: 20px;">
                        ADVERTISMENTS
                        <br>
                        <!-- 2016-12-31 -->
                        <a target="_blank" href="http://www.binaryoptionrobotinfo.com/iq-option-review/">
                            Iq option
                        </a>
                        binary option review<br>
                        Best binary option robots
                        <a target="_blank" href="http://binarysoftware.org/">
                            binarysoftware.org
                        </a>
                        <br>
                        <a target="_blank" href="http://binaryj.com/">
                            Excellent binary options trading guide BinaryJ
                        </a>
                        <br>
                        <!-- 2017-03-31 -->
                        <a target="_blank" href="http://www.7binaryoptions.com/brokers/" title="binary options trading guide">
                            7 Binary Options - binary options trading guide
                        </a>
                        <!-- 2017-04-30 -->
                        <a target="_blank" href="http://www.trustedbinaryrobots.com/">Trustedbinaryrobots.com</a>. At
                        trusted binaryrobots.com, we have a list of trading software for binary options, carefully
                        put together for generation of real signals and automatically executes trades profitably.
                        <br>
                        <!-- 2017-04-30 -->
                        <a target="_blank" href="http://www.01casinos.net/casinos/reviews/888casino">888 casino bonus</a>
                        <!-- 2016-10-07 -->
                        <a target="_blank" href="http://www.locatemyname.com/">Map of Names</a>
                        <!-- 2016-12-31 -->
                        <div class="text-center" style="font-weight: 10px;">
                        <script src="http://www.vouchercode.nl/widget/js/?w=761"></script>
                        </div>
                        <!-- 2016-11-30 -->
                        <a target="_blank" href="http://www.currencyconverterlive.info/">
                            Currency Converter Live
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{{> footer ~}}

{{> scripts ~}}