---
title: Museum
description: The phpMyFAQ Museum lists downloads of old, unsupported versions
canonical: download
layout: none
---
{{> head ~}}

{{> header ~}}

    <section class="downloads section">
        <div class="container">
            <h1>{{page.title}}</h1>
            <p class="intro">
                <span class="label label-danger">Important!</span> Here are all downloads of old, unsupported
                versions since phpMyFAQ 1.2.0 back in 2002. You shouldn't install these versions for production
                proposes.
            </p>

            <div class="row">
                <div class="col-lg-12">

                    <h2>Overview</h2>
                    <ul>
                        <li><a href="#2.8">phpMyFAQ 2.8.x</a></li>
                        <li><a href="#2.7">phpMyFAQ 2.7.x</a></li>
                        <li><a href="#2.6">phpMyFAQ 2.6.x</a></li>
                        <li><a href="#2.5">phpMyFAQ 2.5.x</a></li>
                        <li><a href="#2.0">phpMyFAQ 2.0.x</a></li>
                        <li><a href="#1.6">phpMyFAQ 1.6.x</a></li>
                        <li><a href="#1.5">phpMyFAQ 1.5.x</a></li>
                        <li><a href="#1.4">phpMyFAQ 1.4.x</a></li>
                        <li><a href="#1.3">phpMyFAQ 1.3.x</a></li>
                        <li><a href="#1.2">phpMyFAQ 1.2.x</a></li>
                    </ul>

                    <h3><a id="2.8"></a>phpMyFAQ 2.8.x (2013 - today)</h3>
                    <ul>

                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.17.zip">phpMyFAQ 2.8.17</a> (.zip)</strong><br>
                            <small>6.1 MB,
                                MD5 hash: <em>e7d6b6c07d6014a6f09a6af714c8819e,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.17.zip.md5">MD5 file</a></em>, released:
                                2014-11-05
                            </small>
                        </li>

                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.16.zip">phpMyFAQ 2.8.16</a> (.zip)</strong><br>
                            <small>6.1 MB,
                                MD5 hash: <em>1cd5df445bf625422a9a9d5a824108b7,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.16.zip.md5">MD5 file</a></em>, released:
                                2014-11-03
                            </small>
                        </li>

                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.15.zip">phpMyFAQ 2.8.15</a> (.zip)</strong><br>
                            <small>4.95 MB,
                                MD5 hash: <em>c08410639eabe8529ae013d29d8d6ab7,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.15.zip.md5">MD5 file</a></em>, released:
                                2014-10-02
                            </small>
                        </li>

                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.14.zip">phpMyFAQ 2.8.14</a> (.zip)</strong><br>
                            <small>4.95 MB,
                                MD5 hash: <em>fc374e66bed5c90387aa2be93458a0d6,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.14.zip.md5">MD5 file</a></em>, released:
                                2014-10-01
                            </small>
                        </li>

                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.13.zip">phpMyFAQ 2.8.13</a> (.zip)</strong><br>
                            <small>4.85 MB,
                                MD5 hash: <em>458dd5d59af4db6953d6eedb003e0450,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.13.zip.md5">MD5 file</a></em>, released:
                                2014-09-16
                            </small>
                        </li>

                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.12.zip">phpMyFAQ 2.8.12</a> (.zip)</strong><br>
                            <small>4.93 MB,
                                MD5 hash: <em>278efc6acdf283f2a92f1aa9fc8bd505,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.12.zip.md5">MD5 file</a></em>, released:
                                2014-08-02
                            </small>
                        </li>

                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.11.zip">phpMyFAQ 2.8.11</a> (.zip)</strong><br>
                            <small>4.92 MB,
                                MD5 hash: <em>63803fc5538c8f6cce859677b6323b54,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.11.zip.md5">MD5 file</a></em>, released:
                                2014-06-28
                            </small>
                        </li>

                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.10.zip">phpMyFAQ 2.8.10</a> (.zip)</strong><br>
                            <small>4.92 MB,
                                MD5 hash: <em>ad21f4e398d69ccd69d6ab3fcdbb9ef9,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.10.zip.md5">MD5 file</a></em>, released:
                                2014-05-30
                            </small>
                        </li>

                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.9.zip">phpMyFAQ 2.8.9</a> (.zip)</strong><br>
                            <small>4.82 MB,
                                MD5 hash: <em>3ce1683919fb38c52b0e44497f413b06,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.9.zip.md5">MD5 file</a></em>, released:
                                2014-04-28
                            </small>
                        </li>

                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.8.zip">phpMyFAQ 2.8.8</a> (.zip)</strong><br>
                            <small>4.82 MB,
                                MD5 hash: <em>54a92674066c7dc3c779702f782f8712,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.8.zip.md5">MD5 file</a></em>, released:
                                2014-03-18
                            </small>
                        </li>

                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.7.zip">phpMyFAQ 2.8.7</a> (.zip)</strong><br>
                            <small>4.42 MB,
                                MD5 hash: <em>16ed71d4f8b052b5ae4142d3fa57a7f2,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.7.zip.md5">MD5 file</a></em>, released:
                                2014-02-05
                            </small>
                        </li>

                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.6.zip">phpMyFAQ 2.8.6</a> (.zip)</strong><br>
                            <small>4.42 MB,
                                MD5 hash: <em>521830a1b5fed21bf4c511dd7fee306a,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.6.zip.md5">MD5 file</a></em>, released:
                                2014-02-04
                            </small>
                        </li>

                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.5.zip">phpMyFAQ 2.8.5</a> (.zip)</strong><br>
                            <small>4.41 MB,
                                MD5 hash: <em>c538851ed678e89b4df2bcd71e044cc5,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.5.zip.md5">MD5 file</a></em>, released:
                                2013-12-31
                            </small>
                        </li>

                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.4.zip">phpMyFAQ 2.8.4</a> (.zip)</strong><br>
                            <small>4.41 MB,
                                MD5 hash: <em>807f7e3bf5a2ca18d263c20d0b9a27f6,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.4.zip.md5">MD5 file</a></em>, released:
                                2013-11-26
                            </small>
                        </li>

                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.3.zip">phpMyFAQ 2.8.3</a> (.zip)</strong><br>
                            <small>4.4 MB,
                                MD5 hash: <em>4c3c3fb48741a4e0a02ef272791ab590,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.3.zip.md5">MD5 file</a></em>, released:
                                2013-11-18
                            </small>
                        </li>

                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.2.zip">phpMyFAQ 2.8.2</a> (.zip)</strong><br>
                            <small>4.4 MB,
                                MD5 hash: <em>854da3ba9d1deb719fc09a63a71a7950,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.2.zip.md5">MD5 file</a></em>, released:
                                2013-07-25
                            </small>
                        </li>

                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.1.zip">phpMyFAQ 2.8.1</a> (.zip)</strong><br>
                            <small>4.38 MB,
                                MD5 hash: <em>ff3e6e82a3713a4e1224e3f0d1f7b3d2,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.1.zip.md5">MD5 file</a></em>, released:
                                2013-06-26
                            </small>
                        </li>

                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.0.zip">phpMyFAQ 2.8.0</a> (.zip)</strong><br>
                            <small>4.28 MB,
                                MD5 hash: <em>7bccbdc46935c69541de08f31c2f06d3,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.8.0.zip.md5">MD5 file</a></em>, released:
                                2013-05-21
                            </small>
                        </li>
                    </ul>

                    <h3><a id="2.7"></a>phpMyFAQ 2.7.x (2011 - 2012)</h3>
                    <ul>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.7.9.zip">phpMyFAQ 2.7.9</a> (.zip)</strong><br>
                            <small>3.86 MB,
                                MD5 hash: <em>ca8e83d7dbf80b3b0ca679efae7cc322,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.7.9.zip.md5">MD5 file</a></em>, released:
                                2012-11-02
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.7.8.zip">phpMyFAQ 2.7.8</a> (.zip)</strong><br>
                            <small>3.77 MB,
                                MD5 hash: <em>46c02684aa2a12513275ca6715fe1722,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.7.8.zip.md5">MD5 file</a></em>, released:
                                2012-08-22
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.7.7.zip">phpMyFAQ 2.7.7</a> (.zip)</strong><br>
                            <small>3.77 MB,
                                MD5 hash: <em>0444b1e87f251025e401a3e9eae4f799,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.7.7.zip.md5">MD5 file</a></em>, released:
                                2012-07-01
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.7.6.zip">phpMyFAQ 2.7.6</a> (.zip)</strong><br>
                            <small>3.75 MB,
                                MD5 hash: <em>e07fa3dd8b2b5f2b764081265402f06d,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.7.6.zip.md5">MD5 file</a></em>, released:
                                2012-05-16
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.7.5.zip">phpMyFAQ 2.7.5</a> (.zip)</strong><br>
                            <small>3.76 MB,
                                MD5 hash: <em>2ada995c2dce281b8a679267acf6d673,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.7.5.zip.md5">MD5 file</a></em>, released:
                                2012-04-14
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.7.4.zip">phpMyFAQ 2.7.4</a></strong><br>
                            <small>3.69 MB,
                                MD5 hash: <em>817150b7fc7b36ed7208704a9950d6fb,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.7.4.zip.md5">MD5 file</a></em>, released:
                                2012-02-22
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.7.3.zip">phpMyFAQ 2.7.3</a></strong><br>
                            <small>3.69 MB,
                                MD5 hash: <em>05ee024edfb6dc7459127fe2bd0b6080,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.7.3.zip.md5">MD5 file</a></em>, released:
                                2012-01-16
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.7.2.zip">phpMyFAQ 2.7.2</a></strong><br>
                            <small>3.69 MB,
                                MD5 hash: <em>dbb12a22a2ae0a9cefa0f45766e6f1e7,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.7.2.zip.md5">MD5 file</a></em>, released:
                                2011-12-31
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.7.1.zip">phpMyFAQ 2.7.1</a></strong><br>
                            <small>3.68 MB,
                                MD5 hash: <em>77bd451c5098be2fbe4557b98563c274,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.7.1.zip.md5">MD5 file</a></em>, released:
                                2011-10-25
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.7.0.zip">phpMyFAQ 2.7.0</a></strong><br>
                            <small>3.68 MB,
                                MD5 hash: <em>2a19da49afe32c92f207339ff66d673a,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.7.0.zip.md5">MD5 file</a></em>, released:
                                2011-09-30
                            </small>
                        </li>
                    </ul>

                    <h3><a id="2.6"></a>phpMyFAQ 2.6.x (2010 - 2011)</h3>
                    <ul>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.19.zip">phpMyFAQ 2.6.19</a></strong><br>
                            <small>3.49 MB,
                                MD5 hash: <em> b863e494d3dfa194b0861f40dc32de11,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.19.zip.md5">MD5 file</a></em>, released:
                                2011-10-25
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.18.zip">phpMyFAQ 2.6.18</a></strong><br>
                            <small>3.49 MB,
                                MD5 hash: <em>013b7ad5bc01ae516ac3902b989feb45,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.18.zip.md5">MD5 file</a></em>, released:
                                2011-09-28
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.17.zip">phpMyFAQ 2.6.17</a></strong><br>
                            <small>3.49 MB,
                                MD5 hash: <em>d269d654c7003624ce725f3614a1c58a,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.17.zip.md5">MD5 file</a></em>, released:
                                2011-06-08
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.16.zip">phpMyFAQ 2.6.16</a></strong><br>
                            <small>3.49 MB,
                                MD5 hash: <em>fea2f99426f520d7d3a6dd56c3a4b949,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.16.zip.md5">MD5 file</a></em>, released:
                                2011-05-31
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.15.zip">phpMyFAQ 2.6.15</a></strong><br>
                            <small>3.49 MB,
                                MD5 hash: <em>800330898eed8e1b730f9f4ff8302e27,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.15.zip.md5">MD5 file</a></em>, released:
                                2011-02-23
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.14.zip">phpMyFAQ 2.6.14</a></strong><br>
                            <small>3.48 MB,
                                MD5 hash: <em>33d7acc93dbc3ecf685a2a34038ece3a,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.14.zip.md5">MD5 file</a></em>, released:
                                2011-01-24
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.13.zip">phpMyFAQ 2.6.13</a></strong><br>
                            <small>3.48 MB,
                                MD5 hash: <em>8dd926eb938cd864a95e75abdfd6aa37,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.13.zip.md5">MD5 file</a></em>, released:
                                2010-12-15
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.12.zip">phpMyFAQ 2.6.12</a></strong><br>
                            <small>3.48 MB,
                                MD5 hash: <em>bdcf1cab6495c110a14d0ff16f9c833f,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.12.zip.md5">MD5 file</a></em>, released:
                                2010-12-13
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.11.zip">phpMyFAQ 2.6.11</a></strong><br>
                            <small>3.47 MB,
                                MD5 hash: <em>f176336fcba2d67e2c000bdb5438c4aa,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.11.zip.md5">MD5 file</a></em>, released:
                                2010-11-03
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.10.zip">phpMyFAQ 2.6.10</a></strong><br>
                            <small>3.47 MB,
                                MD5 hash: <em>7432f0c803b5d731cefc0f64e619e142,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.10.zip.md5">MD5 file</a></em>, released:
                                2010-11-02
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.9.zip">phpMyFAQ 2.6.9</a></strong><br>
                            <small>3.47 MB,
                                MD5 hash: <em>ed4548a9cec3719e9e911a656ac1e33c,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.9.zip.md5">MD5 file</a></em>, released:
                                2010-09-28
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.8.zip">phpMyFAQ 2.6.8</a></strong><br>
                            <small>3.45 MB,
                                MD5 hash: <em>1551777e40798b5f25941c946da727df,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.8.zip.md5">MD5 file</a></em>, released:
                                2010-08-31
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.7.zip">phpMyFAQ 2.6.7</a></strong><br>
                            <small>3.42 MB,
                                MD5 hash: <em>287b487d6ad3fb1f560ce9e418984f10,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.7.zip.md5">MD5 file</a></em>, released:
                                2010-07-29
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.6.zip">phpMyFAQ 2.6.6</a></strong><br>
                            <small>3.41 MB,
                                MD5 hash: <em>14ea03e4df257a5918950e8cc97ecd9a,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.6.zip.md5">MD5 file</a></em>, released:
                                2010-06-21
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.4.zip">phpMyFAQ 2.6.4</a></strong><br>
                            <small>3.34 MB,
                                MD5 hash: <em>30b17c930a7770d51ac3553d49e94870,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.4.zip.md5">MD5 file</a></em>, released:
                                2010-04-18
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.3.zip">phpMyFAQ 2.6.3</a></strong><br>
                            <small>3.33 MB,
                                MD5 hash: <em>e23fd54e171047e7cab0eded6c04d7ae,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.3.zip.md5">MD5 file</a></em>, released:
                                2010-03-03
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.2.zip">phpMyFAQ 2.6.2</a></strong><br>
                            <small>3.33 MB,
                                MD5 hash: <em>b6baebf811a1e79063560bb0cc2fa385,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.2.zip.md5">MD5 file</a></em>, released:
                                2010-02-01
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.1.zip">phpMyFAQ 2.6.1</a></strong><br>
                            <small>4.61 MB,
                                MD5 hash: <em>9bad07dcecb149978ed010c703cf92f6,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.1.zip.md5">MD5 file</a></em>, released:
                                2010-01-23
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.0.zip">phpMyFAQ 2.6.0</a></strong><br>
                            <small>4.57 MB,
                                MD5 hash: <em>946b52b1532deedfea4518b99488dcdc,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.6.0.zip.md5">MD5 file</a></em>, released:
                                2010-01-11
                            </small>
                        </li>
                    </ul>

                    <h3><a id="2.5"></a>phpMyFAQ 2.5.x (2009 - 2010)</h3>
                    <ul>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.5.7.zip">phpMyFAQ 2.5.7</a></strong><br>
                            <small>2.54 MB,
                                MD5 hash: <em>f36705d2ee3bcdb4ebd7c23ba93d9dfc,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.5.7.zip.md5">MD5 file</a></em>, released:
                                2010-01-19
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.5.6.zip">phpMyFAQ 2.5.6</a></strong><br>
                            <small>2.53 MB,
                                MD5 hash: <em>9480f60424c153deeb8fc055f9502871,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.5.6.zip.md5">MD5 file</a></em>, released:
                                2009-12-22
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.5.5.zip">phpMyFAQ 2.5.5</a></strong><br>
                            <small>2.51 MB,
                                MD5 hash: <em>9a867c358c42a02ddc8611ca92b76fc7,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.5.5.zip.md5">MD5 file</a></em>, released:
                                2009-12-01
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.5.4.zip">phpMyFAQ 2.5.4</a></strong><br>
                            <small>2.51 MB,
                                MD5 hash: <em>6a4edf676c61111ee00d56123c1ac982,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.5.4.zip.md5">MD5 file</a></em>, released:
                                2009-11-10
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.5.3.zip">phpMyFAQ 2.5.3</a></strong><br>
                            <small>2.51 MB,
                                MD5 hash: <em>f1a1aae41f8c44064a7c64689f928f36,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.5.3.zip.md5">MD5 file</a></em>, released:
                                2009-10-19
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.5.2.zip">phpMyFAQ 2.5.2</a></strong><br>
                            <small>2.54 MB,
                                MD5 hash: <em>820cbd3e260b98af775440d3b19ed963,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.5.2.zip.md5">MD5 file</a></em>, released:
                                2009-09-01
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.5.1.zip">phpMyFAQ 2.5.1</a></strong><br>
                            <small>2.53 MB,
                                MD5 hash: <em>66365ffdcc98d247e1a5f103362352ab,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.5.1.zip.md5">MD5 file</a></em>, released:
                                2009-08-10
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.5.0.zip">phpMyFAQ 2.5.0</a></strong><br>
                            <small>2.52 MB,
                                MD5 hash: <em>b1666b7ff7136fff2c6d0eecbc6caf79,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.5.0.zip.md5">MD5 file</a></em>, released:
                                2009-07-21
                            </small>
                        </li>
                    </ul>

                    <h3><a id="2.0"></a>phpMyFAQ 2.0.x (2007 - 2009)</h3>
                    <ul>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.17.zip">phpMyFAQ 2.0.17</a></strong><br>
                            <small>1.62 MB,
                                MD5 hash: <em>e2d115224fe5339f2f919d9a774c6a86,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.17.zip.md5">MD5 file</a></em>, released:
                                2009-09-01
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.16.zip">phpMyFAQ 2.0.16</a></strong><br>
                            <small>1.62 MB,
                                MD5 hash: <em>e3eb35a4d651b1dac320dad2388487e6,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.16.zip.md5">MD5 file</a></em>, released:
                                2009-08-10
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.15.zip">phpMyFAQ 2.0.15</a></strong><br>
                            <small>1.61 MB,
                                MD5 hash: <em>d372fff102af0597d1a54c591a71e27a,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.15.zip.md5">MD5 file</a></em>, released:
                                2009-06-02
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.14.zip">phpMyFAQ 2.0.14</a></strong><br>
                            <small>1.6 MB,
                                MD5 hash: <em>a365a23357ee90b8bd295f6eafb1ca64,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.14.zip.md5">MD5 file</a></em>, released:
                                2009-05-21
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.13.zip">phpMyFAQ 2.0.13</a></strong><br>
                            <small>1.6 MB,
                                MD5 hash: <em>9ea6da8df9f98e6346d3b7e673ba6ae0,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.13.zip.md5">MD5 file</a></em>, released:
                                2009-04-20
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.12.zip">phpMyFAQ 2.0.12</a></strong><br>
                            <small>1.6 MB,
                                MD5 hash: <em>92973a7e4ccb9f7c5b9b1f5cea9f9440,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.12.zip.md5">MD5 file</a></em>, released:
                                2009-02-17
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.11.zip">phpMyFAQ 2.0.11</a></strong><br>
                            <small>1.6 MB,
                                MD5 hash: <em>209720aecbcc77884b3caad68544ffd2,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.11.zip.md5">MD5 file</a></em>, released:
                                2009-01-22
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.10.zip">phpMyFAQ 2.0.10</a></strong><br>
                            <small>1.6 MB,
                                MD5 hash: <em>9700326948fb6011a63a3f130769f031,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.10.zip.md5">MD5 file</a></em>, released:
                                2008-11-26
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.9.zip">phpMyFAQ 2.0.9</a></strong><br>
                            <small>1.6 MB,
                                MD5 hash: <em>b2e168e19305c08c5f81ba0941d89922,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.9.zip.md5">MD5 file</a></em>, released:
                                2008-10-17
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.8.zip">phpMyFAQ 2.0.8</a></strong><br>
                            <small>1.6 MB,
                                MD5 hash: <em>a79257de708c451689b627bbd77a5683,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.8.zip.md5">MD5 file</a></em>, released:
                                2008-09-11
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.7.zip">phpMyFAQ 2.0.7</a></strong><br>
                            <small>1.643kB<br>
                                MD5 hash: <em>2f2f51ed114bf512e57fc76b7ecbd39c,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.7.zip.md5">MD5 file</a></em>, released:
                                2008-05-12
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.6.zip">phpMyFAQ 2.0.6</a></strong><br>
                            <small>1.617kB<br>
                                MD5 hash: <em>95fe3341e30e611f2a636b96137bd0e1,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.6.zip.md5">MD5 file</a></em>, released:
                                2008-02-24
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.5.zip">phpMyFAQ 2.0.5</a></strong><br>
                            <small>1.617kB<br>
                                MD5 hash: <em>8b5eb90e9d397e2aff8dcd66a5827d94,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.5.zip.md5">MD5 file</a></em>, released:
                                2008-01-20
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.4.zip">phpMyFAQ 2.0.4</a></strong><br>
                            <small>1.617kB<br>
                                MD5 hash: <em>d4813591a79e86cced8f733a4bc3ebb5,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.4.zip.md5">MD5 file</a></em>, released:
                                2007-11-18
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.3.zip">phpMyFAQ 2.0.3</a></strong><br>
                            <small>1.603kB<br>
                                MD5 hash: <em>271b7538276f2757df67e3fee1566d8c,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.3.zip.md5">MD5 file</a></em>, released:
                                2007-08-18
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.2.zip">phpMyFAQ 2.0.2</a></strong><br>
                            <small>1.603kB<br>
                                MD5 hash: <em>bce9c2ef1fd10f4302e4ae59c84fa103,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.2.zip.md5">MD5 file</a></em>, released:
                                2007-07-08
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.1.zip">phpMyFAQ 2.0.1</a></strong><br>
                            <small>1.595kB<br>
                                MD5 hash: <em>7d8e394e97899c0117d91f921754e8bd,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.1.zip.md5">MD5 file</a></em>, released:
                                2007-06-01
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.0.zip">phpMyFAQ 2.0.0</a></strong><br>
                            <small>1.595kB<br>
                                MD5 hash: <em>2ced86fc613cecdb175518cca65006f3,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-2.0.0.zip.md5">MD5 file</a></em>, released:
                                2007-05-22
                            </small>
                        </li>
                    </ul>

                    <h3><a id="1.6"></a>phpMyFAQ 1.6.x (2006 - 2007)</h3>
                    <ul>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.6.12.zip">phpMyFAQ 1.6.12</a></strong><br>
                            <small>1.007kB<br>
                                MD5 hash: <em>6f6bcc4d22b207d6b4e54e54b8997b06,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-1.6.12.zip.md5">MD5 file</a></em>, released:
                                2007-05-13
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.6.11.zip">phpMyFAQ 1.6.11</a></strong><br>
                            <small>1.007kB<br>
                                MD5 hash: <em>464c28d02f8d835e726306ba118dd924,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-1.6.11.zip.md5">MD5 file</a></em>, released:
                                2007-03-31
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.6.10&amp;version=full.zip">phpMyFAQ 1.6.10</a></strong><br>
                            <small>1.005kB<br>
                                MD5 hash: <em>6b1838073f85b69e6449a23724303a47,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-1.6.10.full.zip.md5">MD5 file</a></em>, released:
                                2007-02-18
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.6.9&amp;version=full.zip">phpMyFAQ 1.6.9</a></strong><br>
                            <small>1.004kB<br>
                                MD5 hash: <em>a189e725a208cfab2d1ff35afa8b3639,
                                    download <a href="http://download.phpmyfaq.de/phpMyFAQ-1.6.9.full.zip.md5">MD5 file</a></em>, released:
                                2007-01-28
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.6.8&amp;version=full.zip">phpMyFAQ 1.6.8</a></strong><br>
                            <small>982kB<br>
                                MD5 hash: <em>eea9e0a99d4f6d99ae448224966b56ea</em>, released: 2006-12-15
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.6.7&amp;version=full.zip">phpMyFAQ 1.6.7</a></strong><br>
                            <small>983kB<br>
                                MD5 hash: <em>57f5195ffd9192db4d22274d17d72a6d</em>, released: 2006-11-27
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.6.6&amp;version=full.zip">phpMyFAQ 1.6.6</a></strong><br>
                            <small>972kB<br>
                                MD5 hash: <em>e5397ac3b3464397994d4306a7fc6006</em>, released: 2006-10-28
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.6.5&amp;version=full.zip">phpMyFAQ 1.6.5</a></strong><br>
                            <small>971kB<br>
                                MD5 hash: <em>90d453f956f64843b7bbbce0a2c17c38</em>, released: 2006-09-21
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.6.4&amp;version=full.zip">phpMyFAQ 1.6.4</a></strong><br>
                            <small>946kB<br>
                                MD5 hash: <em>2188a72f54cb811b42e69628f7a75d56</em>, released: 2006-08-19
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.6.3&amp;version=full.zip">phpMyFAQ 1.6.3</a></strong><br>
                            <small>943kB<br>
                                MD5 hash: <em>5dc4c347dc9f44b75aec46b6c1a8bb1f</em>, released: 2006-07-16
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.6.2&amp;version=full.zip">phpMyFAQ 1.6.2</a></strong><br>
                            <small>920kB<br>
                                MD5 hash: <em>98e01644fe39651e37b444eb8e3d3537</em>, released: 2006-06-17
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.6.1&amp;version=full.zip">phpMyFAQ 1.6.1</a></strong><br>
                            <small>918kB<br>
                                MD5 hash: <em>5cfcfe17117381913b106b7ad0a717c4</em>, released: 2006-05-13
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.6.0&amp;version=full.zip">phpMyFAQ 1.6.0</a></strong><br>
                            <small>913kB<br>
                                MD5 hash: <em>a88a2df9485dcc1bb0e194aa3401c955</em>, released: 2006-04-21
                            </small>
                        </li>
                    </ul>

                    <h3><a id="1.5"></a>phpMyFAQ 1.5.x (2005 - 2006)</h3>
                    <ul>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.5.9&amp;version=full.zip">phpMyFAQ 1.5.9</a></strong><br>
                            <small>809 kB<br>
                                MD5 hash: <em>97028b4a7b61ae72039c02ffd4f64448</em>, released: 2006-04-21
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.5.8&amp;version=full.zip">phpMyFAQ 1.5.8</a></strong><br>
                            <small>809 kB<br>
                                MD5 hash: <em>a963248bd2e549afdc7c5669e9c23407</em>, released: 2006-04-09
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.5.7&amp;version=full.zip">phpMyFAQ 1.5.7</a></strong><br>
                            <small>808 kB<br>
                                MD5 hash: <em>72820988cdb4aa1344f5992437b5989b</em>, released: 2006-03-02
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.5.6&amp;version=full.zip">phpMyFAQ 1.5.6</a></strong><br>
                            <small>808 kB<br>
                                MD5 hash: <em>9ce04cf82c8f020d11bcd688a5628cb6</em>, released: 2006-01-27
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.5.5&amp;version=full.zip">phpMyFAQ 1.5.5</a></strong><br>
                            <small>799 kB<br>
                                MD5 hash: <em>f7c1a502aa6a11edd73f3cc4fa874d87</em>, released: 2005-12-19
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.5.4&amp;version=full.zip">phpMyFAQ 1.5.4</a></strong><br>
                            <small>794 kB<br>
                                MD5 hash: <em>ec463ab8444f137f5ffdad6c1993a700</em>, released: 2005-11-18
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.5.3&amp;version=full">phpMyFAQ 1.5.3</a></strong><br>
                            <small>835 kB<br>
                                MD5 hash: <em>2bd38054d7e4b84b3b96dbe35ef6bc82</em>, released: 2005-10-15
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.5.2&amp;version=full">phpMyFAQ 1.5.2</a></strong><br>
                            <small>810 kB<br>
                                MD5 hash: <em>70c9b77650587b3024e982037a1fd943</em>, released: 2005-09-23
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.5.1&amp;version=full">phpMyFAQ 1.5.1</a></strong><br>
                            <small>805 kB<br>
                                MD5 hash: <em>ad88620831fd632fabcdac7ecd92520a</em>, released: 2005-09-19
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.5.0&amp;version=full">phpMyFAQ 1.5.0</a></strong><br>
                            <small>792 kB<br>
                                MD5 hash: <em>565db91e0c6ddace6c6d696bc08a7aa7</em>, released: 2005-08-20
                            </small>
                        </li>
                    </ul>

                    <h3><a id="1.4"></a>phpMyFAQ 1.4.x (2004 - 2005)</h3>
                    <ul>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.4.11&amp;version=full">phpMyFAQ 1.4.11</a></strong><br>
                            <small>711 kB<br>
                                MD5 hash: <em>7ffd3a088e072df812cdd4f904d4b32a</em>, released: 2005-08-15
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.4.10&amp;version=full">phpMyFAQ 1.4.10</a></strong><br>
                            <small>714 kB<br>
                                MD5 hash: <em>4e7fadfe9c316ce39eacc2027d03bd60</em>, released: 2005-08-01
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.4.9&amp;version=full">phpMyFAQ 1.4.9</a></strong><br>
                            <small>714 kB<br>
                                MD5 hash: <em>1d383a35f2df8b9d7edd2359ca738694</em>, released: 2005-06-29
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.4.8&amp;version=full">phpMyFAQ 1.4.8</a></strong><br>
                            <small>720 kB<br>
                                MD5 hash: <em>8bedaf800505a784de24de9b70acdcd7</em>, released: 2005-04-11
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.4.7&amp;version=full">phpMyFAQ 1.4.7</a></strong><br>
                            <small>705 kB<br>
                                MD5 hash: <em>bd8c96b27d813eaf3829923a1f7b713f</em>, released: 2005-03-06
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.4.6&amp;version=full">phpMyFAQ 1.4.6</a></strong><br>
                            <small>704 kB<br>
                                MD5 hash: <em>ec998192556942a68c966b3994690d25</em>, released: 2005-02-20
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.4.5&amp;version=full">phpMyFAQ 1.4.5</a></strong><br>
                            <small>704 kB<br>
                                MD5 hash: <em>22fd559507a88321ac597b3c646c967a</em>, released: 2005-01-22
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.4.4&amp;version=full">phpMyFAQ 1.4.4</a></strong><br>
                            <small>713 kB<br>
                                MD5 hash: <em>c37a6db4fe701b3d7ceee395c38645ef</em>, released: 2004-12-06
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.4.3&amp;version=full">phpMyFAQ 1.4.3</a></strong><br>
                            <small>703 kB<br>
                                MD5 hash: <em>c6730da1e779414eab016580a92bbbba</em>, released: 2004-11-05
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.4.2&amp;version=full">phpMyFAQ 1.4.2</a></strong><br>
                            <small>687 kB<br>
                                MD5 hash: <em>7f6b962de43096427cda444eade21d95</em>, released: 2004-10-10
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.4.1&amp;version=full">phpMyFAQ 1.4.1</a></strong><br>
                            <small>666 kB<br>
                                MD5 hash: <em>8775f6becbfbbdb54d0ee37c91a8e11c</em>, released: 2004-08-16
                            </small>
                        </li>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.4.0&amp;version=full">phpMyFAQ 1.4.0a</a></strong><br>
                            <small>632 kB , released: 2004-07-27</small>
                        </li>
                    </ul>

                    <h3><a id="1.3"></a>phpMyFAQ 1.3.x (2003 - 2004)</h3>
                    <ul>
                        <li><strong><a href="http://download.phpmyfaq.de/phpMyFAQ-1.3.14&amp;version=full">phpMyFAQ 1.3.14</a></strong><br>
                            <small>381 kB, released: 2004-06-09</small>
                        </li>
                        <li><b><a href="http://download.phpmyfaq.de/phpMyFAQ-1.3.13&amp;version=full">phpMyFAQ 1.3.13</a></b><br>
                            <small>364 kB, released: 2004-05-18</small>
                        </li>
                        <li><b><a href="http://download.phpmyfaq.de/phpMyFAQ-1.3.12&amp;version=full">phpMyFAQ 1.3.12</a></b><br>
                            <small>364 kB, released: 2004-04-21</small>
                        </li>
                        <li><b><a href="http://download.phpmyfaq.de/phpMyFAQ-1.3.11&amp;version=full">phpMyFAQ 1.3.11a</a></b><br>
                            <small>355 kB, released: 2004-04-13</small>
                        </li>
                        <li><b><a href="http://download.phpmyfaq.de/phpMyFAQ-1.3.10&amp;version=full">phpMyFAQ 1.3.10</a></b><br>
                            <small>338 kB, released: 2004-02-12</small>
                        </li>
                        <li><b><a href="http://download.phpmyfaq.de/phpMyFAQ-1.3.9&amp;version=full">phpMyFAQ 1.3.9pl1</a></b><br>
                            <small>316 kB, released: 2004-01-02</small>
                        </li>
                        <li><b><a href="http://download.phpmyfaq.de/phpMyFAQ-1.3.8&amp;version=full">phpMyFAQ 1.3.8</a></b><br>
                            <small>292 kB, released: 2003-10-23</small>
                        </li>
                        <li><b><a href="http://download.phpmyfaq.de/phpMyFAQ-1.3.7&amp;version=full">phpMyFAQ 1.3.7</a></b><br>
                            <small>282 kB, released: 2003-09-19</small>
                        </li>
                        <li><b><a href="http://download.phpmyfaq.de/phpMyFAQ-1.3.6&amp;version=full">phpMyFAQ 1.3.6</a></b><br>
                            <small>281 kB, released: 2003-09-01</small>
                        </li>
                        <li><b><a href="http://download.phpmyfaq.de/phpMyFAQ-1.3.5&amp;version=full">phpMyFAQ 1.3.5</a></b><br>
                            <small>281 kB, released: 2003-08-31</small>
                        </li>
                        <li><b><a href="http://download.phpmyfaq.de/phpMyFAQ-1.3.4&amp;version=full">phpMyFAQ 1.3.4</a></b><br>
                            <small>272 kB, released: 2003-08-03</small>
                        </li>
                        <li><b><a href="http://download.phpmyfaq.de/phpMyFAQ-1.3.3&amp;version=full">phpMyFAQ 1.3.3pl1</a></b><br>
                            <small>261 kB, released: 2003-06-27</small>
                        </li>
                        <li><b><a href="http://download.phpmyfaq.de/phpMyFAQ-1.3.2&amp;version=full">phpMyFAQ 1.3.2</a></b><br>
                            <small>242 kB, released: 2003-05-26</small>
                        </li>
                        <li><b><a href="http://download.phpmyfaq.de/phpMyFAQ-1.3.1&amp;version=full">phpMyFAQ 1.3.1</a></b><br>
                            <small>233 kB, released: 2003-05-02</small>
                        </li>
                        <li><b><a href="http://download.phpmyfaq.de/phpMyFAQ-1.3.0&amp;version=full">phpMyFAQ 1.3.0</a></b><br>
                            <small>233 kB, released: 2003-04-17</small>
                        </li>
                    </ul>

                    <h3><a id="1.2"></a>phpMyFAQ 1.2.x (2002 - 2003)</h3>
                    <ul>
                        <li><b><a href="http://download.phpmyfaq.de/phpMyFAQ-1.2.5b&amp;version=full">phpMyFAQ 1.2.5b</a></b><br>
                            <small>94 kB, released: 2003-03-24</small>
                        </li>
                        <li><b><a href="http://download.phpmyfaq.de/phpMyFAQ-1.2.5a&amp;version=full">phpMyFAQ 1.2.5a</a></b><br>
                            <small>97 kB, released: 2003-03-04</small>
                        </li>
                        <li><b><a href="http://download.phpmyfaq.de/phpMyFAQ-1.2.5&amp;version=full">phpMyFAQ 1.2.5</a></b><br>
                            <small>94 kB, released: 2003-02-02</small>
                        </li>
                        <li><b>phpMyFAQ 1.2.4</b><br>
                            <small>99 kB, released: 2003-01-31</small>
                        </li>
                        <li><b><a href="http://download.phpmyfaq.de/phpMyFAQ-1.2.3&amp;version=full">phpMyFAQ 1.2.3</a></b><br>
                            <small>101 kB, released: 2002-11-30</small>
                        </li>
                        <li><b><a href="http://download.phpmyfaq.de/phpMyFAQ-1.2.2&amp;version=full">phpMyFAQ 1.2.2</a></b><br>
                            <small>102 kB, released: 2002-11-04</small>
                        </li>
                        <li><b><a href="http://download.phpmyfaq.de/phpMyFAQ-1.2.1&amp;version=full">phpMyFAQ 1.2.1</a></b><br>
                            <small>101 kB, released: 2002-10-14</small>
                        </li>
                        <li><b><a href="http://download.phpmyfaq.de/phpMyFAQ-1.2.0&amp;version=full">phpMyFAQ 1.2.0</a></b><br>
                            <small>101 kB, released: 2002-10-09</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

{{> footer ~}}

{{> scripts ~}}
