---
title: Requirements
description: phpMyFAQ needs to be installed on a web server with PHP or HHVM, a database like MySQL or PostgreSQL
canonical: requirements
layout: none
---
{{> head ~}}

{{> header ~}}

    <section class="requirements section">
        <div class="container">
            <h1>{{page.title}}</h1>
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        phpMyFAQ needs to be installed on a web server. FAQ administrators and users have to use a web
                        browser to access a web-based GUI to read and add FAQs. phpMyFAQ administrators require access
                        to the files on the server to update templates and perform upgrades or maintenance.
                    </p>
                    <ul type="square">
                        <li>
                            <strong><a rel="nofollow" target="_blank" href="http://www.php.net">PHP 5.5.0+</a></strong>
                            or
                            <strong><a rel="nofollow" target="_blank" href="http://www.php.net">PHP 7.x</a></strong>
                            <ul type="circle">
                                <li>
                                    We recommend using a PHP accelerator or Opcode cache like Zend OpCache
                                </li>
                                <li>
                                    Allocate at least 64MB of memory to each PHP process
                                </li>
                                <li>
                                    Required extensions: GD, JSON, Session, MBString, Filter, XMLWriter, SPL
                                </li>
                                <li>
                                    Recommended configuration:
<pre><code class="ini">register_globals = off
safe_mode = off (recommended)
memory_limit = 64M</code></pre>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Database server, e.g.</strong>
                            <ul>
                                <li>
                                    <a rel="nofollow" target="_blank" href="http://www.mysql.com">MySQL</a> 5.x or later
                                    with ext/mysqli extension
                                </li>
                                <li>
                                    <a rel="nofollow" target="_blank" href="http://www.postgresql.org">PostgreSQL</a>
                                    8.x or later
                                </li>
                                <li>
                                    <a rel="nofollow" target="_blank" href="http://www.microsoft.com/sql/">Microsoft SQL Server</a>
                                    2012 or later
                                </li>
                                <li>
                                    <a rel="nofollow" target="_blank" href="http://www.sqlite.org">SQLite3</a>
                                </li>
                                <li>
                                    <a rel="nofollow" target="_blank" href="http://mariadb.org/">MariaDB</a> 5.x with
                                    ext/mysqli extension
                                </li>
                                <li>
                                    additionally <a rel="nofollow" target="_blank" href="https://elastic.co">Elasticsearch</a>
                                    (2.x  with phpMyFAQ 2.9, 5.x with phpMyFAQ 3.0 )
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Webserver, e.g.</strong>
                            <ul>
                                <li>
                                    <a rel="nofollow" target="_blank" href="http://httpd.apache.org">Apache</a>
                                    2.2.x / 2.4.x with mod_rewrite and "AllowOverride All" set
                                </li>
                                <li>
                                    <a rel="nofollow" target="_blank" href="http://www.microsoft.com/">IIS</a> 7.0+
                                </li>
                                <li>
                                    <a rel="nofollow" target="_blank" href="http://www.nginx.net">nginx</a> 1.0+
                                </li>
                                <li>
                                    <a rel="nofollow" target="_blank" href="http://www.lighttpd.net">lighttpd</a> 1.4+
                                </li>
                            </ul>
                            <p>
                                We recommend enabling content compression to speed up the delivery of HTML, CSS and
                                JavaScript.
                            </p>
                            <p>
                                If you're running Apache von Windows, you may have to increase of the Apache's stack
                                size:
                            </p>
<pre><code class="apache">&lt;IfModule mpm_winnt_module&gt;
    ThreadStackSize 8388608
&lt;/IfModule&gt;</code></pre>
                            <p>
                            You should add the code to the <strong>httpd-mpm.conf</strong> file and enable that file in
                            </p>
                            <pre><code class="apache">Include conf/extra/httpd-mpm.conf</code></pre>
                        </li>
                        <li>
                            <strong>Operating system support</strong>
                            <ul>
                                <li>GNU/Linux</li>
                                <li>Microsoft Windows</li>
                                <li>OS X</li>
                                <li>FreeBSD</li>
                                <li>HP-UX</li>
                                <li>Solaris</li>
                                <li>AIX</li>
                                <li>Netware</li>
                            </ul></li>
                        <li>
                            <strong>Browser support</strong>
                            <ul>
                                <li>Mozilla Firefox</li>
                                <li>Google Chrome</li>
                                <li>Apple Safari</li>
                                <li>Opera</li>
                                <li>Microsoft Edge</li>
                                <li>Microsoft Internet Explorer 11.x</li>
                            </ul>
                        </li>
                    </ul>
                    <p>
                        You can only run phpMyFAQ successfully, when the PHP directive safe_mode is set to off, further
                        constraints affect the directives open_basedir and disable_functions, which can be set in the
                        central php.ini respectively.
                    </p>
                    <p>
                        In case PHP runs as module of the Apache, you will have to be able to do a chown on the files
                        before installation. The files and directories have to be owned by the Apache user.
                    </p>
                    <p>
                        We recommend using the free and open source <a rel="nofollow" href="http://www.suhosin.org">
                        Suhosin extension</a> for PHP from <a rel="nofollow" href="http://www.sektioneins.de/">
                        SektionEins GmbH</a> for additional protection and security.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <script src="assets/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

{{> footer ~}}

{{> scripts ~}}
