---
title: Security
canonical: security
layout: none
---
{{> head ~}}

{{> header ~}}

    <section class="security section">
        <div class="container">
            <h1>{{page.title}}</h1>
            <div class="row">
                <div class="col-xs-12">
                    <p>
                        We seriously take care about any security issues found in phpMyFAQ or bundled components. If you’ve
                        discovered a security vulnerability in phpMyFAQ, we appreciate your help in disclosing it to us in a
                        responsible manner.
                    </p>
                    <p>
                        Publicly disclosing a vulnerability can put the entire community at risk. If you’ve discovered a
                        security concern, please email us at <a href="mailto:security@phpmyfaq.de">security@phpmyfaq.de</a>.
                        We’ll work with you to make sure that we understand the scope of the issue, and that we fully address
                        your concern. We consider correspondence sent to <a href="mailto:security@phpmyfaq.de">security@phpmyfaq.de</a>
                        our highest priority, and work to address any issues that arise as quickly as possible.
                    </p>
                    <p>
                        Please act in good faith towards our users’ privacy and data during your disclosure. We won’t take
                        legal action against you or administrative action against your account if you act accordingly: White
                        hat researchers are always appreciated.
                    </p>
                    <p>
                        Here you can find our advisories:
                    </p>
                    <ul>

                    </ul>
                    <p>
                        We want to say a big thank you to <strong>Stefan Esser</strong> from <a rel="nofollow"
                        href="http://www.sektioneins.de">SektionEins GmbH</a> and <strong>Christopher Kunz</strong>
                        from the <a rel="nofollow" href="http://www.hardened-php.net">Hardened PHP team</a> and to
                        <strong>Johann-Peter Hartmann</strong> from <a rel="nofollow" href="http://www.mayflower.de">
                        Mayflower GmbH</a> and <a rel="nofollow" href="http://www.schlueters.de">Johannes Schlüter</a>
                        from the <a rel="nofollow" href="http://www.php.net">PHP Development team</a> for auditing
                        phpMyFAQ.
                    </p>
                    <p>
                        For further information and in case of questions, please contact the <a href="/imprint">phpMyFAQ
                        Team</a>.
                    </p>
                </div>
            </div>
        </div>
    </section>

{{> footer ~}}

{{> scripts ~}}