---
title: Support and services
description: phpMyFAQ provides various resources to support: Forums, FAQs, Documentation and even paid support
canonical: support
layout: none
---
{{> head ~}}

{{> header ~}}

    <section class="support section">
        <div class="container">
            <h1>Support and services</h1>
            <p>
                Having installation problems? Is the database giving you trouble? Can't seem to login? Have a question
                about how to use phpMyFAQ? You will find various resources where you can find help below.
            </p>

            <h2>Free support resources</h2>

            <ul class="list-unstyled">
                <li>
                    <h3>
                        <i class="fa fa-caret-right"></i>
                        <a href="http://forum.phpmyfaq.de/">Support board</a>
                    </h3>
                    The home of our community: general discussions, help on configuration issue, proposals and themes
                </li>
                <li>
                    <h3>
                        <i class="fa fa-caret-right"></i>
                        <a href="/documentation">Documentation</a>
                    </h3>
                    The documentation about phpMyFAQ. We also provide old documentations.
                </li>
                <li>
                    <h3>
                        <i class="fa fa-caret-right"></i>
                        <a href="http://faq.phpmyfaq.de/">phpMyFAQ FAQ</a>
                    </h3>
                    Our own FAQ with frequently asked questions about phpMyFAQ
                </li>
                <li>
                    <h3>
                        <i class="fa fa-caret-right"></i>
                        <a href="/hosting">List of phpMyFAQ hosters</a>
                    </h3>
                    Still in need of a webhoster? These companies support phpMyFAQ if you order a hosting package.
                </li>
            </ul>

            <h2>Customizing / Paid support</h2>

            <p>
                <strong>
                    Preliminary Remark: This section deals about paid services. For free help please post your
                    request in the <a href="http://forum.phpmyfaq.de/">forum section</a>
                </strong>.
            </p>
            <p>
                Customization could mean:
            </p>
            <ul>
                <li>modifying the existing system according to your needs</li>
                <li>enhancing the system with new features</li>
                <li>adapting and integrating your existing website and applications</li>
            </ul>

            <p>
                Please send us an email to <a href="mailto:support@phpmyfaq.de">support@phpmyfaq.de</a> if you're interested.
            </p>
        </div>
    </section>

{{> footer ~}}

{{> scripts ~}}
