---
title: Themes
canonical: themes
layout: none
---
{{> head ~}}

{{> header ~}}

<section class="security section">
    <div class="container">
        <h1>{{page.title}}</h1>
        <div class="row">
            <div class="col-xs-12">
                <p>
                    Themes allow you to change the look and feel of your phpMyFAQ site. You can use themes contributed
                    by the phpMyFAQ Team, by others or create your own to share with the community. Contributed themes
                    are not part of any official release and may not have optimized code/functionality for your
                    purposes.
                </p>

                <h2>phpMyFAQ 2.8</h2>
                <ul>
                    <li>
                        <a href="https://forum.phpmyfaq.de/download/file.php?id=494">Spacelab</a><br>
                        Based on Spacelab from <a rel="nofollow" href="http://bootswatch.com/2/spacelab/">
                        http://bootswatch.com/2/spacelab/</a>
                    </li>
                    <li>
                        <a href="https://forum.phpmyfaq.de/download/file.php?id=495">Amelia</a><br>
                        Based on Amelia from <a rel="nofollow" href="http://bootswatch.com/2/amelia/">
                        http://bootswatch.com/2/amelia/</a>
                    </li>
                </ul>
                <h2>phpMyFAQ 2.7</h2>
                <ul>
                    <li>
                        <a href="https://github.com/phpMyFAQ/prospero-bootstrap">prospero-bootstrap</a><br>
                        Bootstrap 2.x based layout for phpMyFAQ 2.7
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

{{> footer ~}}

{{> scripts ~}}
