---
title: Page not found ☹
canonical: errors/404
robots: noindex,follow
layout: none
---
{{> head ~}}

{{> header ~}}

    <section class="security section">
        <div class="container">
            <h1>{{page.title}}</h1>
            <div class="row">
                <div class="col-xs-12">
                    <p>
                        The page you are looking for was not found.
                    </p>
                    <p>
                        Do you look for:
                    </p>
                    <ul>
                        <li><a href="/documentation">Documentation of phpMyFAQ</a></li>
                        <li><a href="/download">phpMyFAQ downloads</a></li>
                        <li><a href="/support">Support</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

{{> footer ~}}

{{> scripts ~}}
