    <section class="top-footer has-pattern">
        <div class="container">
          <h2 class="visuallyhidden">Other interesting links</h2>
            <div class="row">
                <div class="col-sm-4">
                    <h3>Getting started</h3>
                    <ul>
                        <li>
                            <a href="/requirements">Requirements</a>
                        </li>
                        <li>
                            <a href="/download">Download</a>
                        </li>
                        <li>
                            <a href="/changelog">Changelog</a>
                        </li>
                        <li>
                            <a href="/advisories">Security Advisories</a>
                        </li>
                        <li>
                            <a href="/translations">Translations</a>
                        </li>
                        <li>
                            <a href="/themes">Themes</a>
                        </li>
                        <li>
                            <a href="/contribute">Contribute</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h3>Resources</h3>
                    <ul>
                        <li>
                            <a href="http://devblog.phpmyfaq.de/">Development Blog</a>
                        </li>
                        <li>
                            <a href="/news/">News archive</a>
                        </li>
                        <li>
                            <a rel="nofollow" target="_blank" href="https://raw.github.com/thorsten/phpMyFAQ/master/LICENSE">
                                License
                            </a>
                        </li>
                        <li>
                            <a href="/donations">Donations</a>
                        </li>
                        <li>
                            <a href="/references">Who uses phpMyFAQ?</a>
                        </li>
                        <li>
                            <a href="/10years">10 years phpMyFAQ</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h3>Misc</h3>
                    <ul>
                        <li>
                            <a href="/thankyou">Thank you!</a>
                        </li>
                        <li>
                            <a href="/terms">Terms of Service</a>
                        </li>
                        <li>
                            <a href="/imprint">Imprint</a>
                        </li>
                        <li>
                            <a rel="nofollow" target="_blank" href="http://www.amazon.de/exec/obidos/registry/UQQJEX7BCHPZ/">
                                Thorsten's wishlist
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" target="_blank" href="http://www.amazon.de/registry/wishlist/FGS7DWAJIRLD">
                                Florian's wishlist
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" target="_blank" href="http://www.jetbrains.com/phpstorm/">Developed with PhpStorm</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="info text-center">
                    <h3 class="sub-title">Get Connected</h3>
                    <ul class="social-icons list-inline">
                        <li>
                            <a rel="nofollow" target="_blank" href="https://github.com/thorsten/phpMyFAQ">
                                <span class="visuallyhidden">phpMyFAQ at Github</span>
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" target="_blank" href="https://twitter.com/phpMyFAQ">
                                <span class="visuallyhidden">phpMyFAQ at Twitter</span>
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" target="_blank" href="https://www.facebook.com/pages/PhpMyFAQ/175338362498521">
                                <span class="visuallyhidden">phpMyFAQ at Facebook</span>
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" target="_blank" href="https://plus.google.com/+PhpmyfaqDe/">
                                <span class="visuallyhidden">phpMyFAQ at Google+</span>
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li class="last">
                            <a rel="nofollow" href="mailto:thorsten@phpmyfaq.de">
                                <span class="visuallyhidden">Mail me!</span>
                                <i class="fa fa-envelope"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>



    <footer class="footer">
        <div class="container text-center">
            <small class="copyright">
                &copy; 2001-<script>document.write(new Date().getFullYear());</script> |
                Developed with <i class="fa fa-heart"></i> by Thorsten Rinne and the phpMyFAQ Team |
                All rights reserved.
            </small>
        </div>
    </footer>
