---
title: Documentation
description: Documentation for phpMyFAQ administrator, end-users and developers for current and out-dated phpMyFAQ versions.
canonical: docs/
layout: none
---
{{> head ~}}

{{> header ~}}

    <section class="documentation section">
        <div class="container">
            <h1>{{page.title}}</h1>
            <div class="row">
                <div class="col-lg-12">
                    <h2>General Documentation</h2>
                    <ul class="list-unstyled">
                        <li>
                            <h3 class="h4">
                                <i class="fa fa-caret-right"></i>
                                <a href="/docs/2.8">phpMyFAQ 2.8 for admins and end-users</a>
                            </h3>
                            This guide contains detailed documentation for those using phpMyFAQ, whether they be
                            administrators or end-users. Licensed under the terms of the MPL 2.0.
                        </li>
                    </ul>

                    <h2>Developer documentation</h2>

                    <ul class="list-unstyled">
                        <li>
                            <h3 class="h4">
                                <i class="fa fa-caret-right"></i>
                                <a href="/docs/standards">Coding standards</a>
                            </h3>
                            Coding styles for PHP code, HTML, and LESS/CSS. Please take care you follow these coding
                            standards.
                        </li>
                        <li>
                            <h3 class="h4">
                                <i class="fa fa-caret-right"></i>
                                Data model
                            </h3>
                        </li>
                    </ul>

                    <h2>Out-dated documentations</h2>
                    <ul class="list-unstyled">
                        <li>
                            <h3 class="h4">
                                <i class="fa fa-caret-right"></i>
                                <a href="/docs/2.7">phpMyFAQ 2.7 for admins and end-users</a>
                            </h3>
                            Works with PHP 5.2.3+, with UTF-8 support, please don't use it anymore in production.
                            Licensed under the terms of the MPL 1.1.
                        </li>
                        <li>
                            <h3 class="h4">
                                <i class="fa fa-caret-right"></i>
                                <a href="/docs/2.6">phpMyFAQ 2.6 for admins and end-users</a>
                            </h3>
                            Works with PHP 5.2.3+, with UTF-8 support, please don't use it anymore in production.
                            Licensed under the terms of the MPL 1.1.
                        </li>
                        <li>
                            <h3 class="h4">
                                <i class="fa fa-caret-right"></i>
                                <a href="/docs/2.5">phpMyFAQ 2.5 for admins and end-users</a>
                            </h3>
                            Works with PHP 5.2.3+, no UTF-8 support, please don't use it anymore in production.
                            Licensed under the terms of the MPL 1.1.
                        </li>
                        <li>
                            <h3 class="h4">
                                <i class="fa fa-caret-right"></i>
                                <a href="/docs/2.0">phpMyFAQ 2.0 for admins and end-users</a>
                            </h3>
                            Last version running on PHP 4.4, no UTF-8 support, please don't use it anymore in
                            production. Licensed under the terms of the MPL 1.1.
                        </li>
                    </ul>

                    <h2>phpMyFAQ 1.x documentation</h2>
                    <p>
                        If you're looking for documentations for phpMyFAQ 1.x, please send us an
                        <a href="mailto:info@phpmyfaq.de">email</a>.
                    </p>
                </div>
            </div>
        </div>
    </section>

{{> footer ~}}

{{> scripts ~}}
