---
title: Coding standards
description: Coding styles for PHP code, HTML, and SCSS/CSS. Please take care you follow these coding standards.
canonical: docs/standards
layout: none
---
{{> head ~}}

{{> header ~}}

<section class="contribute section">
    <div class="container">
        <h1>{{page.title}}</h1>

        <p class="intro">
            All files have to be UTF-8 encoded, never use any other encoding.
        </p>

        <div class="row">
            <div class="col-lg-12">

                <h2>PHP7</h2>
                <p>
                    We're using the PSR coding standards for phpMyFAQ. You can find the definition of these
                    coding standards here:
                </p>
                <ul>
                    <li>
                        <a rel="nofollow" target="_blank" href="http://www.php-fig.org/psr/psr-1/">
                            PSR-1
                        </a>
                    </li>
                    <li>
                        <a rel="nofollow" target="_blank" href="http://www.php-fig.org/psr/psr-2/">
                            PSR-2
                        </a>
                    </li>
                    <li>
                        <a rel="nofollow" target="_blank" href="http://www.php-fig.org/psr/psr-4/">
                            PSR-4
                        </a>
                    </li>
                    <li>
                        <a rel="nofollow" target="_blank" href="http://www.php-fig.org/psr/psr-12/">
                            PSR-12 (in progress)
                        </a>
                    </li>
                </ul>

                <h2>HTML5</h2>
                <ul>
                    <li>
                        We use the HTML5 doctype, which is easy to remember: &lt;!DOCTYPE html&gt;
                    </li>
                    <li>
                        Two spaces for indentation, never tabs
                    </li>
                    <li>
                        Double quotes only, never single quotes
                    </li>
                    <li>
                        Always use proper indentation
                    </li>
                    <li>
                        Use tags and elements appropriate for an HTML5 doctype (e.g., self-closing tags)
                    </li>
                    <li>
                        Paragraphs of text should always be placed in a &lt;p&gt; tag. Never use multiple &lt;br/&gt;
                        tags.
                    </li>
                    <li>
                        Every form input that has text attached should utilize a &lt;label&gt; tag, especially
                        radio or checkbox elements.
                    </li>
                    <li>
                        Always put quotes around attributes for readability.
                    </li>
                </ul>

                <h2>CSS / SCSS</h2>
                <ul>
                    <li>
                        Two spaces for indentation, never tabs
                    </li>
                    <li>
                        Multiple-line approach (one property and value per line)
                    </li>
                    <li>
                        Always a space after a property's colon (.e.g, <em>display: block;</em> and not
                        <em>display:block;</em>)
                    </li>
                    <li>
                        End all lines with a semi-colon
                    </li>
                    <li>
                        For multiple, comma-separated selectors, place each selector on it's own line
                    </li>
                    <li>
                        Attribute selectors, like <em>input[type="text"]</em> should always wrap the attribute's
                        value in double quotes, for consistency and safety (see this
                        <a rel="nofollow" href="http://mathiasbynens.be/notes/unquoted-attribute-values">blog post
                            on unquoted attribute values</a> that can lead to XSS attacks).
                    </li>
                </ul>

                <h2>JavaScript / ECMAScript</h2>
                <ul>
                    <li>
                        Two spaces for indentation, never tabs
                    </li>
                    <li>
                        End all lines with a semi-colon
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>

{{> footer ~}}

{{> scripts ~}}
